---
layout: default
---

{% include custom/sections/article_header.html %}
<article>
  <div class="header-liste {% if page.image %}u-no-padding-bottom{% endif %}">
    <header class="row-body-article medium-uncollapse large-collapse">
      {% if page.image %}
        <div class="row column-header-article mod-header-article-no-margin-top">
          <div class="small-6 small-centered medium-4 medium-uncentered large-4 columns ">
            <figure class="figure-img mod-article-couverture-livre">
              <img src="{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-img/large/' }}" alt="{{ page.title }}">
            </figure>
          </div>
          <div class="small-12 medium-8 large-8 columns small-text-center medium-text-left ">
            <h1 itemprop="headline">{{ page.title }}</h1>
            {% if page.intro %}<p class="subheader">{{ page.intro }}</p>{% endif %}
            {% if page.siteweb %}<a href="{{ page.siteweb }}" class="button small primary" target="_blank">Site Web</a>{% endif %}
            {% if page.url-buy %}<a href="{{ page.url-buy }}" class="button radius success" target="_blank">{{ page.price }} &mdash; ACHETER</a>{% endif %}
          </div>
        </div>
      {% else %}
        <div class="small-12 medium-12 large-8 columns small-text-center large-text-left">
          <h1 itemprop="headline">{{ page.title }}</h1>
          {% if page.intro %}<p class="subheader">{{ page.intro }}</p>{% endif %}
        </div>
        <div class="small-12 medium-12 large-4 columns small-text-center large-text-right">
          {% if page.siteweb %}<a href="{{ page.siteweb }}" class="button small primary" target="_blank">Site Web</a>{% endif %}
          {% if page.url-buy %}<a href="{{ page.url-buy }}" class="button radius success" target="_blank">{{ page.price }} &mdash; ACHETER</a>{% endif %}
        </div>
      {% endif %}
    </header>
  </div>
  <div class="row-body-article item-contenu"> 
    
    <main class="column-body-article mod-article-left-body">
      {{ content }}
    </main>

    <div class="article-meta-by-time mod-article-right-meta show-for-large-up">
      <aside class="job--in-article mod-job-in-article-first-position">
      {% if site.offre-emploi %}
        <h1>AU TRAVAIL, NERD !</h1>
        {% assign offres = site.offre-emploi | reverse %}
        {% for offre in offres limit: 2 %}
          <p><a href="{{ offre.url | prepend: site.baseurl }}" title="{{ offre.title }}">
            {{ offre.entreprise }} recrute un {{ offre.fonction }} en {{ offre.type }} à {{ offre.lieu }}
          </a></p>
        {% endfor %}
        <p>via le <a class="job--in-article-to-board" href="/emploi/" title="Explorez la section emploi">Job Board du MDW</a></p>
      {% else %}
        <h1>AU TRAVAIL, NERD !</h1>
        <p>Vous cherchez du travail ? Explorez le <a class="job--in-article-to-board" href="/emploi/" title="Explorez la section emploi">Job Board du MDW</a>.</p>
      {% endif %}
      </aside>
    </div>

    <div class="row-body-article">
      <div class="column-body-article mod-article-left-body">
        {% include custom/cartes/carte_nl-in-post.html %}
        {% include custom/cartes/carte_twtr_no-mail.html %}
      </div>
    </div>
  </div>
</article>