---
layout: default
---

{% include header.html %}

<section>
	{% include custom/sections/apprendre-entries.html %}

	<!-- list header
	================================================== -->
	<div class="header-liste u-no-padding-bottom">
	  <header class="row-liste-index">
			{% include custom/sections/index-header-intro.html %}
		</header>

		{% if page.coming-soon == 'true' %}
			{% include custom/sections/inscription-alerte-release-modal-box.html %}
		{% else %}
		<!-- list filters
		================================================== -->
		<div class="row text-center">
		  <div class="small-12 columns">

		  	<!-- desktop list filters
				================================================== -->
		  	<div class="tabs u-no-margin-b hide-for-small-only">
					<a href="/apprendre/citations/" class="tabs-item {% if page.current_nav == '' %}is-active{% endif %}" title="Nouvelles citations"><svg class="ic-block-h48" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.5.67s.74 2.65.74 4.8c0 2.06-1.35 3.73-3.41 3.73-2.07 0-3.63-1.67-3.63-3.73l.03-.36C5.21 7.51 4 10.62 4 14c0 4.42 3.58 8 8 8s8-3.58 8-8C20 8.61 17.41 3.8 13.5.67zM11.71 19c-1.78 0-3.22-1.4-3.22-3.14 0-1.62 1.05-2.76 2.81-3.12 1.77-.36 3.6-1.21 4.62-2.58.39 1.29.59 2.65.59 4.04 0 2.65-2.15 4.8-4.8 4.8z" fill="#FF5700"/></svg>NOUVEAUTES</a>
					<a href="" class="tabs-item {% if page.current_nav == '' %}is-active{% endif %}" title="Filtrer les citations par thèmes" data-reveal-id="citations-filtre-themes">THEMES</a>

					<!-- desktop list filter modalbox
	        ================================================== -->
	        <div id="citations-filtre-themes" class="reveal-modal" data-reveal>
	          <div class="row-liste-index">
	            <div class="small-12 columns text-center">
	              <a class="close-reveal-modal">&#215;</a>
	              <div class="row-liste-index">
							    <div class="small-12 medium-6 medium-centered columns">
							      <p class="titre-modal-box">Explorer les citations par thèmes</p>
							    </div>
							  </div>
	              <div class="row-liste-index note-partage">
					        <div class="small-12 medium-6 medium-centered columns">
					        	<ul class="side-nav" role="navigation" title="Link List">
					        		{% for item in site.data.apprendre.citations-themes %}
												<li role="menuitem"><a href="{{ item.permalink }}" title="{{ item.name }}">{{ item.name }}</a></li>
					          	{% endfor %}
					        	</ul>
					        </div>
					      </div>
	            </div>
	          </div>
	        </div>

				</div>

				<!-- mobile list filters
				================================================== -->
		  	<div class="tabs u-no-margin-b show-for-small-only">
					<a href="#" class="tabs-item" title="Filtrer par catégories" data-reveal-id="citations-filtre-mobile"><svg class="ic-block-h48" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 18h4v-2h-4v2zm-7-12v2h18v-2h-18zm3 7h12v-2h-12v2z" fill="#999999"/><path d="M0 0h24v24h-24z" fill="none"/></svg>FILTRER PAR..</a>

					<!--  mobile list filters modalbox
	        ================================================== -->
	        <div id="citations-filtre-mobile" class="reveal-modal" data-reveal>
	          <div class="row-liste-index">
	            <div class="small-12 columns text-center">
	              <a class="close-reveal-modal">&#215;</a>
	              <div class="row-liste-index">
							    <div class="small-12 medium-6 medium-centered columns">
							      <p class="titre-modal-box">filtrer les citations</p>
							    </div>
							  </div>
	              <div class="row-liste-index note-partage">
					        <div class="small-12 medium-6 medium-centered columns">
					        	<ul class="side-nav" role="navigation" title="Link List">
						        	<li role="menuitem"><a href="/apprendre/citations/" title="Nouvelles citations"><svg class="ic-block-h48" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.5.67s.74 2.65.74 4.8c0 2.06-1.35 3.73-3.41 3.73-2.07 0-3.63-1.67-3.63-3.73l.03-.36C5.21 7.51 4 10.62 4 14c0 4.42 3.58 8 8 8s8-3.58 8-8C20 8.61 17.41 3.8 13.5.67zM11.71 19c-1.78 0-3.22-1.4-3.22-3.14 0-1.62 1.05-2.76 2.81-3.12 1.77-.36 3.6-1.21 4.62-2.58.39 1.29.59 2.65.59 4.04 0 2.65-2.15 4.8-4.8 4.8z" fill="#FF5700"/></svg>NOUVEAUTES</a></li>
					        		{% for item in site.data.apprendre.citations-themes %}
												<li role="menuitem"><a href="{{ item.permalink }}" title="{{ item.name }}">{{ item.name }}</a></li>
					          	{% endfor %}
					        	</ul>
					        </div>
					      </div>
	            </div>
	          </div>
	        </div>

				</div>

		  </div>
		</div>
		{% endif %}
	</div>

	{% if page.coming-soon == 'true' %}
	{% else %}
	<!-- list items
	================================================== -->
	<div class="{% if page.category == 'citations' %}current-page{% endif %}" {% if page.category == 'citations' %}data-page="citations"{% endif %}>

		<!-- list all items
		================================================== -->
		{% if page.category == 'citations' %}
			{% if site.categories.citations %}
				{% for post in site.categories.citations limit: 6 %}
				<div class="{{ post.bg-color }}">
					<div class="row-liste-index">
	  				<article class="small-12 columns js-postcount">
	  					<blockquote class="index-quote">
		  					{{ post.content }}
		  					<cite class="index-quote-author">
		  						<a class="index-quote-author-link" href="{{ post.source-url }}">{{ post.auteur }}</a>
		  					</cite>
		  					<div class="row collapse">
					        <div class="small-12 columns">
					          <div class="link-partage mod-partage-index-quote">
					          	<a href="#" data-reveal-id="{{ post.title | replace: ' ', '-' | remove_first: '.' }}">
					          		<svg class="ic-block-h24" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z" fill="#ffffff"/></svg>
					          		Partager
					          	</a>
					          </div>
					          {% include custom/sections/share-index-citation-modal-box.html %}
					        </div>
					      </div>
	  					</blockquote>
	  				</article>
	  			</div>
  			</div>
				{% endfor %}
			{% else %}
				<p>Il n'y a pas d'item pour ce tag.</p>
			{% endif %}

		<!-- list items by tags
		================================================== -->
		{% else %}
			{% if site.tags[page.tags] %}
				{% for post in site.tags[page.tags] limit: 6 %}
				<div class="{{ post.bg-color }}">
					<div class="row-liste-index">
	  				<article class="small-12 columns js-postcount">
	  					<blockquote class="index-quote">
		  					{{ post.content }}
		  					<cite class="index-quote-author">
		  						<a class="index-quote-author-link" href="{{ post.source-url }}">{{ post.auteur }}</a>
		  					</cite>
		  					<div class="row collapse">
					        <div class="small-12 columns">
					          <div class="link-partage mod-partage-index-quote">
					          	<a href="#" data-reveal-id="{{ post.title | replace: ' ', '-' | remove_first: '.' }}">
					          		<svg class="ic-block-h24" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z" fill="#ffffff"/></svg>
					          		Partager
					          	</a>
					          </div>
					          {% include custom/sections/share-index-citation-modal-box.html %}
					        </div>
					      </div>
	  					</blockquote>
	  				</article>
	  			</div>
  			</div>
				{% endfor %}
			{% else %}
				<p>Il n'y a pas d'item pour ce tag.</p>
			{% endif %}
		{% endif %}

  </div>
	{% endif %}
</section>

<!-- list all section's categories
================================================== -->
{% include custom/cartes/carte_cross-navigation-apprendre.html %}
