---
layout: default
---

{% include header.html %}

<section>
	{% include custom/sections/apprendre-entries.html %}

	<!-- list header 
	================================================== -->
	<div class="header-liste mod-break-edge">
	  <header class="row-liste-index">
			{% include custom/sections/index-header-intro.html %}
		</header>

		<!-- list filters
		================================================== -->
		<div class="row text-center large-text-left"> 
		  <div class="medium-12 large-9 columns">

		  	<!-- desktop list filters 
				================================================== -->
		  	<div class="tabs u-no-margin-b hide-for-small-only">
					<a href="/apprendre/livres/" class="tabs-item {% if page.current_nav == '' %}is-active{% endif %}" title="Nouveaux livres"><svg class="ic-block-h48" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.5.67s.74 2.65.74 4.8c0 2.06-1.35 3.73-3.41 3.73-2.07 0-3.63-1.67-3.63-3.73l.03-.36C5.21 7.51 4 10.62 4 14c0 4.42 3.58 8 8 8s8-3.58 8-8C20 8.61 17.41 3.8 13.5.67zM11.71 19c-1.78 0-3.22-1.4-3.22-3.14 0-1.62 1.05-2.76 2.81-3.12 1.77-.36 3.6-1.21 4.62-2.58.39 1.29.59 2.65.59 4.04 0 2.65-2.15 4.8-4.8 4.8z" fill="#FF5700"/></svg>NOUVEAUTES</a>
					<a href="" class="tabs-item {% if page.current_nav == '' %}is-active{% endif %}" title="Filtrer les livres par thèmes" data-reveal-id="livres-filtre-categories">THEMES</a>
					
					<!-- desktop list filter modalbox
	        ================================================== -->
	        <div id="themes-wp-filtre-types" class="reveal-modal" data-reveal>
	          <div class="row-liste-index">
	            <div class="small-12 columns text-center">
	              <a class="close-reveal-modal">&#215;</a>
	              <div class="row-liste-index">
							    <div class="small-12 medium-6 medium-centered columns">
							      <p class="titre-modal-box">Filtrer les livres par thèmes</p>
							      <hr>
							    </div>
							  </div>
	              <div class="row-liste-index note-partage">
					        <div class="small-12 medium-6 medium-centered columns">
					         	<ul class="side-nav" role="navigation" title="Link List">
									  	{% for item in site.data.apprendre.livres-categories %}
												<li role="menuitem"><a href="{{ item.permalink }}" title="{{ item.name }}">{{ item.name }}</a></li>
					          	{% endfor %}
									 	</ul>
					        </div>
					      </div>
	            </div>
	          </div>
	        </div>

				</div>

				<!-- mobile list filters
				================================================== -->
		  	<div class="tabs u-no-margin-b show-for-small-only">
					<a href="#" class="tabs-item" title="Filtrer par catégories" data-reveal-id="themes-wp-filtre-mobile"><svg class="ic-block-h48" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 18h4v-2h-4v2zm-7-12v2h18v-2h-18zm3 7h12v-2h-12v2z" fill="#999999"/><path d="M0 0h24v24h-24z" fill="none"/></svg>FILTRER PAR..</a>
					
					<!--  mobile list filters modalbox
	        ================================================== -->
	        <div id="themes-wp-filtre-mobile" class="reveal-modal" data-reveal>
	          <div class="row-liste-index">
	            <div class="small-12 columns text-center">
	              <a class="close-reveal-modal">&#215;</a>
	              <div class="row-liste-index">
							    <div class="small-12 medium-6 medium-centered columns">
							      <p class="titre-modal-box">Vous cherchez un livre...</p>
							      <hr>
							    </div>
							  </div>
	              <div class="row-liste-index note-partage">
					        <div class="small-12 medium-6 medium-centered columns">
					        	<ul class="side-nav" role="navigation" title="Link List">
					        		<li role="menuitem"><a href="/apprendre/livres/" title="Nouveaux livres"><svg class="ic-block-h48" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.5.67s.74 2.65.74 4.8c0 2.06-1.35 3.73-3.41 3.73-2.07 0-3.63-1.67-3.63-3.73l.03-.36C5.21 7.51 4 10.62 4 14c0 4.42 3.58 8 8 8s8-3.58 8-8C20 8.61 17.41 3.8 13.5.67zM11.71 19c-1.78 0-3.22-1.4-3.22-3.14 0-1.62 1.05-2.76 2.81-3.12 1.77-.36 3.6-1.21 4.62-2.58.39 1.29.59 2.65.59 4.04 0 2.65-2.15 4.8-4.8 4.8z" fill="#FF5700"/></svg>NOUVEAUTES</a></li>
					        		{% for item in site.data.apprendre.livres-categories %}
												<li role="menuitem"><a href="{{ item.permalink }}" title="{{ item.name }}">{{ item.name }}</a></li>
					          	{% endfor %}
					        	</ul>
					        </div>
					      </div>
	            </div>
	          </div>
	        </div>

				</div>

		  </div>
		  <div class="large-3 columns text-right show-for-large-up section-header"> 
		  	<!-- Number of item by index -->
				{% if page.category == 'livres' %}
					{% for post in site.categories.livres %}
				    {% capture length %}{{ forloop.length }}{% endcapture %}
				  {% endfor %}
				{% else %}
					{% for post in site.tags[page.tags] %}
				    {% capture length %}{{ forloop.length }}{% endcapture %}
				  {% endfor %}
				{% endif %}
		    <span class="section-header-titre">{{ length }} livres</span>
		  </div>
		</div>

	</div>
	
	<!-- list subheader
	================================================== -->
	<div class="row show-for-small-only">
	  <div class="small-12 columns section-header">
	    <!-- Number of item by index -->
			{% if page.category == 'livres' %}
				{% for post in site.categories.livres %}
			    {% capture length %}{{ forloop.length }}{% endcapture %}
			  {% endfor %}
			{% else %}
				{% for post in site.tags[page.tags] %}
			    {% capture length %}{{ forloop.length }}{% endcapture %}
			  {% endfor %}
			{% endif %}
	    <span class="section-header-titre">{{ length }} livres</span>
	  </div>
	</div>
	
	<!-- list items
	================================================== -->
	<div class="row-liste-index-break-edge"> 
	  <div class="small-12 columns">
			<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-5 {% if page.category == 'livres' %}current-page{% endif %}">

			<!-- Upload yours
			================================================== -->
			<li>
        <article class="js-postcount" itemscope="" itemtype="http://schema.org/Article"  data-equalizer-watch>

          <div class="row collapse">
            <div class="small-12 columns carte-article-secondaire-thumbnail mod-thumbnail-ratio-8-11 mod-thumbnail-action-ratio-8-11">
            	<a href="">
			          <div class="carte-article-secondaire mod-article-thumbnail-1-col-ratio-8-11 row collapse">
			            <div class="small-12 columns carte-article-secondaire-container-action">
				          	<p class="carte-article-secondaire-action-texte text-center">
				          		<a class="typeform-share link carte-article-secondaire-action-link" href="https://magazineduwebdesign.typeform.com/to/R2wfEq" data-mode="2" target="_blank"><svg class="ic-block-h24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" fill="#999999"/></svg>SUGGERER</a>
											<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
				          	</p>
			            </div>
			          </div>
		        	</a>
            </div>
          </div>

        </article>
			</li>

			<!-- list all items
			================================================== -->
			{% if page.category == 'livres' %} 
				{% if site.categories.livres %}
					{% for post in site.categories.livres limit: 6 %}
					<li>
					  <article class="js-postcount" itemscope="" itemtype="http://schema.org/Article"  data-equalizer-watch>
					    
					    {% if post.image %}
					      <div class="row collapse">
					        <div class="small-12 columns carte-article-secondaire-thumbnail mod-thumbnail-ratio-8-11" data-interchange="[{{ post.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-img/small/' }}, (small)]" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
					          <a href="{{ post.url | prepend: site.baseurl }}">
					            <div class="carte-article-secondaire mod-article-thumbnail-1-col-ratio-8-11 row collapse">
					              <div class="small-12 columns">
					                <h1 class="carte-article-secondaire-post-title mod-small-title show-for-small-only" itemprop="headline">{{ post.title | truncate: 34 }}</h1>
					                <h1 class="carte-article-secondaire-post-title mod-small-title hide-for-small" itemprop="headline">{{ post.title | truncate: 68 }}</h1> 
					              </div>
					            </div>
					          </a>
					        </div>
					      </div>
					    {% endif %}

					  </article>
					</li>
					{% endfor %}
				</ul>
				{% else %}
					<p>Il n'y a pas d'articles pour ce tag.</p>
				{% endif %}

			<!-- list items by tags
			================================================== -->
			{% else %}
				{% if site.tags[page.tags] %}
					{% for post in site.tags[page.tags] limit: 6 %}
					<li>
					  <article itemscope="" itemtype="http://schema.org/Article"  data-equalizer-watch>
					    
					    {% if post.image %}
					      <div class="row collapse">
					        <div class="small-12 columns carte-article-secondaire-thumbnail mod-thumbnail-ratio-8-11" data-interchange="[{{ post.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-img/small/' }}, (small)]" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
					          <a href="{{ post.url | prepend: site.baseurl }}">
					            <div class="carte-article-secondaire mod-article-thumbnail-1-col-ratio-8-11 row collapse">
					              <div class="small-12 columns">
					                <h1 class="carte-article-secondaire-post-title mod-small-title show-for-small-only" itemprop="headline">{{ post.title | truncate: 34 }}</h1>
					                <h1 class="carte-article-secondaire-post-title mod-small-title hide-for-small" itemprop="headline">{{ post.title | truncate: 68 }}</h1> 
					              </div>
					            </div>
					          </a>
					        </div>
					      </div>
					    {% endif %}

					  </article>
					</li>
					{% endfor %}
				</ul>
				{% else %}
					<p>Il n'y a pas d'articles pour ce tag.</p>
				{% endif %}

			{% endif %}

	  </div>
	</div>
	
	<div class="infinite-spinner"></div>

</section>