---
layout: default
---

{% include header.html %}
<section>
	{% include custom/sections/articles-entries.html %}

	<div class="header-liste">
	  <header class="row-liste-index">
			{% include custom/sections/index-header-intro.html %}
		</header>
		<div class="row-liste-index">
			<div class="small-12 columns">
				<div class="header-liste-panel-info radius">
				  <p>La plupart des articles de cette section correspondent aux contenus publiés durant la première vie du Magazine du Webdesign, entre 2012-2013. Je vous invite à explorer les nouveaux formats de contenus disponibles dans les sections <a href="/apprendre/" title="Section Apprendre">Apprendre</a>, <a href="/decouvrir/" title="Section Découvrir">Découvrir</a>, <a href="/videos/" title="Section Vidéos">Voir</a>, etc.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row-liste-index">
	  <div class="small-12 columns section-header">
	    <!-- Number of item by collection -->
		  {% for post in site.categories[page.category] %}
		    {% capture length %}{{ forloop.length }}{% endcapture %}
		  {% endfor %}
	    <span class="section-header-titre">{{ length | append: ' Articles à explorer'}}</span>
	  </div>
	</div>


	<div class="row-liste-index">
	  <div class="small-12 columns section-carte-index-panel current-page" data-page="{{page.category}}">

			<!-- ads -->
			{% include custom/cartes/carte_ad_liste-index-panel.html %}

			{% if site.categories[page.category] %}
				{% for post in site.categories[page.category] limit: 8 %}
					<a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
	          <article class="carte-article-secondaire js-postcount" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">

	            <div class="row collapse">
	              <div class="small-9 columns">
	              	<h1 class="carte-article-secondaire-post-title" itemprop="headline">{{ post.title }}</h1>
	              </div>

	              <div class="small-3 columns">
	                {% if post.image %}
	                <div class="carte-article-secondaire-thumbnail right" data-interchange="[{{ post.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/' }}, (default)],
									[{{ post.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/' }}, (small)],
									[{{ post.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/lsmall/' }}, (smallretina)],
									[{{ post.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/' }}, (medium)],
									[{{ post.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/lsmall/' }}, (mediumretina)],
									[{{ post.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/' }}, (large)],
									[{{ post.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/lsmall/' }}, (largeretina)]"></div>
									{% endif %}
	              </div>
	            </div>

	          </article>
	        </a>
				{% endfor %}

			{% else %}
				<p>Il n'y a pas d'articles pour cette catégorie.</p>
			{% endif %}

	  </div>
	</div>

	<div class="infinite-spinner"></div>

</section>
