---
layout: default
---

{% include header.html %}
<section>
	<div class="header-liste">
	  <header class="row-liste-index">
			{% include custom/sections/index-header-intro.html %}
		</header>
	</div>

	<div class="row-liste-index">
	  <div class="small-12 columns section-header">
	    <!-- Number of item by collection -->
		  {% for post in site.categories[page.category] %}
		    {% capture length %}{{ forloop.length }}{% endcapture %}
		  {% endfor %}
	    <span class="section-header-titre">{{ length | append: ' Articles à explorer'}}</span>
	  </div>
	</div>


	<div class="row-liste-index">
	  <div class="small-12 columns section-carte-index-panel current-page" data-page="{{page.category}}">
			{% if site.categories[page.category] %}
				{% for post in site.categories[page.category] limit: 5 %}
					<a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
	          <article class="carte-article-secondaire js-postcount" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
	            
	            <div class="row collapse">
	              <div class="small-9 columns">
	              	<h1 class="carte-article-secondaire-post-title" itemprop="headline">{{ post.title }}</h1> 
	              </div>

	              <div class="small-3 columns">
	                {% if post.image %}
	                <div class="carte-article-secondaire-thumbnail right" data-interchange="[{{ post.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-img/xsmall/' }}, (default)]"></div>
	                {% endif %}
	              </div>
	            </div>

	          </article>
	        </a>
				{% endfor %} 

			{% else %}
				<p>Il n'y a pas d'articles pour cette catégorie.</p>
			{% endif %}

	  </div>
	</div>

	<div class="infinite-spinner"></div>

</section>