---
layout: default
---

{% include header.html %}
<section>
	<div class="header-liste">
	  <header class="row-liste-index">
			{% include custom/sections/index-header-intro.html %}
		</header>
	</div>

	<div class="row-liste-index">
	  <div class="small-12 columns section-header">
	    <span class="section-header-titre">Articles à explorer</span>
	  </div>
	</div>
	
	{% include custom/cartes/carte_cat.html param="ux" %}
	{% include custom/cartes/carte_cat.html param="wordpress" %}
	{% include custom/cartes/cartenl.html %}
	{% include custom/cartes/carte_cat.html param="ruby-on-rails" %}
	{% include custom/cartes/carte_cat.html param="wordpress" %}
	{% include custom/cartes/cartetwtr.html %}

</section>