---
layout: default
---

{% include header.html %}
<section>
	<div class="header-liste">
	  <header class="row-liste-index">
			{% include custom/sections/index-header-intro.html %}
		</header>
		<div class="row-liste-index">
			<div class="small-12 columns">
				<div class="header-liste-panel-info radius">
				  <p>La plupart des articles de cette section correspondent aux contenus publiés durant la première vie du Magazine du Webdesign, entre 2012-2013. Je vous invite à explorer les nouveaux formats de contenus disponibles dans les sections <a href="/conseils/" title="Section Conseils">Conseils</a>, <a href="/ressources/" title="Section Ressources">Ressources</a>, <a href="/videos/" title="Section Vidéos">Voir</a>, etc.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row-liste-index">
	  <div class="small-12 columns section-header">
	    <span class="section-header-titre">Articles à explorer</span>
	  </div>
	</div>
	{% include custom/cartes/carte_cat.html param="design" %}
	{% include custom/cartes/carte_ad_liste-index.html %}
	{% include custom/cartes/carte_cat.html param="developpement" %}
	{% include custom/cartes/cartenl.html %}
	{% include custom/cartes/carte_cat.html param="fun" %}
	{% include custom/cartes/carte_cat.html param="graphisme" %}
	{% include custom/cartes/cartetwtr.html %}
	{% include custom/cartes/carte_cat.html param="mobile" %}
	{% include custom/cartes/carte_cat.html param="ressources-outils" %}
	{% include custom/cartes/cartenl.html %}
	{% include custom/cartes/carte_cat.html param="ux-design" %}
	{% include custom/cartes/carte_cat.html param="wordpress" %}
	{% include custom/cartes/cartetwtr.html %}

</section>
<!-- list all sections
================================================== -->
{% include custom/cartes/carte_cross-navigation-app_liste-index.html %}
