---
layout: default
---

{% include custom/sections/article_header.html %}
<article>
  <div class="{{ page.bg-color }}">
    <div class="row-liste-index">
      <main class="small-12 columns">
        <blockquote class="index-quote text-center">
          {{ content }}
          <cite class="index-quote-author">
            <a class="index-quote-author-link" href="{{ page.source-url }}">{{ page.auteur }}</a>
          </cite>
        </blockquote>
        <div class="row collapse">
          <div class="small-12 columns">
            <div class="link-partage mod-partage-index-quote text-center">
              <a href="{{ site.baseurl }}/{{ page.path1 }}/{{ page.path2 }}/">
                PLUS DE CITATIONS <svg class="ic-block-h24" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path d="M9 3L7.94 4.06l4.19 4.19H3v1.5h9.13l-4.19 4.19L9 15l6-6z" fill="#ffffff"/></svg>
              </a>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>

  <div class="row-body-article item-contenu">
    <main class="column-body-article mod-article-left-body">
      {{ content }}
    </main>
    <div class="article-meta-data-right mod-article-contenu-meta-data">
      {% include custom/cartes/carte_job-in-article_right.html %}
    </div>
  </div>

</article>
{% include custom/sections/article_footer_left.html %}