---
layout: default
---

{% include header.html %} 

<section>
  <div class="header-liste"> 
    <header class="row-liste-index">
      {% include custom/sections/index-header-intro.html %}
    </header>
  </div>

  <div class="row-liste-index">
    <div class="small-12 columns section-header">
      <!-- Number of item by collection -->
      {% for collection in site.collection %}
        {% capture length %}{{ forloop.length }}{% endcapture %}
      {% endfor %}
      <span class="section-header-titre">{{ length | append: ' Collections à explorer'}}</span>
    </div>
  </div>

  <div class="row-liste-index">
    <div class="small-12 columns collection-index-panel current-page" data-page="collections">

      {% if site.collections.collection %}
        {% assign collections = site.collection | reverse %}
        {% for collection in collections limit: 2 %}

          <a href="{{ collection.url | prepend: site.baseurl }}" title="{{ collection.title }}">
            <article class="collection-index-article js-postcount" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting" data-interchange="[{{ collection.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-img/small/' }}, (small)],[{{ collection.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-img/medium/' }}, (medium)],[{{ collection.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-img/large/' }}, (large)]">
              <div class="shadow-img">
                <div class="collection-index-article-content">
                  <h1 class="collection-index-article-content-title text-center" itemprop="headline">{{ collection.title }}</h1>
                  <p class="text-center">{{ collection.desc | truncate: 80 }}</p>
                </div>
              </div>
            </article>
          </a>

        {% endfor %}

      {% else %}
        <p>Il n'y a pas de collection.</p>
      {% endif %}
      {% include custom/cartes/cartenl.html %}
    </div>
  </div>
  <div class="infinite-spinner"></div>

  <!-- list all sections
  ================================================== -->
  <section>
    <div class="row-liste-index">
      <div class="small-12 columns section-carte-header-no-bg">
        <h1 class="section-carte-header-title-big text-center">Explorez le meilleur des interfaces</h1>
      </div>
    </div>

    <div class="row-liste-index">
      <div class="small-12 columns">
        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3" data-equalizer>
        
        {% for item in site.data.navigation.navigation-entries %}
          <li role="menuitem">
            <article class="grid-article-card" itemscope="" itemtype="http://schema.org/Article" data-equalizer-watch>
              <a class="grid-article-card-link-wrap" href="{{ item.permalink }}" title="{{ item.name }}">
                <div class="row collapse text-center">
                  <div class="grid-article-card-info mod-action small-12 columns">
                    <h2 class="grid-article-card-title mod-action" itemprop="headline">{{ item.name }}</h2>
                  </div>
                </div>
              </a>
            </article>
          </li>
        {% endfor %}

        </ul>
      </div>
    </div>
  </section>

</section>