---
layout: default
---
{% include custom/sections/article_header.html %}
<section>
  <div class="header-collection header-background-title mod-header-list-cards-section mod-collection">

    <header class="row-liste-index">
      <div class="small-12 columns text-center">
        {% include custom/cartes/carte_ad_leaderboard_header.html %}
        <h1 class="headline-collection">{{ page.title }}</h1>
        {{ page.intro-header | markdownify }}
      </div>
      <div class="small-12 columns">
        {% include custom/sections/share-article-footer.html %}
      </div>
    </header>
  </div>
</section>

{% if page.bgimgheader == 'true' %}
<div class="header-collection-bgimg is-img" data-is-img="{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/medium/' }}" data-interchange="[{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/medium/' }}, (default)]">
</div>
{% endif %}

<section>
  <div class="row-liste-index">
    <div class="small-12 columns section-header">
      <!-- Number of item by collection -->
      {% for item in site.data.collections.[page.titre_fichier_data] %}
        {% capture length %}{{ forloop.length }}{% endcapture %}
      {% endfor %}
      <span class="section-header-titre {% if page.bgimgheader == 'true' %}mod-header-collection-bgimg{% endif %}">{{ length | append: ' Items dans cette collection'}}</span>
    </div>
  </div>

  <div class="row-liste-index">
    <main class="small-12 columns">
      <div class="section-carte-index-panel">

      {% if site.data.collections.[page.titre_fichier_data] %}
        {% for item in site.data.collections.[page.titre_fichier_data] %}

          <a href="{{ item.href }}" title="{{ item.title }}" target="_blank" rel="nofollow">
            <article class="carte-article-secondaire">

              <div class="row collapse">
                <div class="small-9 columns">
                  <h1 class="carte-article-secondaire-post-title">{{ item.title }}</h1>
                  {% if item.desc %}{{ item.desc | markdownify }}{% endif %}
                </div>

                <div class="small-3 columns">
                  {% if item.image %}
                  <img class="right" data-interchange="[{{ item.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/' }}, (default)],
                  [{{ item.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/' }}, (small)],
                  [{{ item.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/lsmall/' }}, (smallretina)],
                  [{{ item.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/' }}, (medium)],
                  [{{ item.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/lsmall/' }}, (mediumretina)],
                  [{{ item.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/' }}, (large)],
                  [{{ item.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/lsmall/' }}, (largeretina)]" alt="{{ item.title }}" width="140" height="auto" />
                  <noscript><img class="right" src="{{ item.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/' }}" alt="{{ item.title }}" width="140" height="auto" /></noscript>
                  {% endif %}
                </div>
              </div>

            </article>
          </a>

        {% endfor %}

      {% else %}
        <p>Il n'y a pas d'items dans cette collection.</p>
      {% endif %}
      </div>
      {% include custom/cartes/carte_ad_leaderboard.html %}
      <div class="row collapse article-partage mod-partage-section-brief-panel">
        {% include custom/sections/share-article-footer.html %}
      </div>
      {% include custom/cartes/cartenl.html %}
      {% include custom/cartes/carte_twtr_no-mail.html %}
      {% include custom/cartes/carte_ad_leaderboard.html %}
    </main>

  </div>
</section>
<!-- list all sections
================================================== -->
{% include custom/cartes/carte_cross-navigation-app_liste-index.html %}
