---
layout: default
---
{% include custom/sections/article_header.html %}
<section>
{% if page.bgimgheader == 'true' %}
  <div class="header-collection-bgimg is-img" data-is-img="{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/medium/' }}" data-interchange="[{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}, (default)],
  [{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/medium/' }}, (small)],
  [{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}, (smallretina)],
  [{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/medium/' }}, (medium)],
  [{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}, (mediumretina)],
  [{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}, (large)],
  [{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}, (largeretina)]">
{% endif %}

  <div class="header-collection-shadow">
    <div class="header-collection">
      <header class="row-liste-index">
        <div class="small-12 columns">
          <h1 class="headline-collection text-center">{{ page.title }}</h1>
          <p class="header-liste-content mod-bg-img text-center">{{ page.intro-header }}</p>
        </div>
      </header>
    </div>
  </div>
</section>

{% if page.bgimgheader == 'true' %}
</div>
{% endif %}
<div class="row-liste-index">
  <div class="small-12 columns section-header">
    <!-- Number of item by collection -->
    {% for item in site.data.collections.[page.titre_fichier_data] %}
      {% capture length %}{{ forloop.length }}{% endcapture %}
    {% endfor %}
    <span class="section-header-titre">{{ length | append: ' Items dans cette collection'}}</span>
  </div>
</div>

<div class="row-liste-index">
  <main class="small-12 columns">
    <div class="section-carte-index-panel">

    {% if site.data.collections.[page.titre_fichier_data] %}
      {% for item in site.data.collections.[page.titre_fichier_data] %}

        <a href="{{ item.href }}" title="{{ item.title }}" target="_blank">
          <article class="carte-article-secondaire">

            <div class="row collapse">
              <div class="small-9 columns">
                <h1 class="carte-article-secondaire-post-title">{{ item.title }}</h1>
                {% if item.desc %}<p>{{ item.desc }}</p>{% endif %}
              </div>

              <div class="small-3 columns">
                {% if item.image %}
                <img class="right" data-interchange="[{{ item.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/' }}, (default)],
                [{{ item.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/' }}, (small)],
                [{{ item.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/lsmall/' }}, (smallretina)],
                [{{ item.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/' }}, (medium)],
                [{{ item.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/lsmall/' }}, (mediumretina)],
                [{{ item.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/' }}, (large)],
                [{{ item.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/lsmall/' }}, (largeretina)]" alt="{{ item.title }}" width="140" height="auto" />
                <noscript><img class="right" src="{{ item.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/' }}" alt="{{ item.title }}" width="140" height="auto" /></noscript>
                {% endif %}
              </div>
            </div>

          </article>
        </a>

      {% endfor %}

    {% else %}
      <p>Il n'y a pas d'items dans cette collection.</p>
    {% endif %}
    </div>
    {% include custom/sections/article_footer_left.html %}
  </main>

</div>
