---
layout: default
---
{% include custom/sections/article_header.html %}
<article itemscope itemtype="http://schema.org/Product">
  <div class="header-liste mod-no-bg-gradient">
    <header class="row-body-article medium-uncollapse large-collapse">
      <div class="small-12 large-1 columns small-text-center">
        <div class="rounded-img-d64 is-img" data-is-img="{{ page.logo | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/' }}" data-interchange="[{{ page.logo | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/' }}, (small)]" itemprop="image"></div>
      </div>
      <div class="small-12 large-7 columns small-text-center large-text-left">
        <h1 itemprop="name"><span class="left job--entreprise">{{ page.title }} <span class="label--new">{% if page.percent-off %}{{ page.percent-off }}{% endif %}</span></span></h1>
        <div itemprop="review" itemscope itemtype="http://schema.org/Review">
          <p class="article-bgimg-meta-by-time">
            {% capture datearticle %}
              {% assign A = page.date | date: "%A" %}
              {% case A %}
                {% when 'Monday' %}Lundi
                {% when 'Tuesday' %}Mardi
                {% when 'Wednesday' %}Mercredi
                {% when 'Thursday' %}Jeudi
                {% when 'Friday' %}Vendredi
                {% when 'Saturday' %}Samedi
                {% when 'Sunday' %}Dimanche
              {% endcase %}
              {{ page.date | date: " %-d " }}
              {% assign B = page.date | date: "%-m" %}
              {% case B %}
                {% when '1' %}Janvier
                {% when '2' %}F&eacute;vrier
                {% when '3' %}Mars
                {% when '4' %}Avril
                {% when '5' %}Mai
                {% when '6' %}Juin
                {% when '7' %}Juillet
                {% when '8' %}Ao&ucirc;t
                {% when '9' %}Septembre
                {% when '10' %}Octobre
                {% when '11' %}Novembre
                {% when '12' %}D&eacute;cembre
              {% endcase %}
              {{ page.date | date: " %Y" }}
            {% endcapture %}
            <meta itemprop="datePublished" content="{{ page.date | date: "%F" }}"><time itemprop="datePublished" datetime="{{ page.date | date: "%F" }}">Mise à jour {{ datearticle }}</time>
            &bull;
            {% if page.rating %}
              <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating"> Noté
                <span itemprop="ratingValue">{{ page.rating }}</span>&frasl;<span itemprop="bestRating">10</span> par
                <meta itemprop="worstRating" content="1"/>
              </span>
            {% endif %}
            {% if page.auteur %}
              <a href="https://twitter.com/{{ page.auteur }}" title="Profil Twitter – {{ page.auteur }}" target="_blank" rel="nofollow" itemprop="author" itemscope="" itemtype="http://schema.org/Person"><span itemprop="name">@{{ page.auteur }}</span></a>
            {% endif %}
          </p>
          {% if page.intro %}
            {% if page.intro %}{{ page.intro | markdownify }}{% endif %}
          {% endif %}
        </div>
        <!-- if ressource have a nice cover -->
        {% if page.image-sub-post-intro %}
        <figure class="gallery figure-img mod-inspiration-article-gallery mod-app-screenshot">
          <a  onclick="ga('send', 'event', '{{ page.category }}', 'goToDeal', '{{ page.title }}');" href="{{ page.url-deal }}" title="Code promo &ndash; {{ page.title }}" target="_blank" rel="nofollow">
            <img src="{{ page.image-sub-post-intro | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" alt="Bannière - {{ page.title }}" width="640" height="auto">
          </a>
        </figure>
        {% endif %}
      </div>
      <div class="small-12 large-offset-1 large-3 columns small-text-center large-text-left">
        {% unless page.metadata == 'false' %}
        <!-- metadata
        ================================================== -->
        <div class="article-meta-data">
          <ul class="side-nav mod-article-meta-data" role="navigation" title="metadata">
            {% if page.coupon %}
              <li class="article-meta-data-header-title">CODE COUPON</li>
              <li role="menuitem"><a onclick="ga('send', 'event', '{{ page.category }}', 'goToDeal', '{{ page.title }}');" class="button expand small radius primary" href="{{ page.url-deal }}" title="Code promo &ndash; {{ page.title }}" target="_blank" rel="nofollow">{{ page.coupon }}</a><li>
              <li role="menuitem">👆 Cliquez pour copier et ouvrir le site  &bull; Dernière utilisation il y a 8 heures</li>
            {% else %}
              <li class="article-meta-data-header-title">Aucun code nécessaire</li>
              <li role="menuitem"><a onclick="ga('send', 'event', '{{ page.category }}', 'goToDeal', '{{ page.title }}');" class="button expand small radius primary" href="{{ page.url-deal }}" title="Code promo &ndash; {{ page.title }}" target="_blank" rel="nofollow">OBTENIR LA PROMO</a><li>
              <li role="menuitem">Cliquez pour ouvrir le site  &bull; Dernière utilisation il y a 8 heures</li>
            {% endif %}
          </ul>
        </div>
        {% endunless %}
      </div>
    </header>
  </div>

  <div class="row-body-article item-contenu">
    <main class="column-body-article mod-article-left-body">
      {{ content }}
      <div class="row collapse article-partage">
			  {% include custom/sections/share-article-footer.html %}
			</div>
      {% include custom/sections/article_footer_left.html %}
    </main>
    <div class="article-meta-data-right mod-article-contenu-meta-data">
      {% include custom/cartes/carte_ad_in-article-sidebar-affiliate-bottom.html %}
      {% include custom/cartes/carte_post-a-job-in-article_right.html %}
    </div>
  </div>

</article>

<!-- list all section's categories
================================================== -->
{% include custom/cartes/carte_cross-navigation-ressources.html %}
