---
layout: default
---

{% include custom/sections/article_header.html %}
<article>
  <div class="header-liste {% if page.image %}u-no-padding-bottom{% endif %}">
    <header class="row-body-article medium-uncollapse large-collapse">
      {% if page.logo %}
        <div class="small-12 medium-12 large-1 columns small-text-center">
          <div class="rounded-img-d64 is-img" data-is-img="{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-img/xsmall/' }}"alt="logo {{ page.title }}" data-interchange="[{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-img/xsmall/' }}, (small)]"></div>
        </div>
        <div class="small-12 medium-12 large-8 columns small-text-center large-text-left">
          <h1 itemprop="headline">{{ page.title }}</h1>
          {% if page.intro %}<p class="subheader">{{ page.intro }} {% if page.auteur %}(Via <a href="https://twitter.com/{{ page.auteur }}" title="@{{ page.auteur }}" target="_blank">@{{ page.auteur }}</a>){% endif %}</p>{% endif %}
        </div>
        <div class="small-12 medium-12 large-3 columns small-text-center large-text-left"> 
          {% if page.github %}<a href="{{ page.github }}" class="button radius small secondary" target="_blank">GitHub</a>{% endif %}
          {% if page.siteweb %}<a href="{{ page.siteweb }}" class="button radius small primary" target="_blank">Site Web</a>{% endif %}
        </div>
      {% else %}
      <div class="column-header-article mod-header-article-no-margin-top row collapse">
        <div class="small-12 medium-12 large-8 columns small-text-center large-text-left">
          <h1 itemprop="headline">{{ page.title }}</h1>
          {% if page.intro %}<p class="subheader">{{ page.intro }} {% if page.auteur %}(Via <a href="https://twitter.com/{{ page.auteur }}">@{{ page.auteur }}</a>){% endif %}</p>{% endif %}
        </div>
        <div class="small-12 medium-12 large-4 columns small-text-center large-text-right"> 
          {% if page.github %}<a href="{{ page.github }}" class="button radius small secondary" target="_blank">GitHub</a>{% endif %}
          {% if page.siteweb %}<a href="{{ page.siteweb }}" class="button radius small primary" target="_blank">Site Web</a>{% endif %} 
          {% if page.url-demo %}<a href="{{ page.url-demo }}" class="button radius small secondary" target="_blank">DEMO</a>{% endif %}
          {% if page.url-buy %}<a href="{{ page.url-buy }}" class="button radius success" target="_blank">{{ page.price }} &mdash; ACHETER</a>{% endif %}
        </div>
      </div>
      {% endif %}

      {% if page.image %}
        <div class="row collapse">
          <div class="small-12 columns">
            <figure class="figure-img">
              <img src="{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-img/large/' }}" alt="{{ page.image-legende }}">
              {% if page.image-legende %}
              <div class="row collapse">
                <div class="small-12 columns">
                  <figcaption class="note-figcaption">{{ page.image-legende }}</figcaption>
                </div>
              </div>
              {% endif %}
            </figure>
          </div>
        </div>
        {% endif %}
    </header>
  </div>
  
  <div class="row-body-article item-contenu">
    <main class="column-body-article mod-article-left-body">
      {{ content }}
      {% include custom/sections/article_footer_left.html %}
    </main>
    <div class="article-meta-data-right mod-article-contenu-meta-data">
      {% include custom/cartes/carte_job-in-article_right.html %}
    </div>
  </div>

</article>