---
layout: default
---

{% include header.html %}
<section>
	{% include custom/sections/decouvrir-entries.html %}
	
	<div class="header-liste">
	  <header class="row-liste-index">
			{% include custom/sections/index-header-intro.html %}
		</header>
	</div>
	
	{% include custom/cartes/carte_items-thn.html param="themes-wordpress" %}
	{% include custom/cartes/carte_items-no-thn.html param="plugins-wordpress" %}
	{% include custom/cartes/carte_nl-index-large.html %} 
	{% include custom/cartes/carte_items-thn.html param="themes-wordpress" %}
	{% include custom/cartes/carte_items-no-thn.html param="plugins-wordpress" %}
	{% include custom/cartes/carte_twtr_index-large.html %}
	
	<!-- list all section's categories
	================================================== -->
	<section>
		<div class="row">
		  <div class="small-12 columns section-carte-header-no-bg">
		    <h1 class="section-carte-header-title-big text-center">Explorez les collections de ressources</h1>
		  </div>
		</div>

		<div class="row">
		  <div class="small-12 columns">
		    <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4" data-equalizer>
		    
		    {% for item in site.data.decouvrir.decouvrir-entries %}
		    	<li role="menuitem">
		        <a class="carte-article-secondaire-action-link" href="{{ item.permalink }}" title="{{ item.name }}">
		          <article class="carte-article-secondaire mod-article-1-col" itemscope="" itemtype="http://schema.org/Article" data-equalizer-watch>
		            <div class="row collapse">
		              <div class="small-12 columns carte-article-secondaire-container-action">
		                <h2 class="carte-article-secondaire-action-texte text-center">
		                  {{ item.name }}
		                </h2>
		              </div>
		            </div>
		          </article>
		        </a>
		      </li>
      	{% endfor %}

		    </ul>
		  </div>
		</div>
	</section>
</section>