---
layout: default
---

{% include custom/sections/article_header.html %}
<article>
  <div class="header-liste">
		<header class="row-body-article">
			<div class="small-12 medium-12 large-1 columns small-text-center">
				<div class="job--entreprise-logo is-offre" alt="logo {{ page.entreprise }}" data-interchange="[{{ page.image | prepend:'/img/small/' }}, (small)],[{{ page.image | prepend:'/img/medium/' }}, (medium)],[{{ page.image | prepend:'/img/large/' }}, (large)]"></div>
			</div>
      <div class="small-12 medium-12 large-9 columns columns small-text-center large-text-left">
        <h1 class="job--title" itemprop="headline"><span class="left job--entreprise">{{ page.entreprise }} {% if page.statut %}<span class="label--secondary">{{ page.statut }}{% endif %}</span></span><span class="job--description">recrute un {{ page.fonction }} en {{ page.type }} à {{ page.lieu }}</span></h1>
      </div>
			<div class="small-12 medium-12 large-2 columns small-text-center large-text-left"> 
        <a href="#" class="button radius">POSTULER</a>
			</div>
		</header>
	</div>
  <div class="row-liste-index hide-for-large-up">
    <div class="small-12 columns section-header">
      <span class="section-header-titre article-bgimg-meta-by-time">Publié le {% capture datearticle %}{% assign A = page.date | date: "%A" %}{% case A %}{% when 'Monday' %}Lundi{% when 'Tuesday' %}Mardi{% when 'Wednesday' %}Mercredi{% when 'Thursday' %}Jeudi{% when 'Friday' %}Vendredi{% when 'Saturday' %}Samedi{% when 'Sunday' %}Dimanche{% endcase %}{{ page.date | date: " %-d " }}{% assign B = page.date | date: "%-m" %}{% case B %}{% when '1' %}Janvier{% when '2' %}F&eacute;vrier{% when '3' %}Mars{% when '4' %}Avril{% when '5' %}Mai{% when '6' %}Juin{% when '7' %}Juillet{% when '8' %}Ao&ucirc;t{% when '9' %}Septembre{% when '10' %}Octobre{% when '11' %}Novembre{% when '12' %}D&eacute;cembre{% endcase %}{{ page.date | date: " %Y" }}{% endcapture %} <time itemprop="datePublished" datetime="{{ page.date | date: "%-d-%-m-%Y" }}">{{ datearticle }}</time></span>
    </div>
  </div>
	<div class="row-body-article job-offre--contenu"> 
    <aside class="article-meta-by-time show-for-large-up">
      <p class="article-bgimg-meta-by-time">Publié le {% capture datearticle %}{% assign A = page.date | date: "%A" %}{% case A %}{% when 'Monday' %}Lundi{% when 'Tuesday' %}Mardi{% when 'Wednesday' %}Mercredi{% when 'Thursday' %}Jeudi{% when 'Friday' %}Vendredi{% when 'Saturday' %}Samedi{% when 'Sunday' %}Dimanche{% endcase %}{{ page.date | date: " %-d " }}{% assign B = page.date | date: "%-m" %}{% case B %}{% when '1' %}Janvier{% when '2' %}F&eacute;vrier{% when '3' %}Mars{% when '4' %}Avril{% when '5' %}Mai{% when '6' %}Juin{% when '7' %}Juillet{% when '8' %}Ao&ucirc;t{% when '9' %}Septembre{% when '10' %}Octobre{% when '11' %}Novembre{% when '12' %}D&eacute;cembre{% endcase %}{{ page.date | date: " %Y" }}{% endcapture %} <time itemprop="datePublished" datetime="{{ page.date | date: "%-d-%-m-%Y" }}">{{ datearticle }}</time></p>
    </aside>

    <main class="column-body-article">
      
      {% if page.intro %}<p class="article-intro">{{ page.intro }}</p>{% endif %}
      {{ content }}
      
      <div class="row collapse article-partage">
        <div class="small-12 medium-6 columns">
          <ul class="inline-list">
            <li><a href="#" class="button radius">POSTULER</a></li>
          </ul>
        </div>
        <div class="small-12 medium-offset-2 medium-4 columns show-for-large-up">
          <div class="row collapse prefix-radius">
            <div class="small-3 columns partage-url"><span class="prefix">URL</span></div>
            <div class="small-9 columns"><input type="text" value="{{ site.url }}{{ page.url }}"></div>
          </div>
        </div>
      </div>
    </main>
  </div>
</article>