---
layout: default
---

{% include custom/sections/article_header.html %}
<article>
  <div class="header-liste mod-no-bg-gradient">
		<header class="row-body-article">
			<div class="small-12 medium-12 large-1 columns small-text-center">
				<div class="rounded-img-d64" alt="logo {{ page.entreprise }}" data-interchange="[{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-img/xsmall/' }}, (small)]"></div>
			</div>
      <div class="small-12 medium-12 large-9 columns columns small-text-center large-text-left">
        <h1 class="header-liste-headline" itemprop="headline"><span class="left job--entreprise">{{ page.entreprise }} {% if page.statut %}<span class="label--secondary">{{ page.statut }}{% endif %}</span></span><span class="job--description">recrute un {{ page.fonction }} en {{ page.type }} à {{ page.lieu }}</span></h1>
      </div>
			<div class="small-12 medium-12 large-2 columns small-text-center large-text-right"> 
        <a href="#" class="button radius">POSTULER</a>
			</div>
		</header>
	</div>
  <div class="row-liste-index hide-for-large-up">
    <div class="small-12 columns section-header">
      <span class="section-header-titre article-bgimg-meta-by-time">Publiée le {% capture datearticle %}{% assign A = page.date | date: "%A" %}{% case A %}{% when 'Monday' %}Lundi{% when 'Tuesday' %}Mardi{% when 'Wednesday' %}Mercredi{% when 'Thursday' %}Jeudi{% when 'Friday' %}Vendredi{% when 'Saturday' %}Samedi{% when 'Sunday' %}Dimanche{% endcase %}{{ page.date | date: " %-d " }}{% assign B = page.date | date: "%-m" %}{% case B %}{% when '1' %}Janvier{% when '2' %}F&eacute;vrier{% when '3' %}Mars{% when '4' %}Avril{% when '5' %}Mai{% when '6' %}Juin{% when '7' %}Juillet{% when '8' %}Ao&ucirc;t{% when '9' %}Septembre{% when '10' %}Octobre{% when '11' %}Novembre{% when '12' %}D&eacute;cembre{% endcase %}{{ page.date | date: " %Y" }}{% endcapture %} <time itemprop="datePublished" datetime="{{ page.date | date: "%-d-%-m-%Y" }}">{{ datearticle }}</time></span>
    </div>
  </div>
	<div class="row-body-article job-offre--contenu">
    <div class="article-meta-by-time show-for-large-up"> 
      <aside>
        <p class="article-meta-item-by">Publiée par</p>
        <p class="article-meta-auteur">
          <a href="https://twitter.com/{{ page.auteur }}">@{{ page.auteur }}</a>
        </p>
        {% capture datearticle %}
          {% assign A = page.date | date: "%A" %}
          {% case A %}
            {% when 'Monday' %}Lundi
            {% when 'Tuesday' %}Mardi
            {% when 'Wednesday' %}Mercredi
            {% when 'Thursday' %}Jeudi
            {% when 'Friday' %}Vendredi
            {% when 'Saturday' %}Samedi
            {% when 'Sunday' %}Dimanche
          {% endcase %}
          {{ page.date | date: " %-d " }}
          {% assign B = page.date | date: "%-m" %}
          {% case B %}{% when '1' %}Janvier
            {% when '2' %}F&eacute;vrier
            {% when '3' %}Mars
            {% when '4' %}Avril
            {% when '5' %}Mai
            {% when '6' %}Juin
            {% when '7' %}Juillet
            {% when '8' %}Ao&ucirc;t
            {% when '9' %}Septembre
            {% when '10' %}Octobre
            {% when '11' %}Novembre
            {% when '12' %}D&eacute;cembre
          {% endcase %}
          {{ page.date | date: " %Y" }}
        {% endcapture %}
        <p class="article-meta-item-time">
          <time>{{ datearticle }}</time>
        </p>
      </aside>
      
      {% include custom/cartes/carte_post-a-job-in-article_left.html %}
      
    </div>
    <main class="column-body-article">
      
      {% if page.intro %}<p class="article-intro">{{ page.intro }}</p>{% endif %}
      {{ content }}
      <a href="#" class="button radius">POSTULER</a>
      <div class="row collapse article-partage">
        <span class="article-meta-footer">Vous connaissez quelqu'un qui semble parfait(e) pour ce poste? Partagez cette page</span>
        {% include custom/sections/share-article-footer.html %}
      </div>
    </main>
  </div>
</article>
<div class="row-body-article">
  <div class="small-12 medium-12 large-3 columns"></div>
  <div class="column-body-article">

    {% include custom/cartes/carte_alerte-job.html %}

    {% include custom/cartes/cartetwtr.html %}
  </div>
</div>