---
layout: default
---

{% include custom/sections/article_header.html %}
<article>
  <div class="header-liste">
    <header class="row-body-article">
      <div class="small-12 medium-12 large-1 columns small-text-center">
        <div class="rounded-img-d64 is-img" data-is-img="{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-img/xsmall/' }}"alt="logo {{ page.title }}" data-interchange="[{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-img/xsmall/' }}, (small)]"></div>
      </div>
      <div class="small-12 medium-12 large-8 columns columns small-text-center large-text-left">
        <h1 class="headline-post" itemprop="headline">{{ page.title }}</h1>
        {% if page.intro %}<p class="subheader">{{ page.intro }}</p>{% endif %}
      </div>
      <div class="small-12 medium-12 large-3 columns small-text-center large-text-right"> 
        {% if page.github %}<a href="{{ page.github }}" class="button radius small secondary" target="_blank">Github</a>{% endif %}
        {% if page.siteweb %}<a href="{{ page.siteweb }}" class="button radius small primary" target="_blank">Site Web</a>{% endif %}
      </div>
    </header>
  </div>

  <div class="row-body-article item-contenu"> 
    <div class="article-meta-by-time show-for-large-up">
      <aside>
        <p class="article-meta-item-by">Publiée par</p>
        <p class="article-meta-auteur">
          <a href="https://twitter.com/{{ page.auteur }}">@{{ page.auteur }}</a>
        </p>
        {% capture datearticle %}
          {% assign A = page.date | date: "%A" %}
          {% case A %}
            {% when 'Monday' %}Lundi
            {% when 'Tuesday' %}Mardi
            {% when 'Wednesday' %}Mercredi
            {% when 'Thursday' %}Jeudi
            {% when 'Friday' %}Vendredi
            {% when 'Saturday' %}Samedi
            {% when 'Sunday' %}Dimanche
          {% endcase %}
          {{ page.date | date: " %-d " }}
          {% assign B = page.date | date: "%-m" %}
          {% case B %}{% when '1' %}Janvier
            {% when '2' %}F&eacute;vrier
            {% when '3' %}Mars
            {% when '4' %}Avril
            {% when '5' %}Mai
            {% when '6' %}Juin
            {% when '7' %}Juillet
            {% when '8' %}Ao&ucirc;t
            {% when '9' %}Septembre
            {% when '10' %}Octobre
            {% when '11' %}Novembre
            {% when '12' %}D&eacute;cembre
          {% endcase %}
          {{ page.date | date: " %Y" }}
        {% endcapture %}
        <p class="article-meta-item-time">
          <time>{{ datearticle }}</time>
        </p>
      </aside>
      
      {% include custom/cartes/carte_job-in-article_left.html %}
      
    </div>
    
    <main class="column-body-article">
      {{ content }}
    </main>
    
  </div>
</article>