---
layout: default
---

{% include header.html %}

<section>
  {% include custom/sections/conseils-entries.html %}
	{% include custom/sections/index-header-bg-img.html %}
  {% if page.coming-soon == 'true' %}
  {% else %}
  <div class="row-liste-index">
    <div class="small-12 columns section-header">
    {% if page.category %}
      <!-- Number of item by collection -->
      {% for encyclo in site.encyclo %}
        {% capture length %}{{ forloop.length }}{% endcapture %}
      {% endfor %}
      <span class="section-header-titre">{{ length | append: ' Définitions liées à '}}{{page.title}}</span>
    {% else %}
      <!-- Number of item by collection -->
      {% for encyclo in site.encyclo %}
        {% capture length %}{{ forloop.length }}{% endcapture %}
      {% endfor %}
      <span class="section-header-titre">{{ length | append: ' Définitions à explorer'}}</span>
    {% endif %}
    </div>
  </div>
  {% endif %}

  {% if page.coming-soon == 'true' %}
	{% else %}
	<!-- list items
	================================================== -->
  <div class="row-liste-index">
    <div class="small-12 columns section-carte-index-panel current-page" data-page="encyclos">

      {% if site.collections.encyclo %}
        {% assign encyclos = site.encyclo | sort: 'title' %}
        {% for encyclo in encyclos %}

          <a href="{{ encyclo.url | prepend: site.baseurl }}">
            <article class="carte-article-secondaire js-postcount">

              <div class="row collapse">
                <div class="small-9 columns">
                  <h1 class="carte-article-secondaire-post-title">{{ encyclo.title }}</h1>
                </div>

                <div class="small-3 columns">
                  {% if encyclo.image %}
                  <img class="right" data-interchange="[{{ encyclo.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/' }}, (default)],
									[{{ encyclo.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/' }}, (small)],
									[{{ encyclo.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/lsmall/' }}, (smallretina)],
									[{{ encyclo.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/' }}, (medium)],
									[{{ encyclo.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/lsmall/' }}, (mediumretina)],
									[{{ encyclo.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/' }}, (large)],
									[{{ encyclo.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/lsmall/' }}, (largeretina)]" alt="{{ encyclo.image-legende }}" width="140" height="auto" />
                  <noscript><img class="right" src="{{ encyclo.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/' }}" alt="{{ encyclo.image-legende }}" width="140" height="auto" /></noscript>
                  {% endif %}
                </div>
              </div>

            </article>
          </a>

        {% endfor %}

      {% else %}
        <p>Il n'y a pas d'articles pour ce tag.</p>
      {% endif %}

    </div>
  </div>
  <div class="infinite-spinner"></div>
	{% endif %}
</section>

<!-- list all section's categories
================================================== -->
{% include custom/cartes/carte_cross-navigation-conseils.html %}
