---
layout: default
---

{% include custom/sections/article_header.html %}
<article>
  <div class="header-liste">
    <header class="row-body-article">
      <div class="small-12 medium-12 large-1 columns small-text-center">
        <div class="job--entreprise-logo is-offre" alt="logo {{ page.title }}" data-interchange="[{{ page.image | prepend:'/img/small/' }}, (small)],[{{ page.image | prepend:'/img/medium/' }}, (medium)],[{{ page.image | prepend:'/img/large/' }}, (large)]"></div>
      </div>
      <div class="small-12 medium-12 large-8 columns columns small-text-center large-text-left">
        <!-- Categories on GitHub Pages without plugin
        source @minddust ==> https://github.com/minddust/minddust.github.io/blob/master/_layouts/post.html
        ================================================== -->
        {% if page.category %}
        {% for encyclo_category in site.data.encyclo_categories %}
          {% if encyclo_category.slug == page.category %}
            {% assign category = encyclo_category %}
          {% endif %}
        {% endfor %}
        {% if category %}
          {% capture category_content %}<a href="/encyclo/categorie/{{ category.slug }}/">{{ category.name | upcase }}</a>{% endcapture %}
        {% endif %}
        {% else %}
          {% assign category_content = '' %}
        {% endif %}
      
        <ul class="breadcrumbs is-encyclo show-for-large-up"><li>{{ category_content }}</li></ul>
        <h1 class="encyclo--title" itemprop="headline"><span class="left encyclo--title-def">{{ page.title }}</span>{% if page.intro %}<span class="encyclo--description">{{ page.intro }}</span>{% endif %}</h1>
      </div>
      <div class="small-12 medium-12 large-3 columns small-text-center large-text-left"> 
        {% if page.github %}<a href="{{ page.github }}" class="button-without-bg" target="_blank">Github</a>{% endif %}
        {% if page.siteweb %}<a href="{{ page.siteweb }}" class="button-without-bg" target="_blank">Site Web</a>{% endif %}
      </div>
    </header>
  </div>
  <div class="row-liste-index hide-for-large-up">
    <div class="small-12 columns section-header">
      <span class="section-header-titre article-bgimg-meta-by-time">Publiée le {% capture datearticle %}{% assign A = page.date | date: "%A" %}{% case A %}{% when 'Monday' %}Lundi{% when 'Tuesday' %}Mardi{% when 'Wednesday' %}Mercredi{% when 'Thursday' %}Jeudi{% when 'Friday' %}Vendredi{% when 'Saturday' %}Samedi{% when 'Sunday' %}Dimanche{% endcase %}{{ page.date | date: " %-d " }}{% assign B = page.date | date: "%-m" %}{% case B %}{% when '1' %}Janvier{% when '2' %}F&eacute;vrier{% when '3' %}Mars{% when '4' %}Avril{% when '5' %}Mai{% when '6' %}Juin{% when '7' %}Juillet{% when '8' %}Ao&ucirc;t{% when '9' %}Septembre{% when '10' %}Octobre{% when '11' %}Novembre{% when '12' %}D&eacute;cembre{% endcase %}{{ page.date | date: " %Y" }}{% endcapture %} <time itemprop="datePublished" datetime="{{ page.date | date: "%-d-%-m-%Y" }}">{{ datearticle }}</time></span>
    </div>
  </div>
  <div class="row-body-article encyclo-offre--contenu"> 
    <aside class="article-meta-by-time show-for-large-up">
      <p class="article-bgimg-meta-by-time">Publiée le {% capture datearticle %}{% assign A = page.date | date: "%A" %}{% case A %}{% when 'Monday' %}Lundi{% when 'Tuesday' %}Mardi{% when 'Wednesday' %}Mercredi{% when 'Thursday' %}Jeudi{% when 'Friday' %}Vendredi{% when 'Saturday' %}Samedi{% when 'Sunday' %}Dimanche{% endcase %}{{ page.date | date: " %-d " }}{% assign B = page.date | date: "%-m" %}{% case B %}{% when '1' %}Janvier{% when '2' %}F&eacute;vrier{% when '3' %}Mars{% when '4' %}Avril{% when '5' %}Mai{% when '6' %}Juin{% when '7' %}Juillet{% when '8' %}Ao&ucirc;t{% when '9' %}Septembre{% when '10' %}Octobre{% when '11' %}Novembre{% when '12' %}D&eacute;cembre{% endcase %}{{ page.date | date: " %Y" }}{% endcapture %} <time itemprop="datePublished" datetime="{{ page.date | date: "%-d-%-m-%Y" }}">{{ datearticle }}</time></p>
    </aside>

    <main class="column-body-article">
      
      {{ content }}

      <div class="row collapse article-partage">
        <div class="small-12 medium-6 columns">
          <ul class="inline-list">
            <li>
              <a href="#" class="article-partage-twitter">
                <svg class="ic-block-h24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="20px" height="20px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">

                <path id="twitter-icon" d="M462,128.223c-15.158,6.724-31.449,11.269-48.547,13.31c17.449-10.461,30.854-27.025,37.164-46.764
                  c-16.333,9.687-34.422,16.721-53.676,20.511c-15.418-16.428-37.386-26.691-61.698-26.691c-54.56,0-94.668,50.916-82.337,103.787
                  c-70.25-3.524-132.534-37.177-174.223-88.314c-22.142,37.983-11.485,87.691,26.158,112.85c-13.854-0.438-26.891-4.241-38.285-10.574
                  c-0.917,39.162,27.146,75.781,67.795,83.949c-11.896,3.237-24.926,3.978-38.17,1.447c10.754,33.58,41.972,58.018,78.96,58.699
                  C139.604,378.282,94.846,390.721,50,385.436c37.406,23.982,81.837,37.977,129.571,37.977c156.932,0,245.595-132.551,240.251-251.435
                  C436.339,160.061,450.668,145.174,462,128.223z" fill="#ffffff" />
                </svg>TWEETER
              </a>
            </li>
            <li>
              <a href="#" class="article-partage-facebook"><svg class="ic-block-h24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              width="20px" height="20px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">

              <path id="facebook-square-rounded-icon" d="M411.945,50h-312c-27.614,0-50,22.386-50,50v312c0,27.614,22.386,50,50,50h312
                c27.614,0,50-22.386,50-50V100C461.945,72.386,439.56,50,411.945,50z M323.688,160.658c0,0-22.893,0-31.988,0
                c-11.291,0-13.645,4.625-13.645,16.309c0,9.723,0,28.227,0,28.227h45.633l-4.391,49.551h-41.242v148.03h-59.111V255.372h-30.74
                v-50.178h30.74c0,0,0-7.215,0-39.517c0-37.087,19.832-56.452,63.818-56.452c7.205,0,40.926,0,40.926,0V160.658z" fill="#ffffff"/>
              </svg>PARTAGER</a>
            </li>
          </ul>
        </div>
        <div class="small-12 medium-offset-2 medium-4 columns show-for-large-up">
          <div class="row collapse prefix-radius">
            <div class="small-3 columns partage-url"><span class="prefix">URL</span></div>
            <div class="small-9 columns"><input type="text" value="{{ site.url }}{{ page.url }}"></div>
          </div>
        </div>
      </div>
    </main>
  </div>
</article>