---
layout: default
---

{% include custom/sections/article_header.html %}
<article>
  <div class="header-liste mod-no-bg-gradient {% if page.image %}u-no-padding-bottom{% endif %}">
    <header class="row-body-article medium-uncollapse large-collapse">
      {% if page.logo %}
        <div class="small-12 medium-12 large-1 columns small-text-center">
          <div class="rounded-img-d64 is-img" data-is-img="{{ page.logo | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/' }}"alt="logo {{ page.title }}" data-interchange="[{{ page.logo | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/' }}, (small)]"></div>
        </div>
        <div class="small-12 medium-12 large-8 columns small-text-center large-text-left">
          <h1 class="header-liste-headline" itemprop="headline"><span class="left job--entreprise">{{ page.title }}</span><span class="job--description">{{ page.event-date }} &bull; {{ page.event-lieu }}</span>
          </h1>
          {% if page.intro %}<p class="subheader">{{ page.intro }}</p>{% endif %}
        </div>
        <div class="small-12 medium-12 large-3 columns small-text-center large-text-left">
          {% if page.siteweb %}<a class="button radius primary" href="{{ page.siteweb }}" title="Plus d'infos sur cet événement" target="_blank">+ INFOS</a>{% endif %}
        </div>
      {% else %}
      <div class="column-header-article mod-header-article-no-margin-top row collapse">
        <div class="small-12 medium-12 large-8 columns small-text-center large-text-left">
          <h1 class="header-liste-headline" itemprop="headline"><span class="left job--entreprise">{{ page.title }}</span><span class="job--description">{{ page.event-date }} &bull; {{ page.event-lieu }}</span>
          </h1>
          {% if page.intro %}<p class="subheader">{{ page.intro }}</p>{% endif %}
        </div>
        <div class="small-12 medium-12 large-4 columns small-text-center large-text-right">
          {% if page.siteweb %}<a class="button radius primary" href="{{ page.siteweb }}" title="Plus d'infos sur cet événement" target="_blank">+ INFOS</a>{% endif %}
        </div>
      </div>
      {% endif %}

      {% if page.image %}
        <div class="row collapse">
          <div class="small-12 columns">
            <figure class="figure-img">
              <img src="{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" alt="{{ page.image-legende }}">
              {% if page.image-legende %}
              <div class="row collapse">
                <div class="small-12 columns">
                  <figcaption class="note-figcaption">{{ page.image-legende }}</figcaption>
                </div>
              </div>
              {% endif %}
            </figure>
          </div>
        </div>
        {% endif %}
    </header>
  </div>

  <div class="row-body-article item-contenu">
    <main class="column-body-article mod-article-left-body">
      {{ content }}
      {% include custom/sections/article_footer_left.html %}
    </main>
    <div class="article-meta-data-right mod-article-contenu-meta-data">
      {% include custom/cartes/carte_post-a-job-in-article_right.html %}
    </div>
  </div>

</article>