---
layout: default
---

{% include custom/sections/article_header.html %}
<article>
  <div class="header-liste {% if page.image %}u-no-padding-bottom{% endif %}">
    <header class="row-body-article medium-uncollapse large-collapse">
      <div class="small-12 medium-12 large-1 columns small-text-center">
        <img class="app-icon-64" src="{{ page.logo | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-img/small/'}}" alt="icône app {{ page.title }}" width="64" height="64">
      </div>
      <div class="small-12 medium-12 large-8 columns small-text-center large-text-left">
        <h1 itemprop="headline">{{ page.title }}</h1>
        <p class="subheader">{{ page.parcours-apps-os }} <svg class="ic_block-h64-chevron" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z" fill="#999999"></path></svg> scénario {{ page.scenario }}</p>
        {% if page.intro %}<p class="subheader">{{ page.intro }}</p>{% endif %}
      </div>
      <div class="small-12 medium-12 large-3 columns small-text-center large-text-left">
        <div class="article-meta-data-right mod-article-contenu-meta-data">
          <ul class="side-nav mod-article-meta-data" role="navigation" title="Scénario {{ page.scenario }} de {{ page.title }} sur d'autres OS">
            <li class="article-meta-data-header-title">Voir ce scénario sur...</li>
            {% if page.url-app-android %}
            <li role="menuitem"><a href="{{ page.url-app-android }}" title="Scénario {{ page.scenario }} de {{ page.title }} sur Android">Android</a></li>
            {% endif %}
            {% if page.url-app-android-wear %}
            <li role="menuitem"><a href="{{ page.android-wear }}" title="Scénario {{ page.scenario }} de {{ page.title }} sur Android Wear">Android Wear</a></li>
            {% endif %}
            {% if page.url-app-ios %}
            <li role="menuitem"><a href="{{ page.url-app-ios }}" title="Scénario {{ page.scenario }} de {{ page.title }} sur iOS">iOS</a></li>
            {% endif %}
            {% if page.url-app-apple-watch %}
            <li role="menuitem"><a href="{{ page.url-app-ios }}" title="Scénario {{ page.scenario }} de {{ page.title }} sur Apple Watch">Apple Watch</a></li>
            {% endif %}
          </ul>
        </div> 
      </div>
    </header>
    <!-- Swiper -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% if page.image-1-tache %}
        <div class="swiper-slide">
          <figure class="figure-img mod-app-screenshot">
            <div class="row collapse">
              <div class="small-12 columns">
                <figcaption class="note-figcaption">1 &mdash; {{ page.image-1-tache }}</figcaption>
              </div>
            </div>
            <img src="{{ page.image-1 | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-img/large/' }}" alt="{{ page.image-legende }}">
          </figure>
        </div>
        {% endif %}
        {% if page.image-2-tache %}
        <div class="swiper-slide">
          <figure class="figure-img mod-app-screenshot">
            <div class="row collapse">
              <div class="small-12 columns">
                <figcaption class="note-figcaption">2 &mdash; {{ page.image-2-tache }}</figcaption>
              </div>
            </div>
            <img src="{{ page.image-2 | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-img/large/' }}" alt="{{ page.image-legende }}">
          </figure>  
        </div>
        {% endif %}
        {% if page.image-3-tache %}
        <div class="swiper-slide">
          <figure class="figure-img mod-app-screenshot">
            <div class="row collapse">
              <div class="small-12 columns">
                <figcaption class="note-figcaption">3 &mdash; {{ page.image-3-tache }}</figcaption>
              </div>
            </div>
            <img src="{{ page.image-3 | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-img/large/' }}" alt="{{ page.image-legende }}">
          </figure>
        </div>
        {% endif %}
        {% if page.image-4-tache %}
        <div class="swiper-slide">
          <figure class="figure-img mod-app-screenshot">
            <div class="row collapse">
              <div class="small-12 columns">
                <figcaption class="note-figcaption">4 &mdash; {{ page.image-4-tache }}</figcaption>
              </div>
            </div>
            <img src="{{ page.image-4 | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-img/large/' }}" alt="{{ page.image-legende }}">
          </figure>
        </div>
        {% endif %}
        {% if page.image-5-tache %}
        <div class="swiper-slide">
          <figure class="figure-img mod-app-screenshot">
            <div class="row collapse">
              <div class="small-12 columns">
                <figcaption class="note-figcaption">5 &mdash; {{ page.image-5-tache }}</figcaption>
              </div>
            </div>
            <img src="{{ page.image-5 | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-img/large/' }}" alt="{{ page.image-legende }}">
          </figure>
        </div>
        {% endif %}
        {% if page.image-6-tache %}
        <div class="swiper-slide">
          <figure class="figure-img mod-app-screenshot">
            <div class="row collapse">
              <div class="small-12 columns">
                <figcaption class="note-figcaption">6 &mdash; {{ page.image-6-tache }}</figcaption>
              </div>
            </div>
            <img src="{{ page.image-6 | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-img/large/' }}" alt="{{ page.image-legende }}">
          </figure>
        </div>
        {% endif %}
        {% if page.image-7-tache %}
        <div class="swiper-slide">
          <figure class="figure-img mod-app-screenshot">
            <div class="row collapse">
              <div class="small-12 columns">
                <figcaption class="note-figcaption">7 &mdash; {{ page.image-7-tache }}</figcaption>
              </div>
            </div>
            <img src="{{ page.image-7 | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-img/large/' }}" alt="{{ page.image-legende }}">
          </figure>
        </div>
        {% endif %}
        {% if page.image-8-tache %}
        <div class="swiper-slide">
          <figure class="figure-img mod-app-screenshot">
            <div class="row collapse">
              <div class="small-12 columns">
                <figcaption class="note-figcaption">8 &mdash; {{ page.image-8-tache }}</figcaption>
              </div>
            </div>
            <img src="{{ page.image-8 | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-img/large/' }}" alt="{{ page.image-legende }}">
          </figure>
        </div>
        {% endif %}
      </div>

      <!-- Add Scrollbar -->
      <div class="swiper-scrollbar"></div>

    </div>
  </div>

  <div class="row-body-article item-contenu">
    <main class="column-body-article mod-article-left-body">
      {{ content }}
    </main>
    <div class="article-meta-data-right mod-article-contenu-meta-data">
      {% include custom/cartes/carte_job-in-article_right.html %}
    </div>
  </div>

</article>
{% include custom/sections/article_footer_left.html %}