---
layout: default
---

{% include header.html %}
<section>
	{% include custom/sections/inspirer-entries.html %}
	
	<div class="header-liste">
	  <header class="row-liste-index">
			{% include custom/sections/index-header-intro.html %}
		</header>
	</div>
	
	{% include custom/cartes/carte_items-thn.html param="sites-web" %}
	{% include custom/cartes/carte_items-thn_ui-inspiration.html param="ui-sites-web" %}
	{% include custom/cartes/carte_nl-index-large.html %}
	<section class="row index-wide-carte-twitter">
		<div class="small-12 columns">
			<a href="/collection/optimiser-les-images-pour-un-web-rapide/" title="Collection des meilleurs outils pour optimiser les images">
				<article class="collection-index-article mod-collection-in-index-wide js-postcount" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting" data-interchange="[{{ 'wizard.png' | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-img/small/' }}, (small)],[{{ 'wizard.png' | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-img/medium/' }}, (medium)],[{{ 'wizard.png' | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-img/large/' }}, (large)]">
				  <div class="shadow-img">
				    <div class="collection-index-article-content">
				      <h1 class="collection-index-article-content-title mod-collection-title-in-index-wide text-center" itemprop="headline">Collection des meilleurs outils pour optimiser les images</h1>
				    </div>
				  </div>
				</article>
			</a>
		</div>
	</section>
	{% include custom/cartes/carte_items-thn_ui-inspiration.html param="ui-sites-web" %}
	{% include custom/cartes/carte_items-thn-app-icon_cat.html param="parcours-apps-apple-watch" %}
	{% include custom/cartes/carte_twtr_index-large.html %}
	{% include custom/cartes/carte_items-thn-app-icon_cat.html param="parcours-apps-ios" %}
	{% include custom/cartes/carte_items-thn-app-icon_cat.html param="parcours-apps-android-wear" %}
	{% include custom/cartes/carte_items-thn-app-icon_cat.html param="parcours-apps-android" %}

	<!-- list all section's categories
	================================================== -->
	<section>
		<div class="row">
		  <div class="small-12 columns section-carte-header-no-bg">
		    <h1 class="section-carte-header-title-big text-center">Trouvez l'inspiration en explorant ces collections</h1>
		  </div>
		</div>

		<div class="row">
		  <div class="small-12 columns">
		    <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4" data-equalizer>
		    
		    {% for item in site.data.inspirer.inspirer-entries %}
		      <li role="menuitem">
	          <article class="grid-article-card" itemscope="" itemtype="http://schema.org/Article" data-equalizer-watch>
	            <a class="grid-article-card-link-wrap" href="{{ item.permalink }}" title="{{ item.name }}">
		            <div class="row collapse text-center">
		              <div class="grid-article-card-info mod-action small-12 columns">
		              	<h2 class="grid-article-card-title mod-action" itemprop="headline">{{ item.name }}</h2>
		              </div>
		            </div>
			        </a>
	          </article>
					</li>
      	{% endfor %}

		    </ul>
		  </div>
		</div>
	</section>
	
</section>