---
layout: default
---

{% include custom/sections/article_header.html %}
<article>
  <div class="header-liste mod-no-bg-gradient u-no-padding-bottom">
    <header class="row-body-article medium-uncollapse large-collapse">

      <div class="column-header-article mod-header-article-no-margin-top row collapse header-background-title mod-inspiration">
        <div class="small-12 medium-12 large-8 columns small-text-center large-text-left">
          <h1 itemprop="headline">{{ page.title }}</h1>
          {% if page.intro %}{{ page.intro | markdownify }}{% endif %}
        </div>
        <div class="small-12 columns hide-for-large-up small-text-center">
          {% if page.url-demo %}<a onclick="ga('send', 'event', '{{ page.category }}', 'Visit demo', '{{ page.title }}');" href="{{ page.url-demo }}" class="button radius small primary" target="_blank" rel="nofollow">VISITER LE SITE WEB</a>{% endif %}
        </div>
      </div>

      <div class="row-body-article">
        <!-- screenshots
        ================================================== -->
        <div class="column-body-article mod-article-left-body">
          {% if page.image %}
          <figure class="gallery figure-img mod-inspiration-article-gallery mod-app-screenshot">
            <a href="{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" rel="lightbox">
              <img src="{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" alt="{{ page.title }} – screenshot 1 – #webdesign #inspiration #design #ux #ui" width="640" height="auto">
            </a>
          </figure>
          {% endif %}
          {% if page.image-2 %}
          <figure class="gallery figure-img mod-inspiration-article-gallery mod-app-screenshot">
            <a href="{{ page.image-2 | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" rel="lightbox">
              <img src="{{ page.image-2 | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" alt="{{ page.title }} – screenshot 2 – #webdesign #inspiration #design #ux #ui" width="640" height="auto">
            </a>
          </figure>
          {% endif %}
          {% if page.image-3 %}
          <figure class="gallery figure-img mod-inspiration-article-gallery mod-app-screenshot">
            <a href="{{ page.image-3 | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" rel="lightbox">
              <img src="{{ page.image-3 | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" alt="{{ page.title }} – screenshot 3 – #webdesign #inspiration #design #ux #ui" width="640" height="auto">
            </a>
          </figure>
          {% endif %}
          {% if page.image-4 %}
          <figure class="gallery figure-img mod-inspiration-article-gallery mod-app-screenshot">
            <a href="{{ page.image-4 | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" rel="lightbox">
              <img src="{{ page.image-4 | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" alt="{{ page.title }} – screenshot 4 – #webdesign #inspiration #design #ux #ui" width="640" height="auto">
            </a>
          </figure>
          {% endif %}
          {% if page.image-5 %}
          <figure class="gallery figure-img mod-inspiration-article-gallery mod-app-screenshot">
            <a href="{{ page.image-5 | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" rel="lightbox">
              <img src="{{ page.image-5 | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" alt="{{ page.title }} – screenshot 5 – #webdesign #inspiration #design #ux #ui" width="640" height="auto">
            </a>
          </figure>
          {% endif %}
          {% if page.image-6 %}
          <figure class="gallery figure-img mod-app-screenshot">
            <a href="{{ page.image-6 | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" rel="lightbox">
              <img src="{{ page.image-6 | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" alt="{{ page.title }} – screenshot 6 – #webdesign #inspiration #design #ux #ui" width="640" height="auto">
            </a>
          </figure>
          {% endif %}
        </div>

        <!-- metadata
        ================================================== -->
        <div class="article-meta-data-right">
          <ul class="side-nav mod-article-meta-data" role="navigation" title="metadata site Web">

            {% if page.url-demo %}
            <li class="show-for-large-up" role="menuitem"><a onclick="ga('send', 'event', '{{ page.category }}', 'Visit demo', '{{ page.title }}');" href="{{ page.url-demo }}" class="button expand radius small primary" target="_blank" rel="nofollow">VISITER LE SITE WEB</a></li>
            {% endif %}
            {% if page.theme %}
            <li class="article-meta-data-header-title">Thème</li>
            <li role="menuitem"><a href="{{ page.theme-url }}" title="{{ page.theme }}">{{ page.theme | upcase | remove: "-" }}</a></li>
            {% endif %}

            {% if page.format %}
            <li class="article-meta-data-header-title">Format</li>
            <li role="menuitem"><a href="{{ page.format-url }}" title="{{ page.format }}">{{ page.format | upcase | remove: "-" }}</a></li>
            {% endif %}

            {% if page.animation-1 %}
            <li class="article-meta-data-header-title">Animation</li>
            <li role="menuitem"><a href="{{ page.animation-url-1 }}" title="{{ page.animation-1 }}">{{ page.animation-1 | upcase | remove: "-" }}</a></li>
            {% endif %}
            {% if page.animation-2 %}
            <li role="menuitem"><a href="{{ page.animation-url-2 }}" title="{{ page.animation-2 }}">{{ page.animation-2 | upcase | remove: "-" }}</a></li>
            {% endif %}
            {% if page.animation-3 %}
            <li role="menuitem"><a href="{{ page.animation-url-3 }}" title="{{ page.animation-3 }}">{{ page.animation-3 | upcase | remove: "-" }}</a></li>
            {% endif %}
            {% if page.animation-4 %}
            <li role="menuitem"><a href="{{ page.animation-url-4 }}" title="{{ page.animation-4 }}">{{ page.animation-4 | upcase | remove: "-" }}</a></li>
            {% endif %}

            {% if page.technologie-1 %}
            <li class="article-meta-data-header-title">Technologies</li>
            <li role="menuitem"><a href="{{ page.technologie-url-1 }}" title="{{ page.technologie-1 }}">{{ page.technologie-1 | upcase | remove: "-" }}</a></li>
            {% endif %}
            {% if page.technologie-2 %}
            <li role="menuitem"><a href="{{ page.technologie-url-2 }}" title="{{ page.technologie-2 }}">{{ page.technologie-2 | upcase | remove: "-" }}</a></li>
            {% endif %}
            {% if page.technologie-3 %}
            <li role="menuitem"><a href="{{ page.technologie-url-3 }}" title="{{ page.technologie-3 }}">{{ page.technologie-3 | upcase | remove: "-" }}</a></li>
            {% endif %}

            {% if page.by %}
            <li class="article-meta-data-header-title">Crédit</li>
            <li role="menuitem"><a href="{{ page.by-url }}" title="{{ page.by }}" target="_blank">{{ page.by | upcase | remove: "-" }}</a></li>
            {% endif %}

            {% if page.element-ui-1 %}
              <li class="article-meta-data-header-title">Eléments UI</li>
              <li role="menuitem"><a href="{{ page.element-ui-url-1 }}" title="Explorer la collection {{ page.element-ui-1 }}">{{ page.element-ui-1 | upcase | remove: "-" }}</a></li>
              {% if page.element-ui-2 %}
                <li role="menuitem"><a href="{{ page.element-ui-url-2 }}" title="Explorer la collection {{ page.element-ui-2 }}">{{ page.element-ui-2 | upcase | remove: "-" }}</a></li>
              {% endif %}
              {% if page.element-ui-3 %}
                <li role="menuitem"><a href="{{ page.element-ui-url-3 }}" title="Explorer la collection {{ page.element-ui-3 }}">{{ page.element-ui-3 | upcase | remove: "-" }}</a></li>
              {% endif %}
              {% if page.element-ui-4 %}
                <li role="menuitem"><a href="{{ page.element-ui-url-4 }}" title="Explorer la collection {{ page.element-ui-4 }}">{{ page.element-ui-4 | upcase | remove: "-" }}</a></li>
              {% endif %}
              {% if page.element-ui-5 %}
                <li role="menuitem"><a href="{{ page.element-ui-url-5 }}" title="Explorer la collection {{ page.element-ui-5 }}">{{ page.element-ui-5 | upcase | remove: "-" }}</a></li>
              {% endif %}
              {% if page.element-ui-6 %}
                <li role="menuitem"><a href="{{ page.element-ui-url-6 }}" title="Explorer la collection {{ page.element-ui-6 }}">{{ page.element-ui-6 | upcase | remove: "-" }}</a></li>
              {% endif %}
              {% if page.element-ui-7 %}
                <li role="menuitem"><a href="{{ page.element-ui-url-7 }}" title="Explorer la collection {{ page.element-ui-7 }}">{{ page.element-ui-7 | upcase | remove: "-" }}</a></li>
              {% endif %}
            {% endif %}

            {% if page.composant-ui-1 %}
              <li class="article-meta-data-header-title">Composants UI</li>
              <li role="menuitem"><a href="{{ page.composant-ui-url-1 }}" title="Explorer la collection {{ page.composant-ui-1 }}">{{ page.composant-ui-1 | upcase | remove: "-" }}</a></li>
              {% if page.composant-ui-2 %}
                <li role="menuitem"><a href="{{ page.composant-ui-url-2 }}" title="Explorer la collection {{ page.composant-ui-2 }}">{{ page.composant-ui-2 | upcase | remove: "-" }}</a></li>
              {% endif %}
              {% if page.composant-ui-3 %}
                <li role="menuitem"><a href="{{ page.composant-ui-url-3 }}" title="Explorer la collection {{ page.composant-ui-3 }}">{{ page.composant-ui-3 | upcase | remove: "-" }}</a></li>
              {% endif %}
              {% if page.composant-ui-4 %}
                <li role="menuitem"><a href="{{ page.composant-ui-url-4 }}" title="Explorer la collection {{ page.composant-ui-4 }}">{{ page.composant-ui-4 | upcase | remove: "-" }}</a></li>
              {% endif %}
              {% if page.composant-ui-5 %}
                <li role="menuitem"><a href="{{ page.composant-ui-url-5 }}" title="Explorer la collection {{ page.composant-ui-5 }}">{{ page.composant-ui-5 | upcase | remove: "-" }}</a></li>
              {% endif %}
              {% if page.composant-ui-6 %}
                <li role="menuitem"><a href="{{ page.composant-ui-url-6 }}" title="Explorer la collection {{ page.composant-ui-6 }}">{{ page.composant-ui-6 | upcase | remove: "-" }}</a></li>
              {% endif %}
              {% if page.composant-ui-7 %}
                <li role="menuitem"><a href="{{ page.composant-ui-url-7 }}" title="Explorer la collection {{ page.composant-ui-7 }}">{{ page.composant-ui-7 | upcase | remove: "-" }}</a></li>
              {% endif %}
            {% endif %}
          </ul>
          {% include custom/cartes/carte_ad_in-article-sidebar-affiliate.html %}
        </div>

      </div>

    </header>
  </div>

  <div class="row-body-article item-contenu">
    <main class="column-body-article mod-article-left-body">
      {{ content }}
      {% include custom/sections/article_footer_left.html %}
    </main>
    <div class="article-meta-data-right mod-article-contenu-meta-data">
      {% include custom/cartes/carte_ad_in-article-sidebar-affiliate-bottom.html %}
      {% include custom/cartes/carte_post-a-job-in-article_right.html %}
    </div>
  </div>

</article>
