---
layout: default
---

{% include header.html %}

<section>
	{% include custom/sections/inspirer-entries.html %}

	<!-- list header 
	================================================== -->
	{% if page.category == 'parcours-apps-apple-watch' %}
		<div class="header-liste u-no-padding-bottom">
	{% else %}
		<div class="header-liste">
	{% endif %}
	  <header class="row-liste-index">
			{% include custom/sections/index-header-intro.html %}
		</header>

		<!-- list filters
		================================================== -->
		{% if page.category == 'parcours-apps-apple-watch' %}
			<div class="row text-center">
			  <div class="small-12 columns">
		{% else %}
			<div class="row text-center large-text-left">
			  <div class="medium-12 large-9 columns">
		{% endif %}

		  	<!-- desktop list filters 
				================================================== -->
		  	<div class="tabs u-no-margin-b hide-for-small-only">
					<a href="/inspiration/parcours-apps/apple-watch/" class="tabs-item {% if page.current_nav == '' %}is-active{% endif %}" title="Nouveaux parcours utilisateur apps Apple Watch"><svg class="ic-block-h48" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.5.67s.74 2.65.74 4.8c0 2.06-1.35 3.73-3.41 3.73-2.07 0-3.63-1.67-3.63-3.73l.03-.36C5.21 7.51 4 10.62 4 14c0 4.42 3.58 8 8 8s8-3.58 8-8C20 8.61 17.41 3.8 13.5.67zM11.71 19c-1.78 0-3.22-1.4-3.22-3.14 0-1.62 1.05-2.76 2.81-3.12 1.77-.36 3.6-1.21 4.62-2.58.39 1.29.59 2.65.59 4.04 0 2.65-2.15 4.8-4.8 4.8z" fill="#FF5700"/></svg>NOUVEAUTES</a>
					
					<!-- Scénarios
	        ================================================== -->
					<a href="" class="tabs-item {% if page.current_nav == '' %}is-active{% endif %}" title="Filtrer les parcours par scénarios utilisateur" data-reveal-id="parcours-apps-apple-watch-filtre-scenarios">SCENARIOS UTILISATEUR</a>
					<!-- desktop list filter SCENARIOS modalbox -->
	        <div id="parcours-apps-apple-watch-filtre-scenarios" class="reveal-modal" data-reveal>
	          <div class="row-liste-index">
	            <div class="small-12 columns text-center">
	              <a class="close-reveal-modal">&#215;</a>
	              <div class="row-liste-index">
							    <div class="small-12 medium-6 medium-centered columns">
							      <p class="titre-modal-box">Filtrer par scénarios utilisateur</p>
							      <hr>
							    </div>
							  </div>
	              <div class="row-liste-index note-partage">
					        <div class="small-12 medium-6 medium-centered columns">
					         	<ul class="side-nav" role="navigation" title="Link List">
									  	{% for item in site.data.inspirer.parcours-apps-apple-watch-scenarios %}
												<li role="menuitem"><a href="{{ item.permalink }}" title="{{ item.name }}">{{ item.name }}</a></li>
					          	{% endfor %}
									 	</ul>
					        </div>
					      </div>
	            </div>
	          </div>
	        </div>

					<!-- Apps
	        ================================================== -->
					<a href="" class="tabs-item {% if page.current_nav == '' %}is-active{% endif %}" title="Filtrer les parcours par applications" data-reveal-id="parcours-apps-apple-watch-filtre-apps">APPS APPLE WATCH</a>
					<!-- desktop list filter apps modalbox -->
	        <div id="parcours-apps-apple-watch-filtre-apps" class="reveal-modal" data-reveal>
	          <div class="row-liste-index">
	            <div class="small-12 columns text-center">
	              <a class="close-reveal-modal">&#215;</a>
	              <div class="row-liste-index">
							    <div class="small-12 medium-6 medium-centered columns">
							      <p class="titre-modal-box">Filtrer par applications</p>
							      <hr>
							    </div>
							  </div>
	              <div class="row-liste-index note-partage">
					        <div class="small-12 medium-6 medium-centered columns">
					         	<ul class="side-nav text-left" role="navigation" title="Link List">
									  	{% for item in site.data.inspirer.parcours-apps-apple-watch %}
												<li role="menuitem"><a href="{{ item.permalink }}" title="{{ item.name }}"><img class="app-icon-24" src="{{ item.logo | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-img/small/'}}" alt="icône app {{ item.title }}" width="24" height="24">{{ item.name }}</a></li>
					          	{% endfor %}
									 	</ul>
					        </div>
					      </div>
	            </div>
	          </div>
	        </div>
				</div>

				<!-- mobile list filters
				================================================== -->
		  	<div class="tabs u-no-margin-b show-for-small-only">
					<a href="#" class="tabs-item" title="Filtrer par catégories" data-reveal-id="parcours-apps-apple-watch-filtre-mobile"><svg class="ic-block-h48" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 18h4v-2h-4v2zm-7-12v2h18v-2h-18zm3 7h12v-2h-12v2z" fill="#999999"/><path d="M0 0h24v24h-24z" fill="none"/></svg>FILTRER</a>
					
					<!--  mobile list filters modalbox
	        ================================================== -->
	        <div id="parcours-apps-apple-watch-filtre-mobile" class="reveal-modal" data-reveal>
	          <div class="row-liste-index">
	            <div class="small-12 columns text-center">
	              <a class="close-reveal-modal">&#215;</a>
	              <div class="row-liste-index">
							    <div class="small-12 medium-6 medium-centered columns">
							      <p class="titre-modal-box">Filtrer les parcours utilisateurs par...</p>
							      <hr>
							    </div>
							  </div>
	              <div class="row-liste-index note-partage">
					        <div class="small-12 medium-6 medium-centered columns">
					        	<ul class="side-nav text-left" role="navigation" title="Link List">
					        		<li role="menuitem"><a href="/inspiration/parcours-apps/apple-watch/" title="Nouveaux parcours utilisateur"><svg class="ic-block-h48" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.5.67s.74 2.65.74 4.8c0 2.06-1.35 3.73-3.41 3.73-2.07 0-3.63-1.67-3.63-3.73l.03-.36C5.21 7.51 4 10.62 4 14c0 4.42 3.58 8 8 8s8-3.58 8-8C20 8.61 17.41 3.8 13.5.67zM11.71 19c-1.78 0-3.22-1.4-3.22-3.14 0-1.62 1.05-2.76 2.81-3.12 1.77-.36 3.6-1.21 4.62-2.58.39 1.29.59 2.65.59 4.04 0 2.65-2.15 4.8-4.8 4.8z" fill="#FF5700"/></svg>NOUVEAUTES</a></li>
					        		<hr>
					        		{% for item in site.data.inspirer.parcours-apps-apple-watch-scenarios %}
												<li role="menuitem"><a href="{{ item.permalink }}" title="{{ item.name }}">{{ item.name }}</a></li>
					          	{% endfor %}
					          	<hr>
					          	{% for item in site.data.inspirer.parcours-apps-apple-watch %}
												<li role="menuitem"><a href="{{ item.permalink }}" title="{{ item.name }}"><img class="app-icon-24" src="{{ item.logo | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-img/small/'}}" alt="icône app {{ item.title }}" width="24" height="24">{{ item.name }}</a></li>
					          	{% endfor %}
					        	</ul>
					        </div>
					      </div>
	            </div>
	          </div>
	        </div>

				</div>

		  </div>
		  {% if page.category == 'parcours-apps-apple-watch' %}
			{% else %}
			<div class="large-3 columns text-right show-for-large-up section-header"> 
				<!-- Number of item by index -->
				{% for post in site.tags[page.tags] %}
			    {% capture length %}{{ forloop.length }}{% endcapture %}
			  {% endfor %}
		    <span class="section-header-titre">{{ length }} applications Apple Watch</span>
		  </div>
			{% endif %}
		</div>

	</div>

	{% if page.category == 'parcours-apps-apple-watch' %}
	<!-- list all items
	================================================== -->
		{% include custom/cartes/carte_items-thn-app-icon_tags.html param="parcours-apps-apple-watch-onboarding" %}
		{% include custom/cartes/carte_items-thn-app-icon_tags.html param="parcours-apps-apple-watch-upload" %}
	
	{% else %}
	<!-- list subheader
	================================================== -->
	<div class="row show-for-small-only">
	  <div class="small-12 columns section-header">
	    <!-- Number of item by index -->
			{% for post in site.tags[page.tags] %}
		    {% capture length %}{{ forloop.length }}{% endcapture %}
		  {% endfor %}
	    <span class="section-header-titre">{{ length }} applications Apple Watch</span>
	  </div>
	</div>

	<!-- list items by tags
	================================================== -->
	<div class="row"> 
	  <div class="small-12 columns">
			<ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-4">

			{% if site.tags[page.tags] %}
				{% for post in site.tags[page.tags] %}
				<li>
          <article class="grid-article-card mod-app-icon" itemscope="" itemtype="http://schema.org/Article" data-equalizer-watch>
            <a class="grid-article-card-link-wrap" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
	            <div class="row collapse text-center">
	              <div class="grid-article-card-info mod-app-icon small-12 columns">
	              	<img class="grid-article-card-app-icon" src="{{ post.logo | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-img/xsmall/'}}" alt="icône app {{ post.title }}" width="64" height="64">
	              	<h1 class="grid-article-card-title mod-card-w-tag" itemprop="headline">{{ post.title | truncate: 48 }}</h1>
	              </div>
	            </div>
		        </a>
          </article>
				</li>
				{% endfor %}

			</ul>
			{% else %}
				<p>Il n'y a pas d'articles pour ce tag.</p>
			{% endif %}
	  </div>
	</div>
	
	<div class="infinite-spinner"></div>

	{% endif %}

</section>

<!-- list all section's categories
================================================== -->
<section>
	<div class="row">
	  <div class="small-12 columns section-carte-header-no-bg">
	    <h1 class="section-carte-header-title-big text-center">Trouvez l'inspiration en explorant ces collections</h1>
	  </div>
	</div>

	<div class="row">
	  <div class="small-12 columns">
	    <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4" data-equalizer>
	    
	    {% for item in site.data.inspirer.inspirer-entries %}
	      <li role="menuitem">
          <article class="grid-article-card" itemscope="" itemtype="http://schema.org/Article" data-equalizer-watch>
            <a class="grid-article-card-link-wrap" href="{{ item.permalink }}" title="{{ item.name }}">
	            <div class="row collapse text-center">
	              <div class="grid-article-card-info mod-action small-12 columns">
	              	<h2 class="grid-article-card-title mod-card-w-tag" itemprop="headline">{{ item.name }}</h2>
	              </div>
	            </div>
		        </a>
          </article>
				</li>
    	{% endfor %}

	    </ul>
	  </div>
	</div>
</section>