---
layout: default
---

{% include header.html %}
<section>
	{% include custom/sections/inspirations-entries.html %}
	<div class="header-liste header-background-title mod-header-list-cards-section mod-inspiration">
		<header class="row-liste-index">
			{% include custom/sections/index-header-intro.html %}
		</header>
		{% if page.coming-soon == 'true' %}
      {% include components/modal-box-optin.html %}
		{% endif %}
	</div>
	{% include custom/cartes/carte_items-thn_ui-inspirations-animations_data-zapier.html param="inspirations-ui-animations" %}
	{% include custom/cartes/carte_items-thn_ui-inspirations-sites-web_data-zapier.html param="inspirations-ui-sites-web" %}
	{% include custom/cartes/carte_ad_leaderboard.html %}
	{% include custom/cartes/carte_items-thn_ui-inspirations.html param="ui-apple-watch" %}
	{% include custom/cartes/carte_items-thn_ui-inspirations.html param="ui-tv" %}
	{% include custom/cartes/carte_nl-index-large.html %}
	<article class="row section-index-wide-carte">
		<div class="small-12 columns">
			<a href="/collection/15-designs-de-site-web-ecommerce-plus-cool-que-tobias-van-schneider/" title="15 designs de site web ecommerce plus cool que Tobias van Schneider">
				<div class="collection-index-article mod-collection-in-index-wide" data-interchange="[{{ 'inspiration-ui-design-site-web-polo-fangio-1.jpg' | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/small/' }}, (small)],[{{ 'inspiration-ui-design-site-web-polo-fangio-1.jpg' | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/medium/' }}, (medium)],[{{ 'inspiration-ui-design-site-web-polo-fangio-1.jpg' | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}, (large)]">
					<div class="shadow-img">
						<div class="collection-index-article-content">
							<h1 class="collection-index-article-content-title mod-collection-title-in-index-wide text-center">15 designs de site web ecommerce plus cool que Tobias van Schneider</h1>
						</div>
					</div>
				</div>
			</a>
		</div>
	</article>
	{% include custom/cartes/carte_items-thn_ui-inspirations.html param="ui-connected-car" %}
	{% include custom/cartes/carte_items-thn_ui-inspirations.html param="ui-android-wear" %}
	{% include custom/cartes/carte_ad_leaderboard.html %}
	{% include custom/cartes/carte_items-thn.html param="code-art" %}
	{% include custom/cartes/carte_twtr_index-large.html %}

	<!-- list all section's categories
	================================================== -->
	{% include custom/cartes/carte_cross-navigation-inspirations.html %}

</section>
