---
layout: default
---

{% include header.html %}

<section>
  <div class="header-liste">
    <header class="row-liste-index">
      <div class="small-12 columns">
        <h1 class="header-liste-headline text-center">{{ page.title }}</h1>
        <p class="header-liste-content text-center">
          {{ page.intro }} 
          <a href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&amp;text={{ page.text-twtr | cgi_escape }}&amp;related=MagDuWebdesign" rel="nofollow" target="_blank">
            <svg class="ic-block-h24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="24px" height="24px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">

            <path id="twitter-icon" d="M462,128.223c-15.158,6.724-31.449,11.269-48.547,13.31c17.449-10.461,30.854-27.025,37.164-46.764
              c-16.333,9.687-34.422,16.721-53.676,20.511c-15.418-16.428-37.386-26.691-61.698-26.691c-54.56,0-94.668,50.916-82.337,103.787
              c-70.25-3.524-132.534-37.177-174.223-88.314c-22.142,37.983-11.485,87.691,26.158,112.85c-13.854-0.438-26.891-4.241-38.285-10.574
              c-0.917,39.162,27.146,75.781,67.795,83.949c-11.896,3.237-24.926,3.978-38.17,1.447c10.754,33.58,41.972,58.018,78.96,58.699
              C139.604,378.282,94.846,390.721,50,385.436c37.406,23.982,81.837,37.977,129.571,37.977c156.932,0,245.595-132.551,240.251-251.435
              C436.339,160.061,450.668,145.174,462,128.223z" fill="#00ACED" />
            </svg>
          </a>
        </p> 

        <div class="row text-center">
          <div class="small-12 columns">
            <span class="section-header-titre">Recevez-le via email &#x21b4;</span>
          </div>
        </div>

        <div class="section-carte-newsletter is-header-liste">
          <form action="//magazineduwebdesign.us3.list-manage.com/subscribe/post?u=5f1d68675f48a4d9deba26d69&id=fe09463a6e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

          <div id="mc_embed_signup_scroll">
            <div class="row">
              <div class="small-12 medium-6 medium-offset-1 columns">
                <div class="mc-field-group">
                  <label for="mce-EMAIL"></label>
                  <input type="email" placeholder="Insérez votre adresse@email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                
              </div>

              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_5f1d68675f48a4d9deba26d69_fe09463a6e" tabindex="-1" value=""></div>

              <div class="small-12 medium-4 columns">
                <input type="submit" class="small button radius expand" value="DONNEZ-MOI LE BRIEF" name="subscribe" id="mc-embedded-subscribe">  
              </div>
            </div>
          </div>
          </form>
        </div>
      </div>
    </header>
  </div>
  <div class="note-index current-page" data-page="briefs">
  <!-- source group list items by date http://stackoverflow.com/a/20777475/4376200 -->
  {% assign notes = site.note | reverse %}
  {% for note in notes limit: 5 %}
    {% capture currentday %}
      {% assign A = note.date | date: "%A" %}
      {% case A %}
      {% when 'Monday' %}Lundi
      {% when 'Tuesday' %}Mardi
      {% when 'Wednesday' %}Mercredi
      {% when 'Thursday' %}Jeudi
      {% when 'Friday' %}Vendredi
      {% when 'Saturday' %}Samedi
      {% when 'Sunday' %}Dimanche
      {% endcase %}
      <span class="section-brief-header-baseline">
        {{ note.date | date: " %-d " }}
        {% assign B = note.date | date: "%-m" %}
        {% case B %}{% when '1' %}Janvier
        {% when '2' %}F&eacute;vrier
        {% when '3' %}Mars
        {% when '4' %}Avril
        {% when '5' %}Mai
        {% when '6' %}Juin
        {% when '7' %}Juillet
        {% when '8' %}Ao&ucirc;t
        {% when '9' %}Septembre
        {% when '10' %}Octobre
        {% when '11' %}Novembre
        {% when '12' %}D&eacute;cembre
        {% endcase %}
        {{ note.date | date: " %Y" }}
      </span>
      {% endcapture %}
    {% if currentday != day %}
      {% unless forloop.first %}</section>{% endunless %}
      <section>
        <header class="row-liste-index">
          <time class="small-12 columns text-center section-brief-header">
            <h1 class="section-brief-header-titre">{{ currentday }}</h1>
          </time>
        </header>
        <div class="row-liste-index">
          <div class="small-12 columns section-brief-panel">
      {% capture day %}{{currentday}}{% endcapture %} 
    {% endif %}

    <article class="js-postcount note {% cycle 'note-first', '', '', '', '', '', '', '', '', '' %}">
      <div class="row collapse">
        <div class="small-12 columns">
          
          <div class="note-source-id">
            <span class="note-source-name">{{ note.source-name | upcase }}</span>
          </div>
          
          <a href="{{ note.source-url }}" title="{{ note.title }}" target="_blank">
            <h1>{{ note.title }}</h1>
          </a>
          
          {% if note.content %}
            {{ note.content }}
          {% endif %}

        </div>
      </div>

      {% if note.image %}
      <div class="row collapse">
        <div class="small-12 columns">
          <figure class="figure-img mod-note-img">
            <a href="{{ note.source-url }}" title="{{ note.title }}" target="_blank">
            <img data-interchange="[{{ note.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/small/' }}, (small)],[{{ note.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/medium/' }}, (medium)],[{{ note.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}, (large)]" class="note-container-img" />
            <noscript><img src="{{ note.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" alt="{{ note.image-legende }}"></noscript>
            </a>
            {% if note.image-legende %}
            <div class="row collapse">
              <div class="small-12 columns">
                <figcaption>{{ note.image-legende }}</figcaption>
              </div>
            </div>
            {% endif %}
          </figure>
        </div>
      </div>
      {% endif %}

      {% if note.id-youtube %}
      <div class="row collapse">
        <div class="small-12 columns">
          <figure class="figure-video mod-note-video">
            <div class="note-flex-video widescreen">
              <iframe src="https://www.youtube.com/embed/{{ note.id-youtube }}?showinfo=0&modestbranding=1&controls=2" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
            {% if note.video-legende %}
            <div class="row collapse">
              <div class="small-12 columns">
                <figcaption>{{ note.video-legende }}</figcaption>
              </div>
            </div>
            {% endif %}
          </figure>
        </div>
      </div>
      {% endif %}

      {% if note.id-vimeo %}
      <div class="row collapse">
        <div class="small-12 columns">
          <figure class="figure-video mod-note-video">
            <div class="note-flex-video widescreen vimeo">
              <iframe src="http://player.vimeo.com/video/{{ note.id-vimeo }}?byline=0&color=ffffff&portrait=0&title=0&badge=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
            {% if note.video-legende %}
            <div class="row collapse">
              <div class="small-12 columns">
                <figcaption>{{ note.video-legende }}</figcaption>
              </div>
            </div>
            {% endif %}
          </figure>
        </div>
      </div>
      {% endif %}

      {% if note.id-soundcloud %}
      <div class="row collapse">
        <div class="small-12 columns">
          <figure class="figure-video mod-note-video">
            <div class="note-flex-video widescreen">
              <iframe width="100%" max-height="384" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ note.id-soundcloud }}&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
            </div>
          </figure>
        </div>
      </div>
      {% endif %}

      <div class="row collapse">
        <div class="small-12 columns">
          <div class="link-partage"><a href="#" data-reveal-id="{{ note.title | replace: ' ', '-' | remove_first: '.' }}"><svg class="ic-block-h24" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z" fill="#999999"/></svg>Partager</a></div>

          {% include custom/sections/share-index-note-modal-box.html %}
        </div>
      </div>
      
    </article>
    
    {% if forloop.last %}</div></div></section>
    
    <section class="index-note-carte-newsletter">
      {% include custom/cartes/cartenl.html %}
    </section>
    
    {% endif %}
  {% endfor %}
  </div>
  <div class="infinite-spinner"></div>
</section>
