---
layout: default
---

{% include header.html %}

<article>
  {% if page.bgimgheader == true %}
	<div class="header-article-bgimg" data-interchange="[{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/small/' }}, (small)],[{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/medium/' }}, (medium)],[{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}, (large)]">
	  <div class="header-article-bgimg-shadow">
	    <div class="header-article-bgimg-conteneur">
		    <div class="header-article-bgimg-cellule">
	{% else %}
		<div class="header-liste u-no-padding-top">
	{% endif %}
  <header class="row-body-article {% if page.svg %}header-bg-svg{% endif %}">
    <div class="column-header-article mod-text-center" >
      {% include custom/cartes/carte_ad_leaderboard_header.html %}
      <h1>{{ page.title }}</h1>
    </div>
  </header>

	{% if page.bgimgheader == true %}
			  </div>
	    </div>
	  </div>
	</div>

		{% if page.image-legende %}
	  <div class="row-body-article">
	  	<div class="column-article-featured-image-caption">
	  		<p>{{ page.image-legende }}</p>
	  	</div>
	  </div>
	  {% endif %}

	{% else %}
		</div>
		{% if page.image %}
		<div class="row-article-featured-image">
		  <div class="column-article-featured-image">
		  	<img data-interchange="[{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/small/' }}, (small)],[{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/medium/' }}, (medium)],[{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}, (large)]" alt="{{ page.image-legende }}" /><noscript><img src="{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" alt="{{ page.image-legende }}"></noscript>
		  </div>

		  {% if page.image-legende %}
		  <div class="row-body-article">
		  	<div class="column-article-featured-image-caption">
		  		<p>{{ page.image-legende }}</p>
		  	</div>
		  </div>
		  {% endif %}

		</div>
		{% endif %}
	{% endif %}

	<div class="row-body-article">
	  <aside class="page-editoriale-intro">
	  	{% if page.intro %}<p>{{ page.intro }}</p>{% endif %}
	  </aside>

	  <main class="column-body-article">
	   	{{ content }}
      {% include custom/cartes/carte_ad_leaderboard.html %}
	  </main>
	</div>
</article>
