---
layout: default
---
{% include custom/sections/article_header.html %}
<article itemscope itemtype="http://schema.org/BlogPosting">
<div class="job--notification-header">
	<a href="/recruter/" title="Vous cherchez des talents ?">
		<div class="row text-center">
			<div class="small-12 columns">
				Vous cherchez des talents ? &rarr;
			</div>
		</div>
	</a>
</div>
{% if page.bgimgheader == true %}
	<div class="header-article-bgimg is-img" data-is-img="{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/' }}" data-interchange="[{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/small/' }}, (small)],[{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/medium/' }}, (medium)],[{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}, (large)]">
	  <div class="header-article-bgimg-shadow">
	    <div class="header-article-bgimg-conteneur">
		    <div class="header-article-bgimg-cellule">
		    {% else %}{% endif %}
		      <header class="row-body-article">
		        <div class="column-header-article">
		          <h1 class="column-header-article-title" itemprop="headline">{{ page.title }}</h1>
		          <aside class="article-meta-by-time hide-for-large-up">
						  	<p class="article-bgimg-meta-by-time">Ecrit par <a href="https://twitter.com/{{ page.auteur }}">@{{ page.auteur }}</a>{% capture datearticle %}{% assign A = page.date | date: "%A" %}{% case A %}{% when 'Monday' %}Lundi{% when 'Tuesday' %}Mardi{% when 'Wednesday' %}Mercredi{% when 'Thursday' %}Jeudi{% when 'Friday' %}Vendredi{% when 'Saturday' %}Samedi{% when 'Sunday' %}Dimanche{% endcase %}{{ page.date | date: " %-d " }}{% assign B = page.date | date: "%-m" %}{% case B %}{% when '1' %}Janvier{% when '2' %}F&eacute;vrier{% when '3' %}Mars{% when '4' %}Avril{% when '5' %}Mai{% when '6' %}Juin{% when '7' %}Juillet{% when '8' %}Ao&ucirc;t{% when '9' %}Septembre{% when '10' %}Octobre{% when '11' %}Novembre{% when '12' %}D&eacute;cembre{% endcase %}{{ page.date | date: " %Y" }}{% endcapture %} &bull; <time itemprop="datePublished" datetime="{{ page.date | date: "%-d-%-m-%Y" }}">{{ datearticle }}</time></p>
						  </aside>
		        </div>
		      </header>

	{% if page.bgimgheader == true %}
			  </div>
	    </div>
	  </div>
	</div>

	{% if page.image-legende %}
  <div class="row-body-article">
  	<div class="column-article-featured-image-caption">
  		<p>{{ page.image-legende }}</p>
  	</div>
  </div>
  {% endif %}

	{% else %}
		{% if page.image %}
		<div class="row-article-featured-image">
		  <div class="column-article-featured-image">
		  	<img class="is-img" data-is-img="{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/' }}" data-interchange="[{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/small/' }}, (small)],[{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/medium/' }}, (medium)],[{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}, (large)]" alt="{{ page.image-legende }}" /><noscript><img src="{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" alt="{{ page.image-legende }}"></noscript>
		  </div>

		  {% if page.image-legende %}
		  <div class="row-body-article">
		  	<div class="column-article-featured-image-caption">
		  		<p>{{ page.image-legende }}</p>
		  	</div>
		  </div>
		  {% endif %}

		</div>
		{% endif %}
	{% endif %}

	<div class="row-body-article item-contenu">
	  <div class="article-meta-by-time show-for-large-up">
		  <aside>
		    <p class="article-meta-item-by">Publiée par</p>
		    <p class="article-meta-auteur">
		      <a href="https://twitter.com/{{ page.auteur }}">@{{ page.auteur }}</a>
		    </p>
		    {% capture datearticle %}
		      {% assign A = page.date | date: "%A" %}
		      {% case A %}
		        {% when 'Monday' %}Lundi
		        {% when 'Tuesday' %}Mardi
		        {% when 'Wednesday' %}Mercredi
		        {% when 'Thursday' %}Jeudi
		        {% when 'Friday' %}Vendredi
		        {% when 'Saturday' %}Samedi
		        {% when 'Sunday' %}Dimanche
		      {% endcase %}
		      {{ page.date | date: " %-d " }}
		      {% assign B = page.date | date: "%-m" %}
		      {% case B %}{% when '1' %}Janvier
		        {% when '2' %}F&eacute;vrier
		        {% when '3' %}Mars
		        {% when '4' %}Avril
		        {% when '5' %}Mai
		        {% when '6' %}Juin
		        {% when '7' %}Juillet
		        {% when '8' %}Ao&ucirc;t
		        {% when '9' %}Septembre
		        {% when '10' %}Octobre
		        {% when '11' %}Novembre
		        {% when '12' %}D&eacute;cembre
		      {% endcase %}
		      {{ page.date | date: " %Y" }}
		    {% endcapture %}
		    <p class="article-meta-item-time">
		      <time>{{ datearticle }}</time>
		    </p>
		  </aside>

		  {% include custom/cartes/carte_post-a-job-in-article_left.html %}

		</div>

	  <main class="column-body-article">
	  	{% if page.intro %}<p class="article-intro">{{ page.intro }}</p>{% endif %}
	  	{{ content }}

			<!-- Partage social
			================================================== -->
			<div class="row collapse article-partage">
			  {% include custom/sections/share-article-footer.html %}
			</div>
	  </main>
	</div>
</article>
{% include custom/sections/article_footer.html %}
