---
layout: default
---

{% include header.html %}
<section>
	{% include custom/sections/ressources-entries.html %}
	<div class="header-liste header-background-title mod-header-list-cards-section mod-ressource">
		<header class="row-liste-index">
			{% include custom/sections/index-header-intro.html %}
		</header>
		{% if page.coming-soon == 'true' %}
      {% include components/modal-box-optin.html %}
		{% endif %}
	</div>
	{% include custom/cartes/carte_items-thn-app-icon_ressources.html param="ressources-outils-services-design" %}
</section>

<!-- list all section's categories
================================================== -->
{% include custom/cartes/carte_cross-navigation-ressources.html %}}
