---
layout: default
---
{% include custom/sections/article_header.html %}
<article itemscope itemtype="http://schema.org/Product">
  <div class="header-liste mod-no-bg-gradient">
    {% include custom/cartes/carte_ad_leaderboard_header.html %}
    <header class="row-body-article medium-uncollapse large-collapse">
      {% if page.logo %}
        <div class="small-12 large-1 columns small-text-center">
          <div class="rounded-img-d64 is-img" data-is-img="{{ page.logo | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/' }}" data-interchange="[{{ page.logo | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/' }}, (small)]" itemprop="image"></div>
        </div>
        <div class="small-12 large-7 columns small-text-center large-text-left">
          <h1 itemprop="name">{{ page.title }}</h1>
          <div itemprop="review" itemscope itemtype="http://schema.org/Review">
            <p class="article-bgimg-meta-by-time">
              {% capture datearticle %}
                {% assign A = page.date | date: "%A" %}
                {% case A %}
                  {% when 'Monday' %}Lundi
                  {% when 'Tuesday' %}Mardi
                  {% when 'Wednesday' %}Mercredi
                  {% when 'Thursday' %}Jeudi
                  {% when 'Friday' %}Vendredi
                  {% when 'Saturday' %}Samedi
                  {% when 'Sunday' %}Dimanche
                {% endcase %}
                {{ page.date | date: " %-d " }}
                {% assign B = page.date | date: "%-m" %}
                {% case B %}
                  {% when '1' %}Janvier
                  {% when '2' %}F&eacute;vrier
                  {% when '3' %}Mars
                  {% when '4' %}Avril
                  {% when '5' %}Mai
                  {% when '6' %}Juin
                  {% when '7' %}Juillet
                  {% when '8' %}Ao&ucirc;t
                  {% when '9' %}Septembre
                  {% when '10' %}Octobre
                  {% when '11' %}Novembre
                  {% when '12' %}D&eacute;cembre
                {% endcase %}
                {{ page.date | date: " %Y" }}
              {% endcapture %}
              <meta itemprop="datePublished" content="{{ page.date | date: "%F" }}"><time itemprop="datePublished" datetime="{{ page.date | date: "%F" }}">{{ datearticle }}</time>
              &bull;
              {% if page.rating %}
                <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating"> Noté
                  <span itemprop="ratingValue">{{ page.rating }}</span>&frasl;<span itemprop="bestRating">10</span> par
                  <meta itemprop="worstRating" content="1"/>
                </span>
              {% endif %}
              {% if page.auteur %}
                <a href="https://twitter.com/{{ page.auteur }}" title="Profil Twitter – {{ page.auteur }}" target="_blank" rel="nofollow" itemprop="author" itemscope="" itemtype="http://schema.org/Person"><span itemprop="name">@{{ page.auteur }}</span></a>
              {% endif %}
            </p>
            {% if page.intro %}
              {% if page.intro %}{{ page.intro | markdownify }}{% endif %}
            {% endif %}
            {% include custom/cartes/carte_ad_liens-texte.html %}
          </div>
          {% if page.id-soundcloud %}
            <figure class="figure-video">
              <div class="note-flex-video widescreen">
                <iframe scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ page.id-soundcloud }}&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
              </div>
            </figure>
          {% endif %}
          <!-- if ressource have a nice cover -->
          {% if page.image-sub-post-intro %}
          <figure class="gallery figure-img mod-inspiration-article-gallery mod-app-screenshot">
            <a href="{{ page.image-sub-post-intro | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" rel="lightbox">
              <img src="{{ page.image-sub-post-intro | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" alt="Capture - {{ page.title }}" width="640" height="auto">
            </a>
          </figure>
          {% endif %}
        </div>
        <div class="small-12 large-offset-1 large-3 columns small-text-center large-text-left">
          <div class="hide-for-large-up">
            {% if page.url-github %}<a onclick="ga('send', 'event', '{{ page.category }}', 'Visit github repo', '{{ page.title }}');" class="button radius small secondary" href="{{ page.url-github }}" title="Repo GitHub &ndash; {{ page.title }}" target="_blank" rel="nofollow">REPO GITHUB</a>{% endif %}
            {% if page.siteweb %}<a onclick="ga('send', 'event', '{{ page.category }}', 'Visit website', '{{ page.title }}');" class="button radius small primary" href="{{ page.siteweb }}" title="Site Web &ndash; {{ page.title }}" target="_blank" rel="nofollow">SITE WEB</a>{% endif %}
            {% if page.no-soundcloud %}<a onclick="ga('send', 'event', '{{ page.category }}', 'Visit to listen podcast', '{{ page.title }}');" class="button small radius primary" href="{{ page.no-soundcloud }}" title="Ecouter le podcast &ndash; {{ page.title }}" target="_blank" rel="nofollow">ECOUTER</a>{% endif %}
            {% if page.url-demo %}<a onclick="ga('send', 'event', '{{ page.category }}', 'Visit demo', '{{ page.title }}');" class="button small radius primary" href="{{ page.url-demo }}" title="Démo &ndash; {{ page.title }}" target="_blank" rel="nofollow">DEMO</a>{% endif %}
            {% if page.url-buy %}
              <a onclick="ga('send', 'event', '{{ page.category }}', 'Buy', '{{ page.title }}');" class="button radius success" href="{{ page.url-buy }}" title="Acheter &ndash; {{ page.title }}" target="_blank" rel="nofollow" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <meta itemprop="priceCurrency" content="USD" /> $<span itemprop="price" content="{{ page.price }}">{{ page.price }}</span> &mdash; ACHETER
              </a>
            {% endif %}
            {% if page.url-version-gratuite %}<a onclick="ga('send', 'event', '{{ page.category }}', 'Download free version', '{{ page.title }}');" class="button radius secondary" href="{{ page.url-version-gratuite }}" title="Version gratuite &ndash; {{ page.title }}" target="_blank" rel="nofollow">VERSION GRATUITE</a>{% endif %}
            {% if page.url-explorer %}<a onclick="ga('send', 'event', '{{ page.category }}', 'Explorer', '{{ page.title }}');" class="button expand small radius primary" href="{{ page.url-explorer }}" title="Explorer &ndash; {{ page.title }}" target="_blank" rel="nofollow">EXPLORER</a>{% endif %}
            {% if page.url-telecharger %}<a onclick="ga('send', 'event', '{{ page.category }}', 'Download item', '{{ page.title }}');" class="button radius success" href="{{ page.url-telecharger }}" title="Télécharger &ndash; {{ page.title }}" target="_blank" rel="nofollow">TELECHARGER</a>{% endif %}
          </div>
          {% unless page.metadata == 'false' %}
          <!-- metadata
          ================================================== -->
          <div class="article-meta-data">
            <ul class="side-nav mod-article-meta-data" role="navigation" title="metadata livres">
              {% if page.url-github %}<li class="show-for-large-up" role="menuitem"><a onclick="ga('send', 'event', '{{ page.category }}', 'Visit github repo', '{{ page.title }}');" class="button expand radius small secondary" href="{{ page.url-github }}" title="Repo GitHub &ndash; {{ page.title }}" target="_blank" rel="nofollow">REPO GITHUB</a></li>{% endif %}
              {% if page.siteweb %}<li class="show-for-large-up" role="menuitem"><a onclick="ga('send', 'event', '{{ page.category }}', 'Visit website', '{{ page.title }}');" class="button expand radius small primary" href="{{ page.siteweb }}" title="Site Web &ndash; {{ page.title }}" target="_blank" rel="nofollow">SITE WEB</a></li>{% endif %}
              {% if page.no-soundcloud %}<li class="show-for-large-up" role="menuitem"><a onclick="ga('send', 'event', '{{ page.category }}', 'Visit to listen podcast', '{{ page.title }}');" class="button expand small radius primary" href="{{ page.no-soundcloud }}" title="Ecouter le podcast &ndash; {{ page.title }}" target="_blank" rel="nofollow">ECOUTER</a></li>{% endif %}
              {% if page.url-demo %}<li class="show-for-large-up" role="menuitem"><a onclick="ga('send', 'event', '{{ page.category }}', 'Visit demo', '{{ page.title }}');" class="button expand small radius primary" href="{{ page.url-demo }}" title="Démo &ndash; {{ page.title }}" target="_blank" rel="nofollow">DEMO</a><li>{% endif %}
              {% if page.url-buy %}
                <li class="show-for-large-up" role="menuitem"><a onclick="ga('send', 'event', '{{ page.category }}', 'Buy', '{{ page.title }}');" class="button expand radius success" href="{{ page.url-buy }}" title="Acheter &ndash; {{ page.title }}" target="_blank" rel="nofollow" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                  <meta itemprop="priceCurrency" content="USD" /> $<span itemprop="price" content="{{ page.price }}">{{ page.price }}</span> &mdash; ACHETER
                </a></li>
              {% endif %}
              {% if page.url-version-gratuite %}<li class="show-for-large-up" role="menuitem"><a onclick="ga('send', 'event', '{{ page.category }}', 'Download free version', '{{ page.title }}');" class="button expand radius secondary" href="{{ page.url-version-gratuite }}" title="Version gratuite &ndash; {{ page.title }}" target="_blank" rel="nofollow">VERSION GRATUITE</a></li>{% endif %}
              {% if page.url-explorer %}<a onclick="ga('send', 'event', '{{ page.category }}', 'Explorer', '{{ page.title }}');" class="button expand small radius primary" href="{{ page.url-explorer }}" title="Explorer &ndash; {{ page.title }}" target="_blank" rel="nofollow">EXPLORER</a>{% endif %}
              {% if page.url-telecharger %}<li class="show-for-large-up" role="menuitem"><a onclick="ga('send', 'event', '{{ page.category }}', 'Download item', '{{ page.title }}');" class="button expand radius success" href="{{ page.url-telecharger }}" title="Télécharger &ndash; {{ page.title }}" target="_blank" rel="nofollow">TELECHARGER</a></li>{% endif %}

              {% if page.for-who %}
                <li class="article-meta-data-header-title">Pour qui ?</li>
                <li role="menuitem"><a href="{{ page.for-who-url }}" title="{{ page.for-who }}">{{ page.for-who | upcase }}</a></li>
              {% endif %}

              {% if page.by %}
                <li class="article-meta-data-header-title">{% if page.sponsored == 'true' %}Sponsorisé par{% else %}Auteur{% endif %}</li>
                <li role="menuitem"><a href="{{ page.by-url }}" title="{{ page.by }}" target="_blank" rel="nofollow">{{ page.by | upcase }}</a></li>
              {% endif %}
            </ul>
            {% include custom/cartes/carte_ad_in-article-sidebar-affiliate.html %}
          </div>
          {% endunless %}
        </div>
      {% else %}
      <div class="column-header-article mod-header-article-no-margin-top row collapse header-background-title mod-ressource">
        <div class="small-12 large-8 columns small-text-center large-text-left">
          <h1 itemprop="name">{{ page.title }}</h1>
          <div itemprop="review" itemscope itemtype="http://schema.org/Review">
            <p class="article-bgimg-meta-by-time">
              {% capture datearticle %}
                {% assign A = page.date | date: "%A" %}
                {% case A %}
                  {% when 'Monday' %}Lundi
                  {% when 'Tuesday' %}Mardi
                  {% when 'Wednesday' %}Mercredi
                  {% when 'Thursday' %}Jeudi
                  {% when 'Friday' %}Vendredi
                  {% when 'Saturday' %}Samedi
                  {% when 'Sunday' %}Dimanche
                {% endcase %}
                {{ page.date | date: " %-d " }}
                {% assign B = page.date | date: "%-m" %}
                {% case B %}
                  {% when '1' %}Janvier
                  {% when '2' %}F&eacute;vrier
                  {% when '3' %}Mars
                  {% when '4' %}Avril
                  {% when '5' %}Mai
                  {% when '6' %}Juin
                  {% when '7' %}Juillet
                  {% when '8' %}Ao&ucirc;t
                  {% when '9' %}Septembre
                  {% when '10' %}Octobre
                  {% when '11' %}Novembre
                  {% when '12' %}D&eacute;cembre
                {% endcase %}
                {{ page.date | date: " %Y" }}
              {% endcapture %}
              <meta itemprop="datePublished" content="{{ page.date | date: "%F" }}"><time itemprop="datePublished" datetime="{{ page.date | date: "%F" }}">{{ datearticle }}</time>
              &bull;
              {% if page.rating %}
                <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating"> Noté
                  <span itemprop="ratingValue">{{ page.rating }}</span>&frasl;<span itemprop="bestRating">10</span> par
                  <meta itemprop="worstRating" content="1"/>
                </span>
              {% endif %}
              {% if page.auteur %}
                <a href="https://twitter.com/{{ page.auteur }}" title="Profil Twitter – {{ page.auteur }}" target="_blank" rel="nofollow" itemprop="author" itemscope="" itemtype="http://schema.org/Person"><span itemprop="name">@{{ page.auteur }}</span></a>
              {% endif %}
            </p>

            {% if page.intro %}
              <p class="subheader" itemprop="reviewBody">
                {{ page.intro | markdownify }}
              </p>
            {% endif %}
            {% include custom/cartes/carte_ad_liens-texte.html %}
          </div>
        </div>
        <div class="small-12 columns small-text-center hide-for-large-up">
          {% if page.url-github %}<a onclick="ga('send', 'event', '{{ page.category }}', 'Visit github repo', '{{ page.title }}');" class="button radius small secondary" href="{{ page.url-github }}" title="Repo GitHub &ndash; {{ page.title }}" target="_blank" rel="nofollow">REPO GITHUB</a>{% endif %}
          {% if page.siteweb %}<a onclick="ga('send', 'event', '{{ page.category }}', 'Visit website', '{{ page.title }}');" class="button radius small primary" href="{{ page.siteweb }}" title="Site Web &ndash; {{ page.title }}" target="_blank" rel="nofollow">SITE WEB</a>{% endif %}
          {% if page.url-demo %}<a onclick="ga('send', 'event', '{{ page.category }}', 'Visit demo', '{{ page.title }}');" class="button radius small primary" href="{{ page.url-demo }}" title="Démo &ndash; {{ page.title }}" target="_blank" rel="nofollow">DEMO</a>{% endif %}
          {% if page.url-buy %}
            <a onclick="ga('send', 'event', '{{ page.category }}', 'Buy', '{{ page.title }}');" class="button radius success" href="{{ page.url-buy }}" title="Acheter &ndash; {{ page.title }}" target="_blank" rel="nofollow" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <meta itemprop="priceCurrency" content="USD" /> $<span itemprop="price" content="{{ page.price }}">{{ page.price }}</span> &mdash; ACHETER
            </a>
          {% endif %}
          {% if page.url-version-gratuite %}<a onclick="ga('send', 'event', '{{ page.category }}', 'Download free version', '{{ page.title }}');" class="button radius secondary" href="{{ page.url-version-gratuite }}" title="Version gratuite &ndash; {{ page.title }}" target="_blank" rel="nofollow">VERSION GRATUITE</a>{% endif %}
          {% if page.url-telecharger %}<a onclick="ga('send', 'event', '{{ page.category }}', 'Download item', '{{ page.title }}');" class="button radius success" href="{{ page.url-telecharger }}" title="Télécharger &ndash; {{ page.title }}" target="_blank" rel="nofollow">TELECHARGER</a>{% endif %}
        </div>
      </div>

      <div class="row-body-article">

        <!-- screenshots
        ================================================== -->
        <div class="column-body-article mod-article-left-body">
          {% if page.image %}
          <figure class="gallery figure-img mod-inspiration-article-gallery mod-app-screenshot">
            <a href="{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" rel="lightbox">
              <img itemprop="image" src="{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" alt="{{ page.title }}-1" width="640" height="auto">
            </a>
            {% if page.image-legende-1 %}
            <figcaption>{{ page.image-legende-1 }}</figcaption>
            {% endif %}
          </figure>
          {% endif %}
          {% if page.image-2 %}
          <figure class="gallery figure-img mod-inspiration-article-gallery mod-app-screenshot">
            <a href="{{ page.image-2 | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" rel="lightbox">
              <img itemprop="image" src="{{ page.image-2 | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" alt="{{ page.title }}-2" width="640" height="auto">
            </a>
            {% if page.image-legende-2 %}
            <figcaption>{{ page.image-legende-2 }}</figcaption>
            {% endif %}
          </figure>
          {% endif %}
          {% if page.image-3 %}
          <figure class="gallery figure-img mod-inspiration-article-gallery mod-app-screenshot">
            <a href="{{ page.image-3 | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" rel="lightbox">
              <img itemprop="image" src="{{ page.image-3 | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" alt="{{ page.title }}-3" width="640" height="auto">
            </a>
            {% if page.image-legende-3 %}
            <figcaption>{{ page.image-legende-3 }}</figcaption>
            {% endif %}
          </figure>
          {% endif %}
          {% if page.image-4 %}
          <figure class="gallery figure-img mod-inspiration-article-gallery mod-app-screenshot">
            <a href="{{ page.image-4 | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" rel="lightbox">
              <img itemprop="image" src="{{ page.image-4 | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" alt="{{ page.title }}-4" width="640" height="auto">
            </a>
            {% if page.image-legende-4 %}
            <figcaption>{{ page.image-legende-4 }}</figcaption>
            {% endif %}
          </figure>
          {% endif %}
          {% if page.image-5 %}
          <figure class="gallery figure-img mod-inspiration-article-gallery mod-app-screenshot">
            <a href="{{ page.image-5 | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" rel="lightbox">
              <img itemprop="image" src="{{ page.image-5 | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" alt="{{ page.title }}-5" width="640" height="auto">
            </a>
            {% if page.image-legende-5 %}
            <figcaption>{{ page.image-legende-5 }}</figcaption>
            {% endif %}
          </figure>
          {% endif %}
          {% if page.image-6 %}
          <figure class="gallery figure-img mod-inspiration-article-gallery mod-app-screenshot">
            <a href="{{ page.image-6 | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" rel="lightbox">
              <img itemprop="image" src="{{ page.image-6 | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" alt="{{ page.title }}-6" width="640" height="auto">
            </a>
            {% if page.image-legende-6 %}
            <figcaption>{{ page.image-legende-6 }}</figcaption>
            {% endif %}
          </figure>
          {% endif %}
        </div>

        {% unless page.metadata == 'false' %}
        <!-- metadata
        ================================================== -->
        <div class="article-meta-data-right">
          <ul class="side-nav mod-article-meta-data" role="navigation" title="metadata">
            {% if page.url-github %}<li class="show-for-large-up" role="menuitem"><a onclick="ga('send', 'event', '{{ page.category }}', 'Visit github repo', '{{ page.title }}');" class="button expand radius small secondary" href="{{ page.url-github }}" title="Repo GitHub &ndash; {{ page.title }}" target="_blank" rel="nofollow">REPO GITHUB</a></li>{% endif %}
            {% if page.siteweb %}<li class="show-for-large-up" role="menuitem"><a onclick="ga('send', 'event', '{{ page.category }}', 'Visit website', '{{ page.title }}');" class="button expand radius small primary" href="{{ page.siteweb }}" title="Site Web &ndash; {{ page.title }}" target="_blank" rel="nofollow">SITE WEB</a></li>{% endif %}
            {% if page.no-soundcloud %}<li class="show-for-large-up" role="menuitem"><a onclick="ga('send', 'event', '{{ page.category }}', 'Visit to listen podcast', '{{ page.title }}');" class="button expand small radius primary" href="{{ page.no-soundcloud }}" title="Ecouter le podcast &ndash; {{ page.title }}" target="_blank" rel="nofollow">ECOUTER</a></li>{% endif %}
            {% if page.url-demo %}<li class="show-for-large-up" role="menuitem"><a onclick="ga('send', 'event', '{{ page.category }}', 'Visit demo', '{{ page.title }}');" class="button expand small radius primary" href="{{ page.url-demo }}" title="Démo &ndash; {{ page.title }}" target="_blank" rel="nofollow">DEMO</a><li>{% endif %}
            {% if page.url-buy %}
              <li class="show-for-large-up" role="menuitem"><a onclick="ga('send', 'event', '{{ page.category }}', 'Buy', '{{ page.title }}');" class="button expand radius success" href="{{ page.url-buy }}" title="Acheter &ndash; {{ page.title }}" target="_blank" rel="nofollow" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <meta itemprop="priceCurrency" content="USD" /> $<span itemprop="price" content="{{ page.price }}">{{ page.price }}</span> &mdash; ACHETER
              </a></li>
            {% endif %}
            {% if page.url-version-gratuite %}<li class="show-for-large-up" role="menuitem"><a onclick="ga('send', 'event', '{{ page.category }}', 'Download free version', '{{ page.title }}');" class="button expand radius secondary" href="{{ page.url-version-gratuite }}" title="Version gratuite &ndash; {{ page.title }}" target="_blank" rel="nofollow">VERSION GRATUITE</a></li>{% endif %}
            {% if page.url-telecharger %}<li class="show-for-large-up" role="menuitem"><a onclick="ga('send', 'event', '{{ page.category }}', 'Download item', '{{ page.title }}');" class="button expand radius success" href="{{ page.url-telecharger }}" title="Télécharger &ndash; {{ page.title }}" target="_blank" rel="nofollow">TELECHARGER</a></li>{% endif %}

            {% if page.by %}
              <li class="article-meta-data-header-title">{% if page.sponsored == 'true' %}Sponsorisé par{% else %}Auteur{% endif %}</li>
              <li role="menuitem"><a href="{{ page.by-url }}" title="{{ page.by }}" target="_blank" rel="nofollow">{{ page.by | upcase }}</a></li>
            {% endif %}

          </ul>
          {% include custom/cartes/carte_ad_in-article-sidebar-affiliate.html %}
        </div>
        {% endunless %}

      </div>

      {% endif %}
    </header>
  </div>

  <div class="row-body-article item-contenu">
    <main class="column-body-article mod-article-left-body">
      {{ content }}
      <div class="row collapse article-partage">
			  {% include custom/sections/share-article-footer.html %}
			</div>
      {% include custom/sections/article_footer_left.html %}
    </main>
    <div class="article-meta-data-right mod-article-contenu-meta-data">
      {% include custom/cartes/carte_ad_in-article-sidebar-affiliate-bottom.html %}
      {% include custom/cartes/carte_post-a-job-in-article_right.html %}
    </div>
  </div>

</article>

<!-- list all section's categories
================================================== -->
{% include custom/cartes/carte_cross-navigation-ressources.html %}
