---
layout: default
---
{% include custom/sections/article_header.html %}
<article itemscope itemtype="http://schema.org/Product">
  <div class="header-liste mod-no-bg-gradient u-no-padding-bottom">
    <header class="row-body-article medium-uncollapse large-collapse">
      {% if page.logo %}
        <div class="small-12 medium-12 large-1 columns small-text-center">
          <div class="rounded-img-d64 is-img" data-is-img="{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/' }}" data-interchange="[{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/' }}, (small)]" itemprop="image"></div>
        </div>
        <div class="small-12 medium-12 large-8 columns small-text-center large-text-left">
          <h1 itemprop="name">{{ page.title }}</h1>
          <div itemprop="review" itemscope itemtype="http://schema.org/Review">
            <p class="article-bgimg-meta-by-time">
              {% capture datearticle %}
                {% assign A = page.date | date: "%A" %}
                {% case A %}
                  {% when 'Monday' %}Lundi
                  {% when 'Tuesday' %}Mardi
                  {% when 'Wednesday' %}Mercredi
                  {% when 'Thursday' %}Jeudi
                  {% when 'Friday' %}Vendredi
                  {% when 'Saturday' %}Samedi
                  {% when 'Sunday' %}Dimanche
                {% endcase %}
                {{ page.date | date: " %-d " }}
                {% assign B = page.date | date: "%-m" %}
                {% case B %}
                  {% when '1' %}Janvier
                  {% when '2' %}F&eacute;vrier
                  {% when '3' %}Mars
                  {% when '4' %}Avril
                  {% when '5' %}Mai
                  {% when '6' %}Juin
                  {% when '7' %}Juillet
                  {% when '8' %}Ao&ucirc;t
                  {% when '9' %}Septembre
                  {% when '10' %}Octobre
                  {% when '11' %}Novembre
                  {% when '12' %}D&eacute;cembre
                {% endcase %}
                {{ page.date | date: " %Y" }}
              {% endcapture %}
              <meta itemprop="datePublished" content="{{ page.date | date: "%F" }}"><time itemprop="datePublished" datetime="{{ page.date | date: "%F" }}">{{ datearticle }}</time>
              &bull;
              {% if page.rating %}
                <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating"> Noté
                  <span itemprop="ratingValue">{{ page.rating }}</span>&frasl;<span itemprop="bestRating">10</span> par
                  <meta itemprop="worstRating" content="1"/>
                </span>
              {% endif %}
              {% if page.auteur %}
                <a href="https://twitter.com/{{ page.auteur }}" title="Profil Twitter – {{ page.auteur }}" target="_blank" itemprop="author" itemscope="" itemtype="http://schema.org/Person"><span itemprop="name">@{{ page.auteur }}</span></a>
              {% endif %}
            </p>

            {% if page.intro %}
              <p class="subheader" itemprop="reviewBody">
                {{ page.intro }}
              </p>
            {% endif %}

          </div>
        </div>
        <div class="small-12 medium-12 large-3 columns small-text-center large-text-left">
          {% if page.github %}<a href="{{ page.github }}" class="button radius small secondary" target="_blank">Repo GitHub</a>{% endif %}
          {% if page.siteweb %}<a href="{{ page.siteweb }}" class="button radius small primary" target="_blank">Site Web</a>{% endif %}
        </div>
      {% else %}
      <div class="column-header-article mod-header-article-no-margin-top row collapse">
        <div class="small-12 medium-12 large-8 columns small-text-center large-text-left">
          <h1 itemprop="name">{{ page.title }}</h1>
          <div itemprop="review" itemscope itemtype="http://schema.org/Review">
            <p class="article-bgimg-meta-by-time">
              {% capture datearticle %}
                {% assign A = page.date | date: "%A" %}
                {% case A %}
                  {% when 'Monday' %}Lundi
                  {% when 'Tuesday' %}Mardi
                  {% when 'Wednesday' %}Mercredi
                  {% when 'Thursday' %}Jeudi
                  {% when 'Friday' %}Vendredi
                  {% when 'Saturday' %}Samedi
                  {% when 'Sunday' %}Dimanche
                {% endcase %}
                {{ page.date | date: " %-d " }}
                {% assign B = page.date | date: "%-m" %}
                {% case B %}
                  {% when '1' %}Janvier
                  {% when '2' %}F&eacute;vrier
                  {% when '3' %}Mars
                  {% when '4' %}Avril
                  {% when '5' %}Mai
                  {% when '6' %}Juin
                  {% when '7' %}Juillet
                  {% when '8' %}Ao&ucirc;t
                  {% when '9' %}Septembre
                  {% when '10' %}Octobre
                  {% when '11' %}Novembre
                  {% when '12' %}D&eacute;cembre
                {% endcase %}
                {{ page.date | date: " %Y" }}
              {% endcapture %}
              <meta itemprop="datePublished" content="{{ page.date | date: "%F" }}"><time itemprop="datePublished" datetime="{{ page.date | date: "%F" }}">{{ datearticle }}</time>
              &bull;
              {% if page.rating %}
                <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating"> Noté
                  <span itemprop="ratingValue">{{ page.rating }}</span>&frasl;<span itemprop="bestRating">10</span> par
                  <meta itemprop="worstRating" content="1"/>
                </span>
              {% endif %}
              {% if page.auteur %}
                <a href="https://twitter.com/{{ page.auteur }}" title="Profil Twitter – {{ page.auteur }}" target="_blank" itemprop="author" itemscope="" itemtype="http://schema.org/Person"><span itemprop="name">@{{ page.auteur }}</span></a>
              {% endif %}
            </p>

            {% if page.intro %}
              <p class="subheader" itemprop="reviewBody">
                {{ page.intro }}
              </p>
            {% endif %}

          </div>
        </div>
        <div class="small-12 medium-12 large-4 columns small-text-center large-text-right">
          {% if page.github %}<a class="button radius small secondary" href="{{ page.github }}" title="Repo GitHub &ndash; {{ page.title }}" target="_blank">REPO GITHUB</a>{% endif %}
          {% if page.siteweb %}<a class="button radius small primary" href="{{ page.siteweb }}" title="Site Web &ndash; {{ page.title }}" target="_blank">SITE WEB</a>{% endif %}
          {% if page.url-buy %}
            <a class="button radius success" href="{{ page.url-buy }}" title="Acheter &ndash; {{ page.title }}" target="_blank" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <meta itemprop="priceCurrency" content="USD" /> $<span itemprop="price" content="{{ page.price }}">{{ page.price }}</span> &mdash; ACHETER
            </a>
          {% endif %}
          {% if page.url-version-gratuite %}<a class="button radius secondary" href="{{ page.url-version-gratuite }}" title="Version gratuite &ndash; {{ page.title }}" target="_blank">VERSION GRATUITE</a>{% endif %}
          {% if page.url-telecharger %}<a class="button radius success" href="{{ page.url-telecharger }}" title="Télécharger &ndash; {{ page.title }}" target="_blank">TELECHARGER</a>{% endif %}
        </div>
      </div>
      {% endif %}

      <div class="row-body-article">

        <!-- screenshots
        ================================================== -->
        <div class="column-body-article mod-article-left-body">
          {% if page.image %}
          <figure class="gallery figure-img mod-inspiration-article-gallery mod-app-screenshot">
            <a href="{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" rel="lightbox">
              <img itemprop="image" src="{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" alt="{{ page.title }}-1" width="640" height="auto">
            </a>
          </figure>
          {% endif %}
        </div>

        {% unless page.metadata == 'false' %}
        <!-- metadata
        ================================================== -->
        <div class="article-meta-data-right">
          <ul class="side-nav mod-article-meta-data" role="navigation" title="metadata livres">

            {% if page.theme %}
              <li class="article-meta-data-header-title">Pour qui ?</li>
              {% for item in site.data.apprendre.livres-categories %}
    						<li role="menuitem"><a class="tabs-item" href="{{ item.permalink }}" title="{{ item.name }}">{{ item.name | upcase }}</a></li>
    					{% endfor %}
            {% endif %}

            {% if page.by %}
            <li class="article-meta-data-header-title">Crédit</li>
            <li role="menuitem"><a href="{{ page.by-url }}" title="{{ page.by }}" target="_blank">{{ page.by | upcase }}</a></li>
            {% endif %}
          </ul>
        </div>
        {% endunless %}

      </div>

    </header>
  </div>

  <div class="row-body-article item-contenu">
    <main class="column-body-article mod-article-left-body">
      {{ content }}
      {% include custom/sections/article_footer_left.html %}
    </main>
    <div class="article-meta-data-right mod-article-contenu-meta-data">
      {% include custom/cartes/carte_post-a-job-in-article_right.html %}
    </div>
  </div>

</article>
