---
layout: default
---

{% assign post = page %}

{% include custom/sections/article_header.html %}
<article itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
  <div class="header-liste mod-no-bg-gradient">
	  <header class="row-body-article">
      <div class="column-header-article mod-header-article-no-margin-top row collapse">
	      <div class="small-12 large-8 columns">
	      	<figure class="figure-video" data-is-video="http://img.youtube.com/vi/{{ page.id-youtube }}/mqdefault.jpg">
		        <div class="note-flex-video widescreen">
		          {% if page.id-youtube %}
		          	<iframe src="https://www.youtube.com/embed/{{ page.id-youtube }}?showinfo=0&modestbranding=1&controls=2" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		            <link itemprop="embedUrl" href="https://www.youtube.com/embed/{{ page.id-youtube }}?showinfo=0&modestbranding=1&controls=2" />
              {% endif %}
		        	{% if page.id-vimeo %}
		        		<iframe src="//player.vimeo.com/video/{{ page.id-vimeo | remove: ' ' }}" frameborder="0" data-progress="true" data-seek="true" data-bounce="true" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		        	  <link itemprop="embedUrl" href="//player.vimeo.com/video/{{ page.id-vimeo | remove: ' ' }}" />
              {% endif %}
		        </div>
		      </figure>

          <p class="article-video-yt-subscribe-row">Accédez au meilleur des interfaces sur YouTube <a class="button-subscribe-youtube" href="https://www.youtube.com/channel/UCd1PMrs5t1mOVrf-DlygcDA" title="Abonnez-vous à la chaîne YouTube du MDW" target="_blank"><svg class="ic-block-h18" fill="#FFFFFF" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg"><path d="M8 5v14l11-7z"/><path d="M0 0h24v24H0z" fill="none"/></svg> ABONNEZ-VOUS</a></p>

	        <div class="row collapse">
	          <div class="small-12 columns">
	            <h1 itemprop="name">{{ page.title }}</h1>
	            {% if page.intro %}<p class="subheader" itemprop="description">{{ page.intro }}</p>{% endif %}
						  <p class="article-bgimg-meta-by-time">
                {% if page.auteur %}
                  <a href="https://twitter.com/{{ page.auteur }}" title="Profil Twitter – {{ page.auteur }}" target="_blank" rel="nofollow">
                    @{{ page.auteur }}
                  </a>
                {% endif %}
                {% capture datearticle %}
                  {% assign A = page.date | date: "%A" %}
                  {% case A %}
                    {% when 'Monday' %}Lundi
                    {% when 'Tuesday' %}Mardi
                    {% when 'Wednesday' %}Mercredi
                    {% when 'Thursday' %}Jeudi
                    {% when 'Friday' %}Vendredi
                    {% when 'Saturday' %}Samedi
                    {% when 'Sunday' %}Dimanche
                  {% endcase %}
                  {{ page.date | date: " %-d " }}
                  {% assign B = page.date | date: "%-m" %}
                  {% case B %}
                    {% when '1' %}Janvier
                    {% when '2' %}F&eacute;vrier
                    {% when '3' %}Mars
                    {% when '4' %}Avril
                    {% when '5' %}Mai
                    {% when '6' %}Juin
                    {% when '7' %}Juillet
                    {% when '8' %}Ao&ucirc;t
                    {% when '9' %}Septembre
                    {% when '10' %}Octobre
                    {% when '11' %}Novembre
                    {% when '12' %}D&eacute;cembre
                  {% endcase %}
                  {{ page.date | date: " %Y" }}
                {% endcapture %}
                &bull;
                <meta itemprop="uploadDate" content="{{ page.date | date: "%F %X" }}"/>
                <time itemprop="datePublished" datetime="{{ page.date | date: "%F %X" }}">{{ datearticle }}</time>
              </p>

              {% if page.id-youtube %}
                <img class="hide" itemprop="thumbnailUrl" src="http://img.youtube.com/vi/{{ page.id-youtube | remove: ' ' }}/mqdefault.jpg" alt="{{ page.title }}" width="219" height="106" />
              {% endif %}
              {% if page.id-vimeo %}
                <img class="hide" itemprop="thumbnailUrl" src="" data-vimeo-id="{{ page.id-vimeo | remove: ' ' }}" class="large" alt="{{ page.title }}" width="219" height="106" />
              {% endif %}

            </div>
	        </div>
	      </div>
	      <div class="large-4 columns show-for-large-up">
	      	{% include custom/cartes/carte_videos-relatives.html %}
	      </div>
      </div>
	  </header>
	</div>
  <div class="row-body-article item-contenu">
    <main class="column-body-article mod-article-left-body">
	  	{{ content }}
			<!-- Tags on GitHub Pages without plugin
			source @minddust ==> https://github.com/minddust/minddust.github.io/blob/master/_layouts/post.html
			================================================== -->
			{% if post.tags.size > 0 %}
        {% capture tags_content %} TAGS : {% endcapture %}
        {% for post_tag in post.tags %}
          {% for data_tag in site.data.videos.videos-tags %}
            {% if data_tag.slug == post_tag %}
              {% assign tag = data_tag %}
            {% endif %}
          {% endfor %}
          {% if tag %}
            {% capture tags_content_temp %}{{ tags_content }}<a href="{{ tag.slug | remove: 'videos-' | downcase | prepend: '/videos/'}}" title="{{ tag.name | upcase }}">{{ tag.name | upcase }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
            {% assign tags_content = tags_content_temp %}
          {% endif %}
        {% endfor %}
      {% else %}
        {% assign tags_content = '' %}
      {% endif %}

			{% if page.viatitle %}
			<!-- Via
			================================================== -->
			<span class="article-via"><svg class="ic-block-h48" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z" fill="#999999"/></svg>
        VIA <a href="{{ page.viaurl }}" title="Via {{ page.viatitle }}" target="_blank" rel="nofollow">{{ page.viatitle | upcase }}</a>
      </span>
			{% endif %}
			<!-- Tags
			================================================== -->
			<span class="article-meta-footer"><svg class="ic-block-h48" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M17.63 5.84C17.27 5.33 16.67 5 16 5L5 5.01C3.9 5.01 3 5.9 3 7v10c0 1.1.9 1.99 2 1.99L16 19c.67 0 1.27-.33 1.63-.84L22 12l-4.37-6.16zM16 17H5V7h11l3.55 5L16 17z" fill="#999999"/></svg>{{ tags_content }}</span>
      {% if page.keyword_title %}
      	{% include custom/cartes/carte_lexique.html %}
      {% endif %}

      {% include custom/cartes/cartenl.html %}

      {% include custom/cartes/carte_twtr_no-mail.html %}
	  </main>
    <div class="article-meta-data-right mod-article-contenu-meta-data">
      {% include custom/cartes/carte_post-a-job-in-article_right.html %}
    </div>
  </div>

</article>

<!-- list all sections
================================================== -->
{% include custom/cartes/carte_cross-navigation-app.html %}
