---
layout: default
---

{% assign post = page %}

{% include custom/sections/article_header.html %}
<article itemscope itemtype="http://schema.org/BlogPosting">
  <div class="header-liste">
	  <header class="row-body-article">
      <div class="column-header-article mod-header-article-no-margin-top row collapse">
	      <div class="small-12 large-8 columns">
	      	<figure class="figure-video" data-is-video="http://img.youtube.com/vi/{{ page.id-youtube }}/mqdefault.jpg">
		        <div class="note-flex-video widescreen">
		          <iframe src="https://www.youtube.com/embed/{{ page.id-youtube }}?showinfo=0&modestbranding=1&controls=2" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		        </div>
		      </figure>
          <div class="yt-subscribe">
          	<span>Abonnez-vous à MDW VIDEOS</span>
          	<div class="yt-subscribe-cta">
          		<script src="https://apis.google.com/js/platform.js"></script>
							<div class="g-ytsubscribe" data-channelid="UCd1PMrs5t1mOVrf-DlygcDA" data-layout="default" data-count="hidden"></div>
						</div>
          </div>
	        <div class="row collapse">
	          <div class="small-12 columns">
	            <h1 class="header-liste-headline mod-article-video-title" itemprop="headline">{{ page.title }}</h1>
	            <aside>
						  	<p class="article-bgimg-meta-by-time mod-article-video-meta-by-time">Publiée par <a href="https://twitter.com/{{ page.auteur }}">@{{ page.auteur }}</a>{% capture datearticle %}{% assign A = page.date | date: "%A" %}{% case A %}{% when 'Monday' %}Lundi{% when 'Tuesday' %}Mardi{% when 'Wednesday' %}Mercredi{% when 'Thursday' %}Jeudi{% when 'Friday' %}Vendredi{% when 'Saturday' %}Samedi{% when 'Sunday' %}Dimanche{% endcase %}{{ page.date | date: " %-d " }}{% assign B = page.date | date: "%-m" %}{% case B %}{% when '1' %}Janvier{% when '2' %}F&eacute;vrier{% when '3' %}Mars{% when '4' %}Avril{% when '5' %}Mai{% when '6' %}Juin{% when '7' %}Juillet{% when '8' %}Ao&ucirc;t{% when '9' %}Septembre{% when '10' %}Octobre{% when '11' %}Novembre{% when '12' %}D&eacute;cembre{% endcase %}{{ page.date | date: " %Y" }}{% endcapture %} &bull; <time itemprop="datePublished" datetime="{{ page.date | date: "%-d-%-m-%Y" }}">{{ datearticle }}</time></p>
						  </aside>
	          </div>
	        </div>
	      </div>
	      <div class="large-4 columns show-for-large-up">
	      	<aside>{% include custom/cartes/carte_videos-relatives.html %}</aside>
	      </div>
      </div>
	  </header>
	</div>

	<div class="row-body-article item-contenu"> 
	  
	  <main class="column-body-article mod-article-left-body">
	  	{% if page.intro %}<p class="article-intro">{{ page.intro }}</p>{% endif %}
	  	{{ content }}
			<!-- Tags on GitHub Pages without plugin
			source @minddust ==> https://github.com/minddust/minddust.github.io/blob/master/_layouts/post.html
			================================================== -->
			{% if post.tags.size > 0 %}
        {% capture tags_content %} ITEMS RELATIFS : {% endcapture %}
        {% for post_tag in post.tags %}
          {% for data_tag in site.data.videos-tags %}
            {% if data_tag.slug == post_tag %}
              {% assign tag = data_tag %}
            {% endif %}
          {% endfor %}
          {% if tag %}
            {% capture tags_content_temp %}{{ tags_content }}<a href="{{ tag.slug | downcase | prepend: '/videos/'}}">{{ tag.name | upcase }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
            {% assign tags_content = tags_content_temp %}
          {% endif %}
        {% endfor %}
      {% else %}
        {% assign tags_content = '' %}
      {% endif %}

			{% if page.viatitle %}
			<!-- Via
			================================================== -->
			<span class="article-via"><svg class="ic-block-h48" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z" fill="#999999"/></svg>Via <a href="{{ page.viaurl }}" title="Via {{ page.viatitle }}">{{ page.viatitle }}</a></span>
			{% endif %}
			<!-- Tags
			================================================== -->
			<span class="article-meta-footer"><svg class="ic-block-h48" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M17.63 5.84C17.27 5.33 16.67 5 16 5L5 5.01C3.9 5.01 3 5.9 3 7v10c0 1.1.9 1.99 2 1.99L16 19c.67 0 1.27-.33 1.63-.84L22 12l-4.37-6.16zM16 17H5V7h11l3.55 5L16 17z" fill="#999999"/></svg>{{ tags_content}}</span>
			<div class="row collapse article-partage">
			  {% include custom/sections/share-article-footer.html %}
			</div>
	  </main>

	  <div class="article-meta-by-time mod-article-right-meta show-for-large-up">
		  <aside class="job--in-article mod-job-in-article-first-position">
		  {% if site.offre-emploi %}
		  	<h1>AU TRAVAIL, NERD !</h1>
		  	{% assign offres = site.offre-emploi | reverse %}
  			{% for offre in offres limit: 2 %}
					<p><a href="{{ offre.url | prepend: site.baseurl }}" title="{{ offre.title }}">
	          {{ offre.entreprise }} recrute un {{ offre.fonction }} en {{ offre.type }} à {{ offre.lieu }}
	        </a></p>
				{% endfor %}
				<p>via le <a class="job--in-article-to-board" href="/emploi/" title="Explorez la section emploi">Job Board du MDW</a></p>
			{% else %}
				<h1>AU TRAVAIL, NERD !</h1>
				<p>Vous cherchez du travail ?	Explorez le <a class="job--in-article-to-board" href="/emploi/" title="Explorez la section emploi">Job Board du MDW</a>.</p>
			{% endif %}
		  </aside>
	  </div>
		<div class="row-body-article">
			<div class="column-body-article mod-article-left-body">
				<article class="row-liste-index">
				  <div class="small-12 columns section-carte-newsletter section-carte-panel">
				    <h1 class="text-center">Vous voulez plus de vidéos comme ça ?</h1>
				    <p class="text-center">Recevez les news les plus pertinentes en Web design et en développement Web par email. Déconnectez et concentrez-vous sur l'essentiel, la conception des expériences numériques de demain (always shipping...) sans pour autant sacrifier votre veille.</p>
				    <form action="//magazineduwebdesign.us3.list-manage.com/subscribe/post?u=5f1d68675f48a4d9deba26d69&id=fe09463a6e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				      
				      <div id="mc_embed_signup_scroll">
				        <div class="row">
				          <div class="small-12 medium-6 columns">
				            <div class="mc-field-group">
				              <label for="mce-EMAIL"></label>
				              <input type="email" placeholder="Insérez votre adresse@email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
				            </div>
				            <div id="mce-responses" class="clear">
				              <div class="response" id="mce-error-response" style="display:none"></div>
				              <div class="response" id="mce-success-response" style="display:none"></div>
				            </div>
				            
				          </div>

				          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				          <div style="position: absolute; left: -5000px;"><input type="text" name="b_5f1d68675f48a4d9deba26d69_fe09463a6e" tabindex="-1" value=""></div>

				          <div class="small-12 medium-6 columns">
				            <input type="submit" class="small button radius expand" value="JE M'ABONNE" name="subscribe" id="mc-embedded-subscribe">  
				          </div>
				        </div>
				      </div>
				    </form>
				  </div>
				</article>
				{% include custom/cartes/carte_twtr_no-mail.html %}
			</div>
		</div>
	</div>
</article>