<div class="big-leardboard">
  {% for ad in site.data.ad.ad-content-banner %}
  <a onclick="ga('send', 'event', 'Publicite', 'click', '{{ ad.company }} {% if ad.campaign %}{{ ad.campaign }}{% endif %} big-leader-board')" href="{{ ad.url }}" title="{{ ad.title }}" target="_blank" rel="nofollow">
    <img class="show-for-small-only big-leardboard-content" src="https://s3.eu-central-1.amazonaws.com/mdw-img-ads/{{ ad.image-mobile-big-leardboard }}" alt="{{ ad.title }}" width="100%" height="auto" />
    <img class="show-for-large-up big-leardboard-content" src="https://s3.eu-central-1.amazonaws.com/mdw-img-ads/{{ ad.image-desktop-big-leardboard }}" alt="{{ ad.title }}" width="100%" height="auto" />
  </a>
  {% endfor %}
</div>
