<aside class="job--in-article show-for-large-up">
	<article class="grid-article-card mod-app-icon" data-equalizer-watch>
		<a onclick="ga('send', 'event', 'Publicite', 'click', 'Wix ad top sidebar right');" class="grid-article-card-link-wrap" href="http://wixstats.com/?a=4246&c=22&s1=" title="Découvrez pourquoi nous recommandons Wix" target="_blank" rel="nofollow">
			<div class="row collapse text-center">
				<div class="grid-article-card-info mod-large-auto small-12 columns">
					<img class="grid-article-card-app-icon" src="https://s3-eu-west-1.amazonaws.com/mdw-images/small/logo-wix.png" alt="Wix logo" width="64" height="64">
					<h1 class="grid-article-card-title mod-ads-index-panel-title mod-card-w-tag">Wix – votre site perso tant attendu <span class="label--new mod-ads-sidebar">Recommandé</span></h1>
				</div>
			</div>
		</a>
	</article>
</aside>
