<section>
  <div class="row">
    <div class="small-12 columns section-carte-header-no-bg">
      <h1 class="section-carte-header-title">{{ include.param | remove:'parcours-apps-ios-' | remove:'parcours-apps-apple-watch-' | remove:'parcours-apps-android-wear-' | remove:'parcours-apps-android-' | replace: '-', ' ' | capitalize }}</h1>
    </div>
  </div>
  <!-- list items
  ================================================== -->
  <div class="row">
    <div class="small-12 columns">
      <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4" data-equalizer>

      <!-- list all items
      ================================================== -->
      {% for post in site.tags.[include.param] limit:3 %}
        <li>
          <article class="carte-article-secondaire mod-article-thumbnail-app-icon js-postcount" itemscope="" itemtype="http://schema.org/Article" data-equalizer-watch>
            <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
              <div class="row">
                <div class="small-12 columns text-center">
                  <img class="carte-article-secondaire-thumbnail-app-icon" src="{{ post.logo | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-img/small/'}}" alt="icône app {{ post.title }}" width="64" height="64">
                  <h1 class="carte-article-secondaire-post-title mod-small-title" itemprop="headline">{{ post.title | truncate: 20 }}</h1>
                </div>
              </div>
            </a>
          </article>
        </li>
      {% endfor %}
        <li>
          <article class="carte-article-secondaire mod-article-thumbnail-app-icon js-postcount" itemscope="" itemtype="http://schema.org/Article"  data-equalizer-watch>
            <a href="{{ site.baseurl }}{{ page.permalink }}{{ include.param | remove:'parcours-apps-ios-' | remove:'parcours-apps-apple-watch-' | remove:'parcours-apps-android-' | remove:'parcours-apps-android-wear-' }}/" class="carte-article-secondaire-action-link" title="Explorer la collection">
              <div class="row">
                <div class="small-12 columns carte-article-secondaire-container-action">
                  <h2 class="carte-article-secondaire-action-texte text-center">
                    EN VOIR PLUS <svg class="ic-block-h24" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path d="M9 3L7.94 4.06l4.19 4.19H3v1.5h9.13l-4.19 4.19L9 15l6-6z" fill="#999999"/></svg>
                  </h2>
                </div>
              </div>
            </a>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>