<section>
  <div class="row-liste-index">
    <div class="small-12 columns section-carte-header">
      <h1 class="section-carte-header-title">#{{ include.param | upcase }}</h1>
    </div>
  </div>
  <div class="row-liste-index">
    <div class="small-12 columns carte-categorie">
    	{% for post in site.categories.[include.param] limit:1 %}

        <a href="{{ post.url | prepend: site.baseurl }}">
          <article class="carte-article-prioritaire" data-interchange="[{{ post.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/small/' }}, (small)],[{{ post.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/medium/' }}, (medium)],[{{ post.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}, (large)]" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
            <div class="shadow-img">
              <div class="carte-article-prioritaire-content">
                <h1 class="carte-article-prioritaire-title" itemprop="headline">{{ post.title }}</h1>
              </div>
            </div>
          </article>
        </a>
      {% endfor %}
       
      {% for post in site.categories.[include.param] limit:2 offset:1 %}
      
        <a href="{{ post.url | prepend: site.baseurl }}">
          <article class="carte-article-secondaire" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
            
            <div class="row collapse">
              <div class="small-9 columns">
              	<h1 class="carte-article-secondaire-post-title" itemprop="headline">{{ post.title }}</h1> 
              </div>

              <div class="small-3 columns">
                {% if post.image %}
                <div class="carte-article-secondaire-thumbnail right" data-interchange="[{{ post.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/' }}, (default)]"></div>
                {% endif %}
              </div>
            </div>

          </article>
        </a>
      {% endfor %}
      
    </div>
  </div>

  <div class="row-liste-index">
    <div class="small-12 columns section-carte-action">
      <a href="{{ site.baseurl }}/{{ include.param }}/">EXPLORER LES ARTICLES {{ include.param | upcase }}</a>
    </div>
  </div>
</section>