<section>
  <div class="row">
    <div class="small-12 columns text-center">
      <h1 class="section-carte-header-title-big">Explorez le meilleur du design interactif</h1>
      <!-- Number of item -->
      {% for item in site.data.navigation.navigation-entries %}
        {% capture length %}{{ forloop.length }}{% endcapture %}
      {% endfor %}
      <p class="header-liste-content">{{ length }} sections pour développer votre talent. Des centaines de trucs cools à découvrir.</p>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4 mod-grid-cross-nav" data-equalizer role="navigation" title="Liste de liens">

      {% for item in site.data.navigation.navigation-entries %}
        <li role="menuitem">
          <div class="grid-article-card" data-equalizer-watch>
            <a class="grid-article-card-link-wrap" href="{{ item.permalink }}" title="{{ item.name }}">
              <div class="row collapse">
                <div class="grid-article-card-info mod-action small-12 columns">
                  <span class="grid-article-card-title mod-action">{{ item.name }}</span>
                </div>
              </div>
            </a>
          </div>
        </li>
      {% endfor %}

      </ul>
    </div>
  </div>
</section>
