<aside>
  <div class="row-liste-index">
    <div class="small-12 columns section-carte-header">
      <h1 class="left">Encyclo</h1><a href="{{site.baseurl}}/{{site.collections.encyclo.label}}/" class="right">TOUTE L'ENCYCLO</a>
    </div>
  </div>
  <div class="row-liste-index">
    <div class="small-12 columns section-carte-panel">
      <dl>
        <dt><a class="encyclo-titre" href="{{site.baseurl}}/{{site.collections.encyclo.label}}/{{ page.keyword_title | downcase }}/">{{ page.keyword_title }}</a></dt>
        <dd>{{ page.keyword_desc }}</dd>
      </dl>
    </div>
  </div>
  <div class="row-liste-index">
    <div class="small-12 columns section-carte-action">
      <a href="{{site.baseurl}}/{{site.collections.encyclo.label}}/{{ page.keyword_title | downcase }}/" class="more">EN SAVOIR PLUS SUR {{ page.keyword_title | upcase }}</a>
    </div>
  </div>
</aside>