<aside class="job--in-article">
	<article>
		<div class="row">
			<div class="small-12 columns section-carte-panel">
				<p class="article-meta-item-by">Le bon coin 🎁</p>
				<div id="md-sidebar-widget"></div>
				<script type="text/javascript">
				(function() {
				var mdWidgetUrl = "http://www.mightydeals.com/widgets/sidebar/refID/ceb9388b";
				var s = document.createElement("script"), s1 = document.getElementsByTagName("script")[0];
				s.type = "text/javascript";
				s.async = true;
				s.src = mdWidgetUrl;
				s1.parentNode.insertBefore(s, s1);
				})();
				</script>
			</div>
		</div>
	</article>
</aside>
