<aside class="job--in-article mod-job-in-article show-for-large-up">
	<article class="grid-article-card mod-app-icon" data-equalizer-watch>
		<a onclick="ga('send', 'event', 'Publicite', 'click', 'designmodo-slider');" class="grid-article-card-link-wrap" href="http://designmodo.com/slides/#overview?u=356" title="Slide framework - le générateur de sites statiques" target="_blank" rel="nofollow">
			<div class="row collapse text-center">
				<div class="grid-article-card-info mod-large-height small-12 columns">
					<img class="grid-article-card-app-icon" src="https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/slider-framework-designmodo.jpg" alt="icône ui8" width="64" height="64">
					<h1 class="grid-article-card-title mod-ads-index-panel-title mod-card-w-tag">Slider &ndash; Le générateur de sites<span class="label--new mod-ads-sidebar">Sponsor</span></h1>
				</div>
			</div>
		</a>
	</article>
</aside>
