<div class="row-liste-index">
	<div class="section-carte-index-panel">
		<a onclick="ga('send', 'event', 'Publicite', 'click', 'campaign wix');" href="http://fr.wix.com/" title="Créez Votre Propre Site Internet" target="_blank" rel="nofollow">
			<article class="carte-article-secondaire mod-ads">
				<div class="row collapse">
					<div class="small-3 medium-2 columns">
						<div class="rounded-img-d64 mod-ads" data-interchange="[https://s3-eu-west-1.amazonaws.com/mdw-images/small/logo-wix.png, (small)]" data-uuid="interchange-if5cwx8k1" style="background-image: url(https://s3-eu-west-1.amazonaws.com/mdw-images/small/logo-wix.png);"></div>
					</div>
					<div class="small-9 medium-10 columns">
						<h1 class="carte-article-secondaire-post-title mod-job-title">
							<span class="left job--entreprise">Wix <span class="label--new">Sponsor</span></span>
							<span class="job--description">Créez votre propre site Web avec Wix.com</span>
						</h1>
					</div>
				</div>
			</article>
		</a>
	</div>
</div>
