<div class="row-liste-index">
	<div class="section-carte-index-panel">
		<a href="/offre-emploi/pingdom-recrute-un-sysadmin-paris/" title="Pingdom recrute un SysAdmin à Paris">
			<article class="carte-article-secondaire mod-ads">
				<div class="row collapse">
					<div class="small-2 medium-2 columns">
						<div class="rounded-img-d64 mod-ads" data-interchange="[https://s3-eu-west-1.amazonaws.com/mdw-images/small/logo-wix.png, (small)]" data-uuid="interchange-if5cwx8k1" style="background-image: url(https://s3-eu-west-1.amazonaws.com/mdw-images/small/logo-wix.png);"></div>
					</div>
					<div class="small-10 medium-10 columns">
						<h1 class="carte-article-secondaire-post-title mod-job-title">
							<span class="left job--entreprise">Wix <span class="label--new">Sponsor</span></span>
							<span class="job--description">Création de site internet avec wix.com</span>
						</h1>
					</div>
				</div>
			</article>
		</a>
	</div>
</div>
