<aside class="job--in-article mod-job-in-article show-for-large-up">
	<article class="grid-article-card mod-app-icon" data-equalizer-watch>
		<a onclick="ga('send', 'event', 'Publicite', 'click', 'nucleoapp');" class="grid-article-card-link-wrap" href="https://nucleoapp.com/?ref=palayer" title="Nucleo, icônes vectorisées personnalisables" target="_blank" rel="nofollow">
			<div class="row collapse text-center">
				<div class="grid-article-card-info mod-large-auto small-12 columns">
					<img src="https://goo.gl/w91adk" alt="Nucleo, icônes vectorisées personnalisables" title="Nucleo, icônes vectorisées personnalisables" style="width: 250px; max-width: 100%;"/>
				</div>
			</div>
		</a>
	</article>
</aside>
