<!-- Google AdSense
================================================== -->
<div class="row collapse">
  <div class="small-12 columns text-center">
    <div class="show-for-small-only leaderboard mod-no-margin-b">
      <ins class='dcmads' style='display:inline-block;width:320px;height:100px'
          data-dcm-placement='N34703.2583013MAGAZINEDUWEBDESIG/B8599899.143069734'
          data-dcm-rendering-mode='iframe'
          data-dcm-https-only
          data-dcm-resettable-device-id=''
          data-dcm-app-id=''>
        <script src='https://www.googletagservices.com/dcm/dcmads.js'></script>
      </ins>
      <!-- NOTE: desactivated for wix campaign
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

      <ins class="adsbygoogle"
           style="display:inline-block;width:320px;height:100px"
           data-ad-client="ca-pub-7816755037791885"
           data-ad-slot="9331256858"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>-->
    </div>
    <div class="show-for-medium-up leaderboard mod-no-margin-b">
      <ins class='dcmads' style='display:inline-block;width:728px;height:90px'
          data-dcm-placement='N34703.2583013MAGAZINEDUWEBDESIG/B8599899.143069734'
          data-dcm-rendering-mode='iframe'
          data-dcm-https-only
          data-dcm-resettable-device-id=''
          data-dcm-app-id=''>
        <script src='https://www.googletagservices.com/dcm/dcmads.js'></script>
      </ins>
      <!-- NOTE: desactivated for wix campaign
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:90px"
           data-ad-client="ca-pub-7816755037791885"
           data-ad-slot="6017863658"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>-->
    </div>
  </div>
</div>
