<aside class="job--in-article">
	<article class="grid-article-card mod-app-icon" data-equalizer-watch>
		<a class="grid-article-card-link-wrap" href="http://fr.wix.com/" title="Créez Votre Propre Site Internet" target="_blank" rel="nofollow">
			<div class="row collapse text-center">
				<div class="grid-article-card-info small-12 columns">
					<img class="grid-article-card-app-icon" src="https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/logo-wix.png" alt="icône app wix" width="64" height="64">
					<h1 class="grid-article-card-title mod-card-w-tag">Créez votre propre site Web avec Wix.com <span class="label--new mod-ads-sidebar">Sponsor</span></h1>
				</div>
			</div>
		</a>
	</article>
</aside>
