<!-- Promoted content -->
<li>
  <article class="grid-article-card" itemscope="" itemtype="http://schema.org/Article" data-equalizer-watch>

    <a onclick="ga('send', 'event', 'Publicite', 'click', 'iStock lastest news mdw')" class="grid-article-card-link-wrap" href="http://istockphoto.7eer.net/c/262183/258824/4205" title="iStock : -10% pour les nouveaux membres sur le crédit acheté avec le code NEWISTOCK10." target="_blank" rel="nofollow">
      <div class="row collapse grid-article-card-image">
        <div class="small-12 columns" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
          <img src="https://s3-eu-west-1.amazonaws.com/mdw-images/small/istock-logo-16-9.jpg" alt="iStock" width="219" height="auto" />
        </div>
      </div>
      <div class="row collapse">
        <div class="grid-article-card-info small-12 columns">
          <h1 class="grid-article-card-title mod-card-w-tag" itemprop="headline">-10% avec le code promo NEWISTOCK10 <span class="label--new mod-ads-sidebar">Sponsor</span></h1>
        </div>
      </div>
    </a>

  </article>
</li>
