{% if page.reference-name %}
<aside class="section-carte-reference">
  <div class="row-liste-index">
    <div class="small-12 columns section-carte-header">
      <h1 class="section-carte-header-title">Références</h1>
    </div>
  </div>
  <div class="row-liste-index">
    <div class="small-12 columns carte-categorie">
      <a href="{{ page.reference-url }}" title="{{ page.reference-title }}" target="_blank" rel="nofollow">
        <article class="carte-article-secondaire">
          <div class="row collapse">
            <div class="small-12 columns">
              <div class="reference">
                <div class="reference-name">{{ page.reference-name | upcase }}</div>
                <h1 class="carte-article-secondaire-post-title">{{ page.reference-title }}
                  <svg class="ic-block-h24 mod-ic-exit-app" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" ><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z" fill="#999999"/></svg>
                </h1>
              </div>
            </div>
          </div>
        </article>
      </a>
      {% if page.reference-02-name %}
      <a href="{{ page.reference-02-url }}" title="{{ page.reference-02-title }}" target="_blank" rel="nofollow">
        <article class="carte-article-secondaire">
          <div class="row collapse">
            <div class="small-12 columns">
              <div class="reference">
                <div class="reference-name">{{ page.reference-02-name | upcase }}</div>
                <h1 class="carte-article-secondaire-post-title">{{ page.reference-02-title }}<svg class="ic-block-h24 mod-ic-exit-app" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" ><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z" fill="#999999"/></svg></h1>
              </div>
            </div>
          </div>
        </article>
      </a>
      {% endif %}
    </div>
  </div>
</aside>
{% endif %}
