<aside class="job--in-article show-for-large-up">
	<article class="grid-article-card mod-app-icon" data-equalizer-watch>
		<a onclick="ga('send', 'event', 'Publicite', 'click', 'Shopify sidebar top');" class="grid-article-card-link-wrap" href="http://1.shopifytrack.com/aff_c?offer_id=2&amp;aff_id=6111" title="Shopify - votre boutique en ligne en 1 clic" target="_blank" rel="nofollow">
			<div class="row collapse text-center">
				<div class="grid-article-card-info mod-large-auto small-12 columns">
					<img class="grid-article-card-app-icon" src="https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/shopify_glyph.png" alt="Logo Shopify" width="64" height="64">
					<h1 class="grid-article-card-title mod-ads-index-panel-title mod-card-w-tag">Shopify – ouvrez facilement votre boutique en ligne. Commencez votre essai gratuit maintenant ! <span class="label--new mod-ads-sidebar">Sponsor</span></h1>
				</div>
			</div>
		</a>
	</article>
</aside>
