<section>
  <div class="row text-center large-text-left">
    <div class="small-12 columns section-header">
      <h1 class="section-carte-header-title mod-mini-description">SELECTION |
        {% capture dateoftheday %}
          {% assign A = site.time | date: "%A" %}
          {% case A %}
            {% when 'Monday' %}Lundi
            {% when 'Tuesday' %}Mardi
            {% when 'Wednesday' %}Mercredi
            {% when 'Thursday' %}Jeudi
            {% when 'Friday' %}Vendredi
            {% when 'Saturday' %}Samedi
            {% when 'Sunday' %}Dimanche
          {% endcase %}
          {{ site.time | date: " %-d " }}
          {% assign B = site.time | date: "%-m" %}
          {% case B %}
            {% when '1' %}Janvier
            {% when '2' %}Fevrier
            {% when '3' %}Mars
            {% when '4' %}Avril
            {% when '5' %}Mai
            {% when '6' %}Juin
            {% when '7' %}Juillet
            {% when '8' %}Aout
            {% when '9' %}Septembre
            {% when '10' %}Octobre
            {% when '11' %}Novembre
            {% when '12' %}Decembre
          {% endcase %}
          {{ site.time | date: " %Y" }}
        {% endcapture %}
        {{ dateoftheday | upcase }}
      </h1>
    </div>
  </div>
  <!-- list items
  ================================================== -->
  <div class="row">
	  <div class="small-12 columns">
			<ul class="small-block-grid-1 medium-block-grid-3 mod-grid-cross-nav">

        <!-- Promoted content -->
        <li>
          <article class="grid-article-card" itemscope="" itemtype="http://schema.org/Article" data-equalizer-watch>
            {% for ad in site.data.ad.ad-content %}
            <a onclick="ga('send', 'event', 'Publicite', 'click', '{{ ad.company }} {% if ad.campaign %}{{ ad.campaign }}{% endif %} grid latest new')" class="grid-article-card-link-wrap" href="{{ ad.url }}" title="{{ ad.title }}" target="_blank" rel="nofollow">
              <div class="row collapse grid-article-card-image">
                <div class="small-12 columns" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
                  <span class="label--new mod-ads-w-card-image">Sponso</span>
                  <img src="https://s3-eu-west-1.amazonaws.com/mdw-images/small/{{ ad.image }}" alt="{{ ad.title }}" width="219" height="auto" />
                </div>
              </div>
              <div class="row collapse">
                <div class="grid-article-card-info small-12 columns">
                  <h1 class="grid-article-card-title mod-card-w-tag" itemprop="headline">{{ ad.tiny-title | truncate: 50 }}</h1>
                </div>
              </div>
            </a>
            {% endfor %}
          </article>
        </li>

        <!-- latest inspirations ui sites web posts from zapier automated publication workflow -->
        {% for siteweb in site.data.inspirations-ui-sites-web limit: 7 %}
        <li>
          <article class="grid-article-card js-postcount" itemscope="" itemtype="http://schema.org/Article" data-equalizer-watch>

            <a class="grid-article-card-link-wrap" href="{{ siteweb.title | datapage_url: '/inspirations/ui-design/sites-web' | prepend: site.url }}" title="{{ siteweb.title }}">

              <div class="row collapse grid-article-card-image">
                <div class="small-12 columns" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
                  {% if siteweb.image %}
                    <img src="{{ siteweb.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" alt="{{ siteweb.title }}" width="219" /></noscript>
                  {% endif %}
                </div>
              </div>

              <div class="row collapse">
                <div class="grid-article-card-info small-12 columns">
                  <h1 class="grid-article-card-title mod-card-w-tag" itemprop="headline">{{ siteweb.title | truncate: 48 }}</h1>
                </div>
              </div>

            </a>

            <div class="grid-article-card-ctrl">
              {% if siteweb.url-demo %}
                <a onclick="ga('send', 'event', 'ui-sites-web', 'Visit demo', '{{ siteweb.title }}');" class="grid-article-card-ctrl-preview" href="{{ siteweb.url-demo | append: '?ref=magazineduwebdesign' }}" title="Aperçu – {{ siteweb.title }}" target="_blank" rel="nofollow">
                  <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" ><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z" fill="#FFFFFF"/></svg>
                </a>
              {% endif %}
            </div>

          </article>
        </li>
        {% endfor %}
			</ul>
	  </div>
	</div>
</section>
