<div class="row-liste-index">
	<div class="section-carte-index-panel">
		<article class="carte-article-secondaire mod-ads">
			<div class="row collapse">
				<div class="small-3 medium-2 columns">
					<ins class='dcmads rounded-img-d64' style='display:inline-block;width:64px;height:64px'
							data-dcm-placement='N34703.2583013MAGAZINEDUWEBDESIG/B8599899.143069820'
							data-dcm-rendering-mode='iframe'
							data-dcm-https-only
							data-dcm-resettable-device-id=''
							data-dcm-app-id=''>
						<script src='https://www.googletagservices.com/dcm/dcmads.js'></script>
					</ins>
				</div>
				<div class="small-9 medium-10 columns">
					<h1 class="carte-article-secondaire-post-title mod-ads-index-panel-title mod-job-title">
						<a href="https://adclick.g.doubleclick.net/pcs/click?xai=AKAOjsshHz45xFgKerRKbqbxCeIpKRz5SDbgfVgsOF_vaPjOzR37VTGLBu6ZRP_cLcQxAbhPHl4MvIqOPLZ_gLzPeMJgwkvyBT1788DBILoIvABBNKU&sig=Cg0ArKJSzEsbngRytAST&urlfix=1&adurl=http://fr.wix.com/wixhtmlfr/fb-acquisition-fr%3Futm_source%3Dmedia_buying%26utm_medium%3Dpaid_referral%26utm_campaign%3Dma_fr_magazineduwebdesign.com%26experiment_id%3Dmagazineduwebdesign.com%5Etop%5E64x64-logo_fb-acquisition-fr" target="_blank" rel="nofollow">
							<span class="left job--entreprise">Créez votre propre site web avec Wix.com. <span class="label--new">Recommandé</span></span>
							<span class="job--description">Interface de création de sites intuitive et gratuite. Faites votre choix parmi + de 500 templates.</span>
						</a>
					</h1>
				</div>
			</div>
		</article>
	</div>
</div>
<!-- NOTE: desactivated for wix campaign
<div class="row-liste-index">
	<div class="section-carte-index-panel">
		{% for ad in site.data.ad.ad-content %}
		<a onclick="ga('send', 'event', 'Publicite', 'click', '{{ ad.company }} {% if ad.campaign %}{{ ad.campaign }}{% endif %} top liste index panel');" href="{{ ad.url }}" title="{{ ad.title }}" target="_blank" rel="nofollow">
			<article class="carte-article-secondaire mod-ads">
				<div class="row collapse">
					<div class="small-3 medium-2 columns">
						<div class="rounded-img-d64 mod-ads" data-interchange="[https://s3-eu-west-1.amazonaws.com/mdw-images/xsmall/{{ ad.logo }}, (small)]" data-uuid="interchange-if5cwx8k1" style="background-image: url(https://s3-eu-west-1.amazonaws.com/mdw-images/small/{{ ad.logo }});"></div>
					</div>
					<div class="small-9 medium-10 columns">
						<h1 class="carte-article-secondaire-post-title mod-ads-index-panel-title mod-job-title">
							<span class="left job--entreprise">{{ ad.title }} <span class="label--new">Recommandé</span></span>
							<span class="job--description">{{ ad.description }}</span>
						</h1>
					</div>
				</div>
			</article>
		</a>
		{% endfor %}
	</div>
</div>
-->
