<!-- Promoted content -->
<li>
  <article class="grid-article-card" itemscope="" itemtype="http://schema.org/Article" data-equalizer-watch>
    <!-- NOTE: desactivated for wix campaign
    {% for ad in site.data.ad.ad-content %}
    <a onclick="ga('send', 'event', 'Publicite', 'click', '{{ ad.company }} {% if ad.campaign %}{{ ad.campaign }}{% endif %} grid 4 col')" class="grid-article-card-link-wrap" href="{{ ad.url }}" title="{{ ad.title }}" target="_blank" rel="nofollow">
      <div class="row collapse grid-article-card-image">
        <div class="small-12 columns" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
          <span class="label--new mod-ads-w-card-image">Sponso</span>
          <img src="https://s3-eu-west-1.amazonaws.com/mdw-images/small/{{ ad.image }}" alt="{{ ad.title }}" width="219" height="auto" />
        </div>
      </div>
      <div class="row collapse">
        <div class="grid-article-card-info small-12 columns">
          <h1 class="grid-article-card-title mod-card-w-tag" itemprop="headline">{{ ad.tiny-title | truncate: 50 }}</h1>
        </div>
      </div>
    </a>
    {% endfor %}
    -->
    <div class="row collapse grid-article-card-image">
      <div class="small-12 columns" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
        <span class="label--new mod-ads-w-card-image">Sponso</span>
        <ins class='dcmads' style='display:inline-block;width:220px;height:110px'
            data-dcm-placement='N34703.2583013MAGAZINEDUWEBDESIG/B8599899.143067944'
            data-dcm-rendering-mode='iframe'
            data-dcm-https-only
            data-dcm-resettable-device-id=''
            data-dcm-app-id=''>
          <script src='https://www.googletagservices.com/dcm/dcmads.js'></script>
        </ins>
      </div>
    </div>
    <div class="row collapse">
      <div class="grid-article-card-info small-12 columns">
        <h1 class="grid-article-card-title mod-card-w-tag" itemprop="headline"><a href="https://adclick.g.doubleclick.net/pcs/click?xai=AKAOjsv1ANIJuD0Rr0FG1xW7cMK0XdvpbxQ54WeJP5FwtRhWVlnhDtMjCo2oPHdIr6Gd4N0ZIeMYf9HELe6liZxlWpqcCtS911dkuuMVO98WhGVYRao&sig=Cg0ArKJSzO1e7y6tv8m5&urlfix=1&adurl=http://fr.wix.com/wixhtmlfr/fb-acquisition-fr%3Futm_source%3Dmedia_buying%26utm_medium%3Dpaid_referral%26utm_campaign%3Dma_fr_magazineduwebdesign.com%26experiment_id%3Dmagazineduwebdesign.com%5Etop%5E220x110-road_fb-acquisition-fr" target="_blank" rel="nofollow">Votre site avec Wix.com</a></h1>
      </div>
    </div>
  </article>
</li>
