<!-- Google AdSense
================================================== -->
<div class="row collapse">
  <div class="small-12 columns text-center">
      <div class="show-for-medium-up text-link mod-card">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- ad texte -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-7816755037791885"
             data-ad-slot="6567763654"
             data-ad-format="link"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
  </div>
</div>
