<section>
  <div class="row">
    <div class="small-12 columns">
      <h1 class="section-carte-header-title">{{ include.param | replace: '-', ' ' | capitalize }}</h1>
    </div>
  </div>
  <!-- list items
  ================================================== -->
  <div class="row">
    <div class="small-12 columns">
      <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-5" data-equalizer>

        <!-- list all items
        ================================================== -->
        {% for post in site.categories.[include.param] limit:4 %}
        <li>
          <article class="grid-article-card" itemscope="" itemtype="http://schema.org/Article" data-equalizer-watch>
            
            <a class="grid-article-card-link-wrap" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
              
              <div class="row collapse grid-article-card-image mod-book-image">
                <div class="small-12 columns" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
                  {% if post.image %}
                    <img data-interchange="[{{ post.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-img/small/' }}, (small)]" alt="{{ post.title }}" />
                    <noscript><img src="{{ post.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-img/small/' }}" alt="{{ post.title }}" /></noscript>
                  {% endif %}
                </div>
              </div>

              <div class="row collapse">
                <div class="grid-article-card-info mod-book small-12 columns">
                  <h1 class="grid-article-card-title" itemprop="headline">{{ post.title | truncate: 44 }}</h1>
                </div>
              </div>

            </a>
            
          </article>
        </li>
        {% endfor %}

        <li>
          <article class="grid-article-card" itemscope="" itemtype="http://schema.org/Article" data-equalizer-watch>
            
            <a class="grid-article-card-link-wrap" href="{{ site.baseurl }}{{ page.permalink }}{{ include.param }}/" title="Explorer la collection">
              
              <div class="row collapse grid-article-card-image mod-book-image hide-for-small">
                <div class="small-12 columns" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
                </div>
              </div>

              <div class="row collapse text-center">
                <div class="grid-article-card-info mod-book small-12 columns">
                  <h2 class="grid-article-card-title mod-action" itemprop="headline">EN VOIR PLUS <svg class="ic-block-h24" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path d="M9 3L7.94 4.06l4.19 4.19H3v1.5h9.13l-4.19 4.19L9 15l6-6z" fill="#999999"/></svg>
                  </h2>
                </div>
              </div>

            </a>
            
          </article>
        </li>

      </ul>
    </div>
  </div>
</section>