<article class="row-liste-index">
  <div class="small-12 medium-12 large-12 columns panel-twitter">
  	<div class="row collapse">
			<div class="small-12 medium-10 columns">
				<h1 class="hide">Twitter @MagDuWebdesign</h1>
				<span class="carte-twtr-text small-text-center">Si vous n'aimez pas les emails, suivez <a href="https://twitter.com/MagDuWebdesign" target="_blank">@MagDuWebdesign</a> sur Twitter pour obtenir les dernières news.</span>
			</div>
			<div class="small-12 medium-2 columns small-text-center medium-text-right">
				<a href="https://twitter.com/MagDuWebdesign" class="twitter-follow-button" data-show-count="false" data-lang="fr" data-show-screen-name="false" data-size="large">@MagDuWebdesign</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</div>
		</div>
  </div>
</article>