<!-- Google AdSense
================================================== -->
<div class="show-for-small-only">
  <div class="row collapse">
    <div class="small-12 columns text-center">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- rectangle moyen in article -->
        <ins class="adsbygoogle leaderboard-in-content"
             style="display:inline-block;width:300px;height:250px"
             data-ad-client="ca-pub-7816755037791885"
             data-ad-slot="7206892054"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
  </div>
</div>
<div class="show-for-large-up">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- rectangle moyen in article -->
  <ins class="adsbygoogle medium-rect-in-content mod-negative-margin"
       style="display:inline-block;width:300px;height:250px"
       data-ad-client="ca-pub-7816755037791885"
       data-ad-slot="7206892054"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
