<div class="navigation-sub-header">
	<div class="row text-center">
	  <div class="small-12 columns">
	  	<div class="tabs u-no-margin-b">
				<a href="#" class="tabs-item" title="Explorer la section Inspirations" data-reveal-id="inspirations-entries">
					<svg class="ic-block-h48" fill="#999999" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
						<path d="M20 6.54v10.91c-2.6-.77-5.28-1.16-8-1.16-2.72 0-5.4.39-8 1.16V6.54c2.6.77 5.28 1.16 8 1.16 2.72.01 5.4-.38 8-1.16M21.43 4c-.1 0-.2.02-.31.06C18.18 5.16 15.09 5.7 12 5.7c-3.09 0-6.18-.55-9.12-1.64-.11-.04-.22-.06-.31-.06-.34 0-.57.23-.57.63v14.75c0 .39.23.62.57.62.1 0 .2-.02.31-.06 2.94-1.1 6.03-1.64 9.12-1.64 3.09 0 6.18.55 9.12 1.64.11.04.21.06.31.06.33 0 .57-.23.57-.63V4.63c0-.4-.24-.63-.57-.63z"></path>
						<path d="M0 0h24v24H0z" fill="none"></path>
					</svg>
					INSPIRATIONS
				</a>
				<!-- Modalbox inspirations entries
        ================================================== -->
        <div id="inspirations-entries" class="reveal-modal" data-reveal>
          <div class="row">
            <div class="small-12 columns text-center">
              <a class="close-reveal-modal">&#215;</a>
              <div class="row-liste-index">
						    <div class="small-12 columns">
						      <p class="titre-modal-box">Explorer la section Inspirations</p>
						    </div>
						  </div>
							<div class="row">
							  <div class="small-12 columns">
							    <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4 mod-grid-cross-nav" data-equalizer role="navigation" title="Liste de liens">

							    {% for item in site.data.inspirations.inspirations-entries %}
						        <li role="menuitem">
						          <div class="grid-article-card" data-equalizer-watch>
						            <a class="grid-article-card-link-wrap" href="{{ item.permalink }}" title="{{ item.name }}">
						              <div class="row collapse">
						                <div class="grid-article-card-info mod-pop-up-cross-nav mod-action small-12 columns">
						                  <span class="grid-article-card-title mod-action">{{ item.name }}&#8239;{{ item.coming-soon }}</span>
						                </div>
						              </div>
						            </a>
						          </div>
						        </li>
						    	{% endfor %}

							    </ul>
							  </div>
							</div>
            </div>
          </div>
        </div>
			</div>
	  </div>
	</div>
</div>
