<div class="row show-for-medium-up">
  <div class="small-4 columns">
    <a onclick="ga('send', 'social', 'Twitter', 'tweet', '{{ site.url }}{{ page.url | cgi_escape }}');" class="button expand radius small article-partage-twitter" href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&amp;via=MagDuWebdesign&amp;text={{ page.title }}" rel="nofollow" target="_blank">TWEETER</a>
  </div>
  <div class="small-4 columns">
    <a onclick="ga('send', 'social', 'Facebook', 'share', '{{ site.url }}{{ page.url | cgi_escape }}');" class="button expand radius small article-partage-facebook" href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url | cgi_escape }}&amp;t={{ page.title }}" rel="nofollow" target="_blank">PARTAGER SUR FACEBOOK</a>
  </div>
  <div class="small-4 columns">
    <a onclick="ga('send', 'social', 'Pinterest', 'pin', '{{ site.url }}{{ page.url | cgi_escape }}');" href="http://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" data-pin-custom="true" data-pin-description="{{page.intro}}" data-pin-url="{{ site.url }}{{ page.url }}" class="button expand radius small article-partage-pinterest" rel="nofollow" target="_blank">EPINGLER SUR PINTEREST</a>
  </div>
</div>
