<aside class="job--in-article">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
    style="display:block"
    data-ad-format="autorelaxed"
    data-ad-client="ca-pub-7816755037791885"
    data-ad-slot="5520560857">
  </ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
<!-- NOTE: test adsense related content
  <h1 class="job--in-article-title">Vous cherchez des talents ?</h1>
  <p class="job--in-article-content">Le Magazine du Webdesign est une bonne place pour en trouver :-)</p>
  <a onclick="ga('send', 'event', 'offres emploi', 'click', 'Publicité - Vous cherchez des talents ?');" class="job--in-article-button-outline" href="/recruter/" title="">DECOUVRIR COMMENT</a>
-->
</aside>
