<!-- Google AdSense
================================================== -->
<div class="row collapse">
  <div class="small-12 columns text-center">
    <div class="show-for-small-only leaderboard mod-content">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- leaderboard header mobile -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:320px;height:100px"
           data-ad-client="ca-pub-7816755037791885"
           data-ad-slot="9331256858"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    <div class="show-for-medium-up leaderboard mod-content">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- leaderboard header page de contenu -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:90px"
           data-ad-client="ca-pub-7816755037791885"
           data-ad-slot="6017863658"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
</div>
