<div class="navigation-sub-header">
	<div class="row text-center">
	  <div class="small-12 columns">
	  	<div class="tabs u-no-margin-b">
				<a href="#" class="tabs-item" title="Filtrer par catégories" data-reveal-id="articles-entries">
					<svg class="ic-block-h48" fill="#999999" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
						<path d="M20 6.83V20H6.83L20 6.83M22 2L2 22h20V2z"></path>
						<path d="M0 0h24v24H0z" fill="none"></path>
					</svg>
					ARTICLES
				</a>
				<!-- Modalbox articles entries
        ================================================== -->
        <div id="articles-entries" class="reveal-modal" data-reveal>
          <div class="row">
            <div class="small-12 columns text-center">
              <a class="close-reveal-modal">&#215;</a>
              <div class="row-liste-index">
						    <div class="small-12 columns">
						      <p class="titre-modal-box">Explorer la section Articles</p>
						    </div>
						  </div>
							<div class="row">
							  <div class="small-12 columns">
							    <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4 mod-grid-cross-nav" data-equalizer role="navigation" title="Liste de liens">

							    {% for item in site.data.articles.articles-entries %}
						        <li role="menuitem">
						          <div class="grid-article-card" data-equalizer-watch>
						            <a class="grid-article-card-link-wrap" href="{{ item.permalink }}" title="{{ item.name }}">
						              <div class="row collapse">
						                <div class="grid-article-card-info mod-pop-up-cross-nav mod-action small-12 columns">
						                  <span class="grid-article-card-title mod-action">{{ item.name | upcase }}&#8239;{{ item.coming-soon }}</span>
						                </div>
						              </div>
						            </a>
						          </div>
						        </li>
						    	{% endfor %}

							    </ul>
							  </div>
							</div>
            </div>
          </div>
        </div>
			</div>
	  </div>
	</div>
</div>
