<section class="header-collection-bgimg is-img" data-is-img="https://s3-eu-west-1.amazonaws.com/mdw-images/medium/inspiration-ui-design-site-web-war-of-1996-independence-day-resurgence-1.jpg" data-interchange="[https://s3-eu-west-1.amazonaws.com/mdw-images/large/inspiration-ui-design-site-web-war-of-1996-independence-day-resurgence-1.jpg, (default)],
[https://s3-eu-west-1.amazonaws.com/mdw-images/medium/inspiration-ui-design-site-web-war-of-1996-independence-day-resurgence-1.jpg, (small)],
[https://s3-eu-west-1.amazonaws.com/mdw-images/large/inspiration-ui-design-site-web-war-of-1996-independence-day-resurgence-1.jpg, (smallretina)],
[https://s3-eu-west-1.amazonaws.com/mdw-images/medium/inspiration-ui-design-site-web-war-of-1996-independence-day-resurgence-1.jpg, (medium)],
[https://s3-eu-west-1.amazonaws.com/mdw-images/large/inspiration-ui-design-site-web-war-of-1996-independence-day-resurgence-1.jpg, (mediumretina)],
[https://s3-eu-west-1.amazonaws.com/mdw-images/large/inspiration-ui-design-site-web-war-of-1996-independence-day-resurgence-1.jpg, (large)],
[https://s3-eu-west-1.amazonaws.com/mdw-images/large/inspiration-ui-design-site-web-war-of-1996-independence-day-resurgence-1.jpg, (largeretina)]">
	<div class="header-collection-shadow">
		<div class="header-collection mod-home-hero">
			<header class="row-liste-index">
				<div class="small-12 columns text-center">
					<h1 class="headline-collection text-center">
						Le meilleur des interfaces, chaque jour
					</h1>
					<p class="header-liste-content mod-bg-img text-center">
						Un lieu unique pour cultiver vos talents à travers des collections d'inspirations, de conseils et de ressources.
					</p>
				</div>
			</header>
		</div>
	</div>
</section>
