<section class="header-collection-bgimg is-img" data-is-img="https://s3-eu-west-1.amazonaws.com/mdw-images/medium/kit-ui-livo-animation.gif" data-interchange="[https://s3-eu-west-1.amazonaws.com/mdw-images/large/kit-ui-livo-animation.gif, (default)],
[https://s3-eu-west-1.amazonaws.com/mdw-images/medium/kit-ui-livo-animation.gif, (small)],
[https://s3-eu-west-1.amazonaws.com/mdw-images/large/kit-ui-livo-animation.gif, (smallretina)],
[https://s3-eu-west-1.amazonaws.com/mdw-images/medium/kit-ui-livo-animation.gif, (medium)],
[https://s3-eu-west-1.amazonaws.com/mdw-images/large/kit-ui-livo-animation.gif, (mediumretina)],
[https://s3-eu-west-1.amazonaws.com/mdw-images/large/kit-ui-livo-animation.gif, (large)],
[https://s3-eu-west-1.amazonaws.com/mdw-images/large/kit-ui-livo-animation.gif, (largeretina)]">
	<div class="header-collection-shadow">
		<div class="header-collection">
			<header class="row-liste-index">
				<div class="small-12 columns text-center">
					<h1 class="headline-collection text-center">
						Le meilleur des interfaces, chaque jour
					</h1>
					<p class="header-liste-content mod-bg-img text-center">
						Un lieu unique pour cultiver vos talents via des collections d'inspirations, de conseils et de ressources.
					</p>
				</div>
			</header>
		</div>
	</div>
</section>
