<section>
	<div class="header-liste header-background-title mod-header-list-cards-section mod-homepage">
		<header class="row-liste-index">
			<div class="small-12 columns text-center">
				<h1 class="headline-collection text-center">
					Le meilleur des interfaces, chaque jour
				</h1>
				<p class="header-liste-content text-center">
					Un lieu unique pour cultiver vos talents à travers des collections d'inspirations, de conseils et de ressources.
				</p>
			</div>
		</header>
	</div>
</section>
