<!-- Modalbox partage note
================================================== -->
<div id="{{ page.title | slugify }}" class="reveal-modal" data-reveal>
  <div class="row-liste-index">
    <div class="small-12 columns">
      <a class="close-reveal-modal">&#215;</a>
      <div class="row-liste-index">
        <div class="small-12 columns text-center">
          <p class="titre-modal-box">{{ page.title }}</p>
          <hr>
        </div>
      </div>
      <div class="row-liste-index">
        <div class="small-12 medium-6 medium-centered columns">
          <ul class="side-nav" role="navigation" title="Partagez avec vos amis !">
            <li role="menuitem">
              <a onclick="ga('send', 'social', 'Twitter', 'tweet', '{{ site.url }}{{ page.url | cgi_escape }}');" href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&amp;text={{ page.title }}&amp;via=MagDuWebdesign&amp;related=MagDuWebdesign&amp;hashtags=Webdesign" rel="nofollow" target="_blank">
              <svg class="ic-block-h24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              width="20px" height="20px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"> <path id="twitter-icon" d="M462,128.223c-15.158,6.724-31.449,11.269-48.547,13.31c17.449-10.461,30.854-27.025,37.164-46.764 c-16.333,9.687-34.422,16.721-53.676,20.511c-15.418-16.428-37.386-26.691-61.698-26.691c-54.56,0-94.668,50.916-82.337,103.787 c-70.25-3.524-132.534-37.177-174.223-88.314c-22.142,37.983-11.485,87.691,26.158,112.85c-13.854-0.438-26.891-4.241-38.285-10.574 c-0.917,39.162,27.146,75.781,67.795,83.949c-11.896,3.237-24.926,3.978-38.17,1.447c10.754,33.58,41.972,58.018,78.96,58.699 C139.604,378.282,94.846,390.721,50,385.436c37.406,23.982,81.837,37.977,129.571,37.977c156.932,0,245.595-132.551,240.251-251.435 C436.339,160.061,450.668,145.174,462,128.223z" fill="#00ACED" />
              </svg>TWEETER
              </a>
            </li>
            <li role="menuitem">
              <a onclick="ga('send', 'social', 'Facebook', 'share', '{{ site.url }}{{ page.url | cgi_escape }}');" href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url | cgi_escape }}&amp;t={{ page.title }}" rel="nofollow" target="_blank">
              <svg class="ic-block-h24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"><path id="facebook-square-rounded-icon" d="M411.945,50h-312c-27.614,0-50,22.386-50,50v312c0,27.614,22.386,50,50,50h312
                c27.614,0,50-22.386,50-50V100C461.945,72.386,439.56,50,411.945,50z M323.688,160.658c0,0-22.893,0-31.988,0
                c-11.291,0-13.645,4.625-13.645,16.309c0,9.723,0,28.227,0,28.227h45.633l-4.391,49.551h-41.242v148.03h-59.111V255.372h-30.74
                v-50.178h30.74c0,0,0-7.215,0-39.517c0-37.087,19.832-56.452,63.818-56.452c7.205,0,40.926,0,40.926,0V160.658z" fill="#3B5998"/></svg>
              PARTAGER
              </a>
            </li>
            <li class="menuitem">
              <a onclick="ga('send', 'social', 'LinkedIn', 'share', '{{ site.url }}{{ page.url | cgi_escape }}');" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url | cgi_escape }}&title={{ page.title | cgi_escape }}&summary={{ page.content | truncate: 140 | cgi_escape }}&source=MagazineduWebdesign" rel="nofollow" target="_blank">
                <svg class="ic-block-h24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                <path id="linkedin-square-rounded-icon" d="M411.945,50h-312c-27.614,0-50,22.386-50,50v312c0,27.614,22.386,50,50,50h312
                c27.614,0,50-22.386,50-50V100C461.945,72.386,439.56,50,411.945,50z M180.996,392.99h-56.537V210.336h56.537V392.99z
                M152.457,186.417c-18.465,0-33.432-15.09-33.432-33.703c0-18.614,14.967-33.704,33.432-33.704c18.463,0,33.432,15.09,33.432,33.704
                C185.889,171.327,170.92,186.417,152.457,186.417z M392.865,392.99h-56.262c0,0,0-69.582,0-95.881
                c0-26.296-9.988-40.974-30.781-40.974c-22.629,0-34.453,15.289-34.453,40.974c0,28.133,0,95.881,0,95.881h-54.223V210.336h54.223
                v24.599c0,0,16.309-30.171,55.041-30.171s66.455,23.648,66.455,72.572C392.865,326.262,392.865,392.99,392.865,392.99z" fill="#0077B5"/>
                </svg>
                LINKEDIN
              </a>
            </li>
            <li class="menuitem">
              <a onclick="ga('send', 'social', 'Google+', 'share', '{{ site.url }}{{ page.url | cgi_escape }}');" href="https://plus.google.com/share?url={{ site.url }}{{ page.url | cgi_escape }}" rel="nofollow" target="_blank">
                <svg class="ic-block-h24" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M10 8H8v4H4v2h4v4h2v-4h4v-2h-4zm4.5-1.92V7.9l2.5-.5V18h2V5z" fill="#CC3732"/></svg>
                GOOGLE+
              </a>
            </li>
            <li class="menuitem hide-for-small">
              <input type="text" value="{{ site.url }}{{ page.url }}">
            </li>
            <li class="menuitem show-for-small-only">
              <a onclick="ga('send', 'social', 'Email', 'share', '{{ site.url }}{{ page.url | cgi_escape }}');" href="mailto:?subject={{ page.title | uri_escape }}&amp;body={{ 'Cela pourrait te plaire ' | uri_escape }}{{ site.url | cgi_escape }}{{ page.url | cgi_escape }}" rel="nofollow"><svg class="ic-block-h24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z" fill="#999999"/></svg>PARTAGER VIA EMAIL</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
