
<div class="small-12 medium-6 columns">
  <ul class="link-partage-article-footer">
    <li>
      <a href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&amp;via=MagDuWebdesign&amp;text={{ page.title }}" class="article-partage-twitter" rel="nofollow" target="_blank">TWEETER</a>
    </li>
    <li>
      <a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url | cgi_escape }}&amp;t={{ page.title }}" class="article-partage-facebook" rel="nofollow" target="_blank">PARTAGER</a>
    </li>
  </ul>
</div>
<div class="small-12 medium-offset-2 medium-4 columns show-for-large-up">
  <div class="row collapse prefix-radius">
    <div class="small-3 columns partage-url"><span class="prefix">URL</span></div>
    <div class="small-9 columns"><input type="text" value="{{ site.url }}{{ page.url }}"></div>
  </div>
</div>