<div class="row show-for-medium-up">
  <div class="small-4 columns">
    <a class="button expand radius small article-partage-twitter" href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&amp;via=MagDuWebdesign&amp;text={{ page.title }}" rel="nofollow" target="_blank">TWEETER</a>
  </div>
  <div class="small-4 columns">
    <a class="button expand radius small article-partage-facebook" href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url | cgi_escape }}&amp;t={{ page.title }}" rel="nofollow" target="_blank">PARTAGER SUR FACEBOOK</a>
  </div>
  <div class="small-4 columns">
    <a class="button expand radius small article-partage-email" href="mailto:?subject={{ page.title | uri_escape }}&amp;body={{ 'Cela pourrait te plaire ' | uri_escape }}{{ site.url | cgi_escape }}{{ page.url | cgi_escape }}?utm_source=email&utm_medium=email_share" rel="nofollow" target="_blank">ENVOYER A UN AMI</a>
  </div>
</div>
