---
layout: default
---

{% include header.html %}

<section>
	{% include custom/sections/inspirations-entries.html %}

	<div class="header-liste header-background-title mod-header-list-index mod-inspiration">
		<header class="row-liste-index">
			{% include custom/sections/index-header-intro.html %}
		</header>
	</div>

	<!-- list items
	================================================== -->
	<div class="row">
		<!-- Background heading
		================================================== -->
		<div class="small-12 columns">
			<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4 mod-grid-cross-nav is-index-ui-animations current-page" data-page="ui-animations">

			{% include custom/cartes/carte_ad_liste-index_grid_4_col.html %}

			<!-- list all items
			================================================== -->
				{% for animation in site.data.inspirations-ui-animations limit: 12 %}
				<li>
					<article class="grid-article-card js-postcount" itemscope="" itemtype="http://schema.org/Article" data-equalizer-watch>

						<a class="grid-article-card-link-wrap" href="{{ animation.title | datapage_url: '/inspirations/ui-design/animations' | prepend: site.url }}" title="{{ animation.title }}">

							<div class="row collapse grid-article-card-image">
								<div class="small-12 columns" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
									{% if animation.image %}
										<img src="{{ animation.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" alt="{{ animation.title }}" width="219" />
									{% endif %}
								</div>
							</div>

							<div class="row collapse">
								<div class="grid-article-card-info small-12 columns">
									<h1 class="grid-article-card-title mod-card-w-tag" itemprop="headline">{{ animation.title | truncate: 48 }}</h1>
								</div>
							</div>

						</a>

						<div class="grid-article-card-ctrl">
							{% if animation.url-demo %}
								<a onclick="ga('send', 'event', 'ui-animations', 'Visit source', '{{ page.title }}');" class="grid-article-card-ctrl-preview" href="{{ animation.url-demo | append: '?ref=magazineduwebdesign' }}" title="Aperçu – {{ animation.title }}" target="_blank" rel="nofollow">
									<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" ><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z" fill="#FFFFFF"/></svg>
								</a>
							{% endif %}
						</div>

					</article>
				</li>
		    {% endfor %}
				<li>{% include custom/cartes/carte_nl-in-thn-grid-index.html %}</li>
			</ul>
	  </div>
	</div>

	<div class="infinite-spinner"></div>

</section>
