---
layout: default
---

{% include header.html %}

		<article>
			<div class="header-liste">
				
				<header class="row-liste-index">
          <div class="small-12 columns text-center">
            <h1>{{ page.title }}</h1>
          </div>
        </header>
			</div>

      <!-- featured page's image -->
			{% if page.image %}
			<div class="row-article-featured-image">
			  <div class="column-article-featured-image">
			  	<img data-interchange="[{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/small/' }}, (small)],[{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/medium/' }}, (medium)],[{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}, (large)]" alt="{{ page.image-legende }}" /><noscript><img src="{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" alt="{{ page.image-legende }}"></noscript>
			  </div>

			  {% if page.image-legende %}
			  <div class="row-body-article">
			  	<div class="column-article-featured-image-caption">
			  		<p>{{ page.image-legende }}</p>
			  	</div>
			  </div>
			  {% endif %}

			</div>
			{% endif %}

      <!-- main content -->
			<div class="row-body-article">

			  <main class="column-body-article mod-article-1-column">
			   	{% if page.intro %}
			   		<p class="subheader text-center">{{ page.intro }}</p>
			   	{% endif %}
			   	{{ content }}
					{% include custom/cartes/carte_ad_leaderboard.html %}
			  </main>

			</div>
		</article>
