---
title : Page non trouvée | Magazine du Webdesign
permalink: /404.html
---
<!DOCTYPE html>

<html class="no-js" lang="en">
	{% include head.html %}
  <body>
  {% include header.html %}

		<article>
			<div class="header-liste">
        <header class="row-liste-index">
          <div class="small-12 columns" >
            <h1 class="text-center">404</h1>
						<p class="subheader">Excellent travail, votre exploration obstinée du MDW vous a permis de découvrir une erreur 404.</p>
          </div>
        </header>
			</div>

			<div class="row text-center">
			  <main class="small-12 medium-6 medium-offset-3 end columns ">
			   	<p>Probablement pas la page que vous recherchiez. ¯ \ _ (ツ) _ / ¯</p>
			   	<hr>
			   	<p class="subheader">Pourquoi !?</p>
			   	<p>Vous avez peut-être cliqué sur un lien pas très frais ou l'adresse de la page souhaitée n'a pas été correctement saisie.</p>
			   	<a class="button radius" href="{{ site.url }}">SORTEZ-MOI DE LA !</a>
			   	<p><a href="/feedback/">FEEDBACK</a></p>
			  </main>
			  <aside>

			  </aside>
			</div>
		</article>

		<!-- Usemin JS
		================================================== -->
		<!-- build:js(app) /js/application.js -->
		<script src="/_bower_components/foundation/js/vendor/jquery.js"></script>
		<script src="/_bower_components/foundation/js/vendor/jquery.cookie.js"></script>
		<script src="/_bower_components/foundation/js/vendor/placeholder.js"></script>
		<script src="/_bower_components/foundation/js/vendor/fastclick.js"></script>
		<script src="/_bower_components/foundation/js/foundation/foundation.js"></script>
		<script src="/_bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
		<script src="/_bower_components/foundation/js/foundation/foundation.interchange.js"></script>
		<script src="/_bower_components/foundation/js/foundation/foundation.topbar.js"></script>
		<script src="/_bower_components/foundation/js/foundation/foundation.reveal.js"></script>
		<script src="/js/headroom.js"></script>
		<script src="/js/jQuery.headroom.js"></script>
		<script src="/js/main.js"></script>
		<!-- endbuild -->

  </body>
</html>
