---
title : Page non trouvée | Magazine du Webdesign
permalink: /404.html
---
<!DOCTYPE html>

<html class="no-js" lang="en">
	{% include head.html %}
  <body>
  {% include header.html %}

		<article>

		  <header class="row-body-article">
		    <div class="column-header-article text-center">
		      <h1>404</h1>
		      <p class="subheader">Page non trouvée</p>
		    </div>
		  </header>

			<div class="row text-center"> 
			  <main class="small-12 medium-6 medium-offset-3 end columns ">
			   	<p>Probablement pas la page que vous recherchez. ¯ \ _ (ツ) _ / ¯</p>
			   	<hr>
			   	<p class="subheader">Pourquoi !?</p>
			   	<p>Vous avez peut-être cliqué sur un lien pas très frais ou l'adresse de la page souhaitée n'a pas été correctement saisie.</p>
			   	<a class="button radius" href="/">SORTEZ-MOI DE LA !</a>
			   	<p><a href="/feedback">FEEDBACK</a></p>
			  </main>
			  <aside>
			  	
			  </aside>
			</div>
		</article>	 
  </body>
</html>