---
title : Page non trouvée | Magazine du Webdesign
permalink: /404.html
---
<!DOCTYPE html>

<html class="no-js" lang="en">
	{% include head.html %}
  <body>
  {% include header.html %}

		<article>

		  <header class="row-body-article">
		    <div class="column-header-article text-center">
		      <h1>404</h1>
		      <p class="subheader">Page non trouvée</p>
		    </div>
		  </header>

			<div class="row"> 
			  <main class="small-12 columns text-center">
			   	<p>Probablement pas la page que vous recherchez. ¯ \ _ (ツ) _ / ¯</p>
			   	<h2 class="subheader">Pourquoi !?</h2>
			   	<p>Vous avez peut-être cliqué sur un lien pas très frais ou l'adresse de la page souhaitée n'a pas été correctement saisie. <a class="button radius" href="/">Sortez-moi de là !</a></p>
			  </main>
			  <aside>
			  	<p><a class="twitter" href="https://twitter.com/MagDuWebdesign">@MDW</a> &ucirc; <a href="/feedback">FEEDBACK</a></p>
			  </aside>
			</div>
		</article>	 
  </body>
</html>