---
layout: default
title: Magazine du Webdesign
---

{% include header.html %}

{% include custom/sections/hero.html %}

{% include custom/sections/brief.html %}
<section>
	<header class="row-liste-index">
    <div class="small-12 columns">
      <h1 class="section-carte-header-title-big text-center">Les collections du moment</h1>
    </div>
	</header>
	{% include custom/cartes/carte_items-thn_ui-inspiration_home.html param="ui-sites-web" %}
	{% include custom/cartes/carte_items-thn_ui-inspiration_home.html param="ui-apple-watch" %}
	{% include custom/cartes/carte_items-thn_ui-inspiration_home.html param="ui-tv" %}
	{% include custom/cartes/carte_nl-index-large.html %}
	{% include custom/cartes/carte_items-thn_ui-inspiration_home.html param="code-art" %}
	{% include custom/cartes/carte_items-thn_ui-inspiration_home.html param="ui-connected-car" %}
	{% include custom/cartes/carte_items-thn_videos_home.html param="videos" %}
  {% include custom/cartes/carte_twtr_index-large.html %}
	{% include custom/cartes/carte_items-no-thn_guides_home.html param="guides" %}
	{% include custom/cartes/carte_items-no-thn_plugin-wp_home.html param="plugins-wordpress" %}
  {% include custom/cartes/carte_nl-index-large.html %}
</section>

<!-- list all sections
================================================== -->
{% include custom/cartes/carte_cross-navigation-app.html %}
