---
layout: default
title: Magazine du Webdesign
---

{% include header.html %}

{% include custom/sections/hero.html %}

{% include custom/sections/brief.html %}
<section>
	<header class="row-liste-index">
    <div class="small-12 columns section-brief-header"> 
      <h1 class="section-brief-header-titre">Les derniers articles</h1>
    </div>
	</header>
	{% include custom/cartes/carte_cat.html param="design" %}
	{% include custom/cartes/carte_cat.html param="developpement" %}
	{% include custom/cartes/carte_items-thn_ui-inspiration_home.html param="ui-sites-web" %}
	{% include custom/cartes/cartenl.html %}
	{% include custom/cartes/carte_cat.html param="fun" %}
	{% include custom/cartes/carte_items-thn_videos_home.html param="videos" %}
	{% include custom/cartes/carte_cat.html param="graphisme" %}
	{% include custom/cartes/cartetwtr.html %}
	{% include custom/cartes/carte_items-no-thn_guides_home.html param="guides" %}
	{% include custom/cartes/carte_cat.html param="mobile" %}
	{% include custom/cartes/carte_cat.html param="ressources" %}
	{% include custom/cartes/cartenl.html %}
	{% include custom/cartes/carte_cat.html param="ux-design" %}
	{% include custom/cartes/carte_items-no-thn_plugin-wp_home.html param="plugins-wordpress" %}
	{% include custom/cartes/carte_cat.html param="wordpress" %}
	{% include custom/cartes/cartetwtr.html %}
</section>

