<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% if page.title %}{{ page.title }} {% else %} {{ site.title }} {% endif %}</title>
  <meta name="description" content="{% if page.description %} {{ page.description }} {% else %} {{ site.description }} {% endif %}">
  
  <!-- Usemin CSS
  ================================================== -->
  <!-- build:css({app,.tmp}) /css/styles-min.css -->
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto|Merriweather:400,700,400italic">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/monokai_sublime.css">
  <!-- endbuild -->

  <!-- Usemin JS
  ================================================== -->
  <!-- build:js(app) /js/modernizr-min.js -->
  <script type="text/javascript" src="/_bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->

  <!-- Canonical URL
  ================================================== -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- RSS FEED
  ================================================== -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml">

  <!-- favicon
  ================================================== -->
  <link rel="shortcut icon" href="favicon.ico">

  <!-- Open Graph: https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/
  Twitter: https://dev.twitter.com/docs/cards/types/summary-card
  ============================== -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }} {% else %} {{ site.title }} {% endif %}"/>
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
  <meta property="og:description" content="{{ page.description }}"/>
  {% if page.image %}
  <meta property="og:image" content="{{ page.image | prepend:'/img/medium/' }}"/>
  {% endif %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ site.twitter_username }}">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{% if page.description %} {{ page.description }} {% else %} {{ site.description }} {% endif %}">
  {% if page.image %}
  <meta name="twitter:image" content="{{ page.image | prepend:'/img/medium/' }}">
  {% endif %}

</head>
