<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% if page.title %}{{ page.title }} {% else %} {{ site.title }} {% endif %}</title>
  <meta name="description" content="{% if page.description %} {{ page.description }} {% else %} {{ site.description }} {% endif %}">
  <meta name="robots" content="noindex">
  <!-- Usemin CSS
  ================================================== -->
  <!-- build:css({app,.tmp}) /css/application.css -->
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto|Merriweather:400,700,400italic">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <!-- endbuild -->

  <!-- Usemin JS
  ================================================== -->
  <!-- build:js(app) /js/modernizr-min.js -->
  <script type="text/javascript" src="/_bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->

  <!-- Canonical URL
  ================================================== -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- RSS FEED
  ================================================== -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml">

  <!-- favicon
  ================================================== -->
  <link rel="shortcut icon" href="favicon.ico">

  <!-- Open Graph: https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/
  Twitter: https://dev.twitter.com/docs/cards/types/summary-card
  ============================== -->
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:url" content="{{ page.url }}" />
  <meta property="og:description" content="{% if page.intro %} {{ page.intro }} {% else %} {{ site.description }} {% endif %}" />
  <meta property="article:published_time" content="{{ page.date }}" />
  <meta property="article:modified_time" content="{{ page.date }}" />
  <meta property="article:author" content="https://twitter.com/MagDuWebdesign" />
  <meta property="og:site_name" content="Magazine du Webdesign" />
  {% if page.image %}
  <meta property="og:image" content="{{ page.image | prepend:'/img/medium/' }}" />
  {% endif %}

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@MagDuWebdesign" />
  <meta name="twitter:creator" content="@guillaumpalayer">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{% if page.intro %} {{ page.intro }} {% else %} {{ site.description }} {% endif %}">
  {% if page.image %}
  <meta name="twitter:image:src" content="{{ page.image | prepend:'/img/medium/' }}" />
  {% endif %}

</head>
