<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% if page.title %}{{ page.title }} {% else %} {{ site.title }} {% endif %}</title>
  <meta name="description" content="{% if page.description %} {{ page.description }} {% else %} {{ site.description }} {% endif %}">
  <meta name="robots" content="noindex">
  <!-- Usemin CSS
  ================================================== -->
  <!-- build:css({app,.tmp}) /css/application.css -->
  <!-- Custom CSS -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto|Merriweather:400,700,400italic">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/_bower_components/swiper/dist/css/swiper.min.css">
  <link rel="stylesheet" href="/_bower_components/fluidbox/css/fluidbox.css">
  <!-- endbuild -->

  <!-- Usemin JS
  ================================================== -->
  <!-- build:js(app) /js/modernizr-min.js -->
  <script type="text/javascript" src="/_bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->

  <!-- Canonical URL
  ================================================== -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- RSS FEED
  ================================================== -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml">

  <!-- favicon
  ================================================== -->
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <meta name="apple-mobile-web-app-title" content="Magazine du Webdesign">
  <meta name="application-name" content="Magazine du Webdesign">
  <meta name="msapplication-TileColor" content="#ff5700">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#ff5700">

  <!-- Open Graph: https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/
  Twitter: https://dev.twitter.com/docs/cards/types/summary-card
  ============================== -->
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:url" content="{{ page.url }}" />
  <meta property="og:description" content="{% if page.intro %} {{ page.intro }} {% else %} {{ site.description }} {% endif %}" />
  <meta property="article:published_time" content="{{ page.date }}" />
  <meta property="article:modified_time" content="{{ page.date }}" />
  <meta property="article:author" content="https://www.facebook.com/guillaume.palayer" />
<meta property="article:publisher" content="https://www.facebook.com/MagazineDuWebdesign" />
  <meta property="og:site_name" content="Magazine du Webdesign" />
  <meta property="fb:app_id" content="417313274987698" />
  <meta property="og:locale:alternate" content="fr_FR" />
  {% if page.image %}
  <meta property="og:image" content="{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" />
  <meta property="og:image:width" content="1024" />
  {% endif %}
  <meta property="og:locale:alternate" content="fr_FR" />
  {% if page.id-youtube %}
  <meta property="og:video" content="https://www.youtube.com/watch?v={{ page.id-youtube }}" />
  {% endif %}
  {% if page.id-vimeo %}
  <meta property="og:video" content="https://vimeo.com/{{ page.id-vimeo }}" />
  {% endif %}

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@MagDuWebdesign" />
  <meta name="twitter:creator" content="@MagDuWebdesign">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{% if page.intro %} {{ page.intro }} {% else %} {{ site.description }} {% endif %}">
  {% if page.image %}
  <meta name="twitter:image:src" content="{{ page.image | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}" />
  {% endif %}

</head>
