@charset "UTF-8";
@import "settings";
// @import "foundation";
// Or selectively include components
@import 
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
"foundation/components/block-grid",
"foundation/components/breadcrumbs",
"foundation/components/button-groups",
"foundation/components/buttons",
"foundation/components/clearing",
"foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
"foundation/components/flex-video",
"foundation/components/forms",
"foundation/components/grid", 
"foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
"foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
"foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
"foundation/components/reveal",
"foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
"foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
"foundation/components/top-bar",
"foundation/components/type",
//   "foundation/components/offcanvas",
"foundation/components/visibility";

//

// Table of Contents
// Vanilla CSS
// a.  COLOR
// b.  TYPOGRAPHIE
// c.  GLOBAL
// 01. MEDIA QUERIES
// 01. TOP BAR
// 02. SECTION BRIEF
// 02. SECTION TWITTER
// 02. SECTION HERO
// 02. SECTION CATEGORIE
// 02. SECTION ARTICLE BLOG + PAGE EDITORIALE
// 00. SECTION REFERENCES ARTICLE
// 00. SECTION COMMENTAIRE
// 00. SECTION ENCYCLO
// 00. SECTION COLLECTIONS
// 00. SECTION COLLECTION
// 00. SECTION JOB
// 00. SECTION VIDEO
// 00. SECTION CITATION
// 00. SECTION SWIPER MODULE
// 02. FOOTER
// 00. 404

// az. @MIXINS
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Utilisé pour contrôler le style des liens en header d'index
@mixin header-liste-link($font-size: rem-calc(14), $color: $aluminum) {
 	font-size:$font-size;
	padding:0;
	color:$color
}
// Utilisé pour contrôler le style des header d'index
@mixin header-liste($bg: $white) {
	padding:rem-calc(48) 0;
	background-color:$bg;
	border-bottom:1px solid $secondary-color
}
// Utilisé pour contrôler le style des titres d'header d'index
@mixin header-liste-title($margin:rem-calc(24),$color: $white) {
	margin-bottom:$margin;
	color:$color
}
// Utilisé pour contrôler le style des blends image
@mixin blend($padding: $rem-base,$color: $black, $opacity:.4) {
	height:100%;
	width: 100%;
	padding:$padding;
	background-color:rgba($color,$opacity);
	box-shadow:inset 0 0 rem-calc(24) rgba($color,.2)
}
// Utilisé pour contrôler le style des arrière-plans en image
@mixin header-bgimg($bgsize: cover,$bgposition: center) {
	background-size:$bgsize;
	background-position:$bgposition;
	background-color: linear-gradient(-45deg, #FF5700 0%,#f33f58 100%);
}
// Utilisé pour contrôler le style de blocs nécessitant une hauteur de 48px et pas de marge bottom
@mixin item-row($mbottom: 0,$lineh: 48, $fontsize: 14) {
	margin-bottom:$mbottom;
	line-height:rem-calc($lineh);
	font-size:rem-calc($fontsize);
}
// Utilisé pour contrôler le style des paragraphes serif
@mixin font-serif-paragraphe($fontsize: 18,$lineh: 27) {
	font-family:$font-family-serif;
	font-size:rem-calc($fontsize);
	line-height:rem-calc($lineh)
}

@mixin font-sans-serif-paragraphe($fontsize: 16,$lineh: 24) {
	font-family:$font-family-sans-serif;
	font-size:rem-calc($fontsize);
	line-height:rem-calc($lineh)
}
// a. COLOR
// - - - - - - - - - - - - - - - - - - - - - - - - -
$twitter:#00ACED;
$facebook:#3B5998;
$googleplus:#CC3732;
$linkedin:#0077B5;
// color gradient (via the awesome tool http://uigradients.com/)
.cherry{background: linear-gradient(90deg, #EB3349 10%, #F45C43 90%);}
.kashmir{background: linear-gradient(90deg, #614385 10%, #516395 90%);}
.midnight-city{background: linear-gradient(90deg, #232526 10%, #414345 90%);}
.pinot-noir{background: linear-gradient(90deg, #4b6cb7 10%, #182848 90%);}
.amethyste{background: linear-gradient(90deg, #9D50BB 10%, #6E48AA 90%);}
.electric-violet{background: linear-gradient(90deg, #4776E6 10%, #8E54E9 90%);}
.messenger{background: linear-gradient(90deg, #00c6ff 10%, #0072ff 90%);}
.shrimpy{background: linear-gradient(90deg, #e43a15 10%, #e65245 90%);}
.vine{background: linear-gradient(90deg, #00bf8f 10%, #001510 90%);}
.instagram{background: linear-gradient(90deg, #517fa4 10%, #243949 90%);}
.wine{background: linear-gradient(90deg, #870000 10%, #190A05 90%);}
        

// b. TYPOGRAPHIE
// - - - - - - - - - - - - - - - - - - - - - - - - -
.titre-modal-box{font-family:$font-family-serif;font-size:$h3-font-size}
.twitter{color:$twitter!important}
.label--secondary{@include label($bg:$secondary-color,$radius:$global-radius);top:rem-calc(-16)}
.label--new{@include label($bg:$secondary-color,$radius:$global-radius);top:rem-calc(-8)}
.highlight {
	background:$jet;
	overflow:auto;
	font-family:$font-family-monospace;
	font-size: rem-calc(14);
	border-radius:$global-radius;
	padding:$rem-base;
	margin-bottom:rem-calc(24)
}
.highlight code {
	padding:0;
	color:$white
}
ul{list-style-position: inside;}

// c. GLOBAL
// - - - - - - - - - - - - - - - - - - - - - - - - -
.header-liste{@include header-liste}
.header-liste.u-no-padding-bottom{padding-bottom: 0}
	.header-liste-content{@include font-sans-serif-paragraphe; color: $aluminum;}
	.header-liste-content.u-no-margin-b{@include font-sans-serif-paragraphe; margin-bottom: 0; color: $aluminum;}
	.header-liste-link a{@include header-liste-link}
	.header-liste-link a:hover{color:$oil}
.row-liste-index {
  @include grid-row;
  max-width:640px;
}
.section-header{
	padding:0 rem-calc(20);
	line-height:rem-calc(48);
}
.section-header-titre{
	margin-bottom:0;
	display:inline;
	font-size:rem-calc(14);
	color:$jumbo
}
.section-carte-panel {
  @include panel;
  margin-bottom:0;
	border-bottom-width:rem-calc(2);
	border-top-width:0;
}
.section-carte-index-panel {
	@include panel($padding:0);
	border-bottom-width:rem-calc(2);
	border-top-width:0;
}
.section-carte-panel h1{
  font-size:($rem-base * 1.5);
  line-height:($rem-base * 1.5)
}
.section-carte-action, .section-carte-header {
	margin-bottom:rem-calc(24);
	padding:0 $rem-base;
	border:1px solid $secondary-color;
	border-bottom-width:rem-calc(2);
	border-top-width:0;
	background-color:$white;
	line-height:rem-calc(48); 
	font-size:rem-calc(14)
}
.section-carte-header{
	margin-bottom:0;
	border-top:1px solid $secondary-color;
	border-bottom:0
}
.section-carte-header-no-bg{
	padding:0 $rem-base;
}
.section-carte-action.mod-article-video-action-relative, .section-carte-header.mod-article-video-header-relative{
	border:0
}
	.section-carte-header-title{
		@include item-row;color:$jumbo
	}
	.section-carte-header-title.mod-videos-relatives{
		@include item-row;
		color:$jumbo;
		border-bottom: 1px solid $secondary-color
	}
	.section-carte-header-title-big{
		margin: rem-calc(48 0 24);
		font-size: $h2-font-size;
	}
	.section-carte-action a, .section-carte-header a{
		padding:0;
		color:$aluminum
	}
	.section-carte-action a:hover, .section-carte-header a:hover{color:$oil}

//article-prioritaire
.carte-article-prioritaire{
	@include header-bgimg;
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.2%;
}
	.carte-article-prioritaire-content{padding:$rem-base}
	.carte-article-prioritaire-title{font-size: $h3-font-size; line-height:rem-calc(24)!important; color:$white!important}

//article-secondaire
.carte-article-secondaire{
	min-height:($rem-base * 7);
	padding:$rem-base;
	transition: all .2s cubic-bezier(.42, 0, 1, 1); 
	-webkit-transition: all .2s cubic-bezier(.42, 0, 1, 1); 
	-moz-transition: all .2s cubic-bezier(.42, 0, 1, 1); 
	-webkit-transform: translateZ(0) scale(1,1);
}
.carte-article-secondaire.mod-index-videos{
	min-height:rem-calc(48);
}
.carte-article-secondaire.mod-videos-relatives{
	min-height:rem-calc(72);
}
.carte-article-secondaire.mod-article-1-col, 
.carte-article-secondaire.mod-article-thumbnail-1-col, 
.carte-article-secondaire.mod-article-thumbnail-app-icon{
	position: relative;
	@include panel($padding:$rem-base);
	margin-bottom:0;
	border-radius:$global-radius;
	border-bottom-width: rem-calc(2);
	border-top-width: 0;
}
.carte-article-secondaire.mod-article-thumbnail-app-icon{
	margin-top: rem-calc(18)!important;
}
.carte-article-secondaire.mod-article-thumbnail-1-col-ratio-8-11{
	@include panel($padding:$rem-base);
	margin-bottom:0;
	border-radius:$global-radius;
	border-bottom-width: rem-calc(2);
	border-top-width: 0;
  position: relative;
  top: rem-calc(8);
  margin: rem-calc(0 8)!important; 
}
.carte-article-secondaire.mod-index-video-one-col-action{
	@include panel($padding:0);
	position: relative;
  width: 100%;
  height: 0;
	margin-bottom:0;
	border-radius:$global-radius;
	border-bottom-width: rem-calc(2);
	border-top-width: 0;
  padding-bottom: 56.2%;
}
.carte-article-secondaire.mod-index-one-col-action{
	position: relative;
	min-height: rem-calc(48);
	line-height: 48px;
	height: 48px;
	border-bottom: 1px solid $secondary-color;
}
@media #{$small-only} {
	.carte-article-secondaire.mod-article-1-col, .carte-article-secondaire.mod-article-thumbnail-1-col{
		min-height: rem-calc(48);
	}
	.carte-article-secondaire.mod-article-thumbnail-1-col-ratio-8-11{
		min-height: rem-calc(130);
	}
	.carte-article-secondaire.mod-index-video-one-col-action{
		min-height: rem-calc(48);
		line-height: 48px;
		height: 48px;
	  padding-bottom: 0;
	}
}
@media #{$medium-up} {
	.carte-article-secondaire.mod-article-1-col{
		min-height: rem-calc(192);
		max-height: rem-calc(192)
	}
	.carte-article-secondaire.mod-article-thumbnail-1-col, .carte-article-secondaire.mod-article-thumbnail-1-col-ratio-8-11{
		min-height: rem-calc(128);
		max-height: rem-calc(128)
	}
}
	.carte-article-secondaire:hover{
		background-color: scale-color($white, $lightness: -5%);
		transition: all .2s cubic-bezier(.42, 0, 1, 1); 
		-webkit-transition: all .2s cubic-bezier(.42, 0, 1, 1); 
		-moz-transition: all .2s cubic-bezier(.42, 0, 1, 1); 
		-webkit-transform: translateZ(0) scale(1,1);
	}
		.carte-article-secondaire-thumbnail{
		@include header-bgimg;
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 56.2%;
		border: 1px solid $secondary-color;
	}
	.carte-article-secondaire-thumbnail.mod-thumbnail-ratio-8-11{
		padding-bottom: 137.2%;
		box-shadow: inset rem-calc(3) 0 0 rgba($black,.2);
		border-radius: rem-calc(2 4 4 2);
	}
	.carte-article-secondaire-thumbnail.mod-thumbnail-action, .carte-article-secondaire-thumbnail.mod-thumbnail-action-ratio-8-11{
		background-color:$secondary-color;
	}
	.carte-article-secondaire-thumbnail.mod-thumbnail-action-white{
		background-color:$white;
		border-top: 0;
		border-bottom: 0;
	}
	.carte-article-secondaire-thumbnail-app-icon{
		width: rem-calc(64)!important;
		height: rem-calc(64);
		margin: rem-calc(-34) auto rem-calc(16);
		border-radius: rem-calc(4);
	}
	.carte-article-secondaire-post-title{
		margin: rem-calc(0 16 0 0);
		font-size: $h3-font-size;
		line-height: 1.4!important;
		color: $jet
	}
	.carte-article-secondaire-post-title.mod-videos-relatives-post-title{
		font-size: $rem-base;
	  line-height: rem-calc(20)
	}
	.carte-article-secondaire-post-title.mod-small-title{
		margin: 0;
		font-size: $rem-base;
		font-weight: $font-weight-bold;
	}
	.carte-article-secondaire-post-description{margin: rem-calc(8 0 0);font-size: rem-calc(14);line-height:rem-calc(21);color:$aluminum!important}
	.carte-article-secondaire img{width:rem-calc(140)}
	.carte-article-secondaire-container-action{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%
	}
	.carte-article-secondaire-action-texte{
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		font-size: rem-calc(14);
		color: $aluminum!important
	}
	.carte-article-secondaire-action-link{color: $aluminum!important}

// article meta-data
.article-meta-data-right{
	@include grid-column($columns:12,$center:true,$collapse:false);
	max-width: rem-calc(640);
	padding: rem-calc(48 16 48 16);
}
.article-meta-data-right.mod-article-contenu-meta-data{
	@include grid-column($columns:12,$center:true,$collapse:false);
	max-width: rem-calc(640);
	padding: rem-calc(0 20 24);
	margin-bottom: rem-calc(24);
}
@media #{$large-up} {
	.article-meta-data-right{
		@include grid-column($columns:3,$center:false,$collapse:true);
		float: right!important;
		max-width: rem-calc(240)!important;
		padding: rem-calc(0 0 48 24);
	}
	.article-meta-data-right.mod-article-contenu-meta-data{
		padding: rem-calc(0 0 24 20);
	}
}

// side-nav
.side-nav.mod-article-meta-data{
	border:1px solid $secondary-color;
	border-radius: $global-radius;
	.article-meta-data-header-title{
		@include item-row;
		color: $aluminum;
		border-bottom:1px dotted $secondary-color;
	}
}

//shadow
.shadow-img{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color:rgba($black,.4);
	box-shadow: inset 0 0 rem-calc(24) rgba($black,.2);
	transition: all .2s cubic-bezier(.42, 0, 1, 1); 
	-webkit-transition: all .2s cubic-bezier(.42, 0, 1, 1); 
	-moz-transition: all .2s cubic-bezier(.42, 0, 1, 1); 
	-webkit-transform: translateZ(0) scale(1,1);
	border-radius: $global-radius;
}
.shadow-img:hover{
	background-color: rgba($black,.6);
	transition: all .2s cubic-bezier(.42, 0, 1, 1); 
	-webkit-transition: all .2s cubic-bezier(.42, 0, 1, 1); 
	-moz-transition: all .2s cubic-bezier(.42, 0, 1, 1); 
	-webkit-transform: translateZ(0) scale(1,1);
}

.gradient-shadow-img{
	position: absolute;
	left: 0;
	top: 0;
	@include blend;
	border-radius: $global-radius;
	opacity: 0;
	background: -webkit-linear-gradient(-45deg, #FF5700 0%,#f33f58 100%);
	background: linear-gradient(-45deg, #FF5700 0%,#f33f58 100%);
	transition: opacity .2s cubic-bezier(.42, 0, 1, 1); 
	-webkit-transition: opacity .2s cubic-bezier(.42, 0, 1, 1); 
	-moz-transition: opacity .2s cubic-bezier(.42, 0, 1, 1); 
	-webkit-transform: translateZ(0) scale(1,1);
}	
.gradient-shadow-img:hover{
	opacity: 0.7;
	transition: opacity .2s cubic-bezier(.42, 0, 1, 1); 
	-webkit-transition: opacity .2s cubic-bezier(.42, 0, 1, 1); 
	-moz-transition: opacity .2s cubic-bezier(.42, 0, 1, 1); 
	-webkit-transform: translateZ(0) scale(1,1);
}
.gradient-shadow-img-icon{
	opacity: 1;
	position: absolute;
	left: 50%;
	top: 50%;
	width: rem-calc(48);
	height: rem-calc(48);
	margin: rem-calc(-24 0 0 -24)
}
	.gradient-shadow-img:hover > .gradient-shadow-img-icon{
		transform: translate3d(0, 0, 0);
		transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
	}
	.gradient-shadow-img > .gradient-shadow-img-icon{
		transform: translate3d(0, -24px, 0);
		transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
	}
.gradient-shadow-img-icon.mod-icon-open-new{
	width: rem-calc(24);
	height: rem-calc(24);
	margin: rem-calc(-12 0 0 -12)
}
	.carte-article-secondaire-thumbnail:hover > .gradient-shadow-img-icon.mod-icon-open-new{
		transform: translate3d(0, 0, 0);
		transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
	}
	.carte-article-secondaire-thumbnail > .gradient-shadow-img-icon.mod-icon-open-new{
		transform: translate3d(0, -12px, 0);
		transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
	}

//reveal
.close-reveal-modal{
	position:relative!important;
	top:0!important;
	right:0!important;
	display:block;
	margin:0 auto ($rem-base * 1.5);
	width:24px
}

//partage
.partage-facebook{@include button($bg:$facebook,$full-width:true,$radius:2px); margin-bottom:0; color:$white!important}
.partage-twitter{@include button($bg:$twitter,$full-width:true,$radius:2px); margin-bottom:0; color:$white!important}

.link-partage {@include item-row}
	.link-partage a {color:$aluminum}
	.link-partage.mod-partage-index-quote a {color:$white}
	.link-partage.mod-partage-index-quote a:hover {color:$gainsboro}
	.link-partage a:hover{color:$topbar-link-color-hover}
	.link-partage-url{margin-top:($rem-base * 1.5)}

// button
.button-without-border{@include button($bg:false, $radius:2px); margin-bottom:0;}
.button-without-bg{@include button($bg:false, $radius:2px);border:1px solid $primary-color}

// breadcrumb
.breadcrumbs{margin-bottom:rem-calc(0)}

// icons
.ic_block-h64-ic-left{
	display: inline-block;
  vertical-align: middle;
  margin:rem-calc(20 16 20 0);
}
@media #{$small-only} {
	.ic_block-h64-ic-left{margin:rem-calc(16 16 16 0);}
}
.ic_block-h64-text-left{display:inline-block;vertical-align:middle;margin:0;}
.ic_block-h64-no-text{display:inline-block;vertical-align:middle;margin:rem-calc(0)}
.ic_block-h64-chevron{display:inline-block;vertical-align:middle;margin-left:rem-calc(4)}
.ic-block-h24{display:inline-block;vertical-align:middle;margin:rem-calc(-2 8 0 0)}
.ic-block-h24--share{display:inline-block;vertical-align:middle;margin-top:rem-calc(-4)}
.ic-block-h48{display:inline-block;vertical-align:middle;margin-right:rem-calc(8)} 
.ic-block-h48-title-left{position:relative;top:rem-calc(12);margin:rem-calc(0 8 8 0)} 
.rounded-img-d64{width:rem-calc(64)!important;height:rem-calc(64)!important;margin:0 auto rem-calc(24);border-radius:50%;background-size: cover;
background-position: center}
.rounded-img-d40{width:rem-calc(40)!important;height:rem-calc(40)!important;margin:0 auto;border-radius:50%;background-size: cover;
background-position: center}
.app-icon-64{
	max-width: rem-calc(64);
	max-height: rem-calc(64);
	margin-bottom: rem-calc(24);
	border-radius: rem-calc(4);
}
.app-icon-24{
	// for dropdown
	display:inline-block;
	vertical-align:middle;
	margin:rem-calc(-2 8 0 0);
	max-width: rem-calc(24);
	max-height: rem-calc(24);
	border-radius: $global-radius;
}

// loader
.infinite-spinner {
  display: block;
  width: rem-calc(40);
  height: rem-calc(40);
  border-radius: rem-calc(40);
  background-color: $primary-color;
  margin: rem-calc(60) auto;
  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

// tabs
.tabs{margin-bottom: rem-calc(24)}
.tabs.mod-sub-header{
	margin-bottom: 0;
	border-bottom:1px solid $secondary-color;
	border-top: 1px solid $secondary-color
}
.tabs.u-no-margin-b{margin-bottom: 0}
	.tabs-item{
		display:inline-block;
		@include header-liste-link;
		line-height:rem-calc(48);
		padding:rem-calc(0 16)
	}
	.tabs-item:hover{color:$oil}
	.tabs-item.is-active{border-bottom:2px solid $primary-color}
	.tabs-item.mod-sub-header.is-active{border-bottom:0; color: $black}
	.tabs-item:hover.is-active{border-bottom:2px solid scale-color($primary-color, $lightness: -16%)}
	.tabs-item.mod-sub-header:hover.is-active{border-bottom:0}

//img
.figure-img{margin: 0}
.figure-img.mod-article-couverture-livre{margin: 0 0 rem-calc(24)}
.figure-img.mod-note-img{margin: 0 rem-calc(-24) 0}
.figure-img.mod-app-screenshot{border: 1px solid $secondary-color;}
@media #{$small-only} {
	.figure-img.mod-note-img {margin: 0 rem-calc(-16) 0;}
}

//video
.figure-video{margin: 0}
.figure-video.mod-article-video{margin: 0 0 rem-calc(24)}
.figure-video.mod-note-video{margin: 0 rem-calc(-24) 0}
@media #{$small-only} {
	.figure-video.mod-note-video {margin: 0 rem-calc(-16) 0;}
}

//navigation
.navigation-sub-header{background-color:$secondary-color}

//label
.label-price{
	position: absolute;
	right: 0;
	top: 0;
	font-size: rem-calc(14);
	color: $primary-color
}
// 01. TOP BAR
// - - - - - - - - - - - - - - - - - - - - - - - - -
.dropdown{
	top:rem-calc(2)!important;
	box-shadow:0 1px 2px rgba($aluminum,.2)
}
.headroom {transition: transform 200ms linear}
.headroom--not-top {box-shadow:0 1px 2px rgba($aluminum,.2)}
.headroom--pinned {transform: translateY(0%)}
.headroom--unpinned {transform: translateY(-100%)}
.name{
	padding:0 $rem-base;
	font-size:$topbar-height;
}
.name a{
	color:$aluminum;
 	font-size:rem-calc(20)
}
.logo{margin:rem-calc(12 16 12 0)}
	.logo-title{
		float: left;
		margin-right: rem-calc(8);
	}
	.logo-orange{display:block; line-height:rem-calc(20)!important; margin-top: rem-calc(12)!important; color:$primary-color;}
	.logo-grey{display:block; line-height:rem-calc(20)!important; color:$aluminum;}
.topbar-partage-item{padding-left:0!important}
.topbar-partage-facebook{background-color:$facebook !important; margin-bottom:0; color:$white!important}
.topbar-partage-facebook:hover{background-color: scale-color($facebook, $lightness: -16%)!important}
.topbar-partage-twitter{background-color:$twitter !important; margin-bottom:0; color:$white!important}
.topbar-partage-twitter:hover{background-color: scale-color($twitter, $lightness: -16%)!important}
.top-bar-section .dropdown li a {
	padding:rem-calc(0 16);
	line-height:rem-calc(48)!important
}
@media #{$small-only} {
	.top-bar {
		height:rem-calc(56);
		line-height:rem-calc(56)
	}
	.top-bar.expanded{border-bottom: 2px solid $secondary-color}
	.top-bar .name{height:rem-calc(56)}
	.top-bar .name span, .name{line-height:rem-calc(56)}
	.logo{margin:rem-calc(8 8 8 0)}
	.fixed.expanded:not(.top-bar) .top-bar-section {margin-top:rem-calc(56)}
	.ic-hide-for-small{display:none}
}
@media #{$medium-only} {
	.topbar-partage{
		position: absolute;
		right: 0;
		padding-left: rem-calc(16)!important;
		background-color:$white
	}
}
@media #{$medium-up} {
	.topbar-breadcrumb:before {
	content: "/";
	color: #AAAAAA;
	margin:rem-calc(0 12);
	position: relative
	}
	.topbar-brief-twitter{
		float:right!important;
		position: absolute;
		right: 0;
		background-color:$white,
	}
}

// 02. SECTION BRIEF
// - - - - - - - - - - - - - - - - - - - - - - - - -
.section-brief-header{
	padding:0 rem-calc(24);
	line-height:rem-calc(48)
}
.section-brief-header-titre{
	margin-bottom: 0;
	display:inline;
	font-size:rem-calc(14);
	color:$jumbo
}
.section-brief-header-baseline{
	font-size:rem-calc(14);
	color:$tuatara
}
.section-brief-panel{
	@include panel($padding:rem-calc(24));
	padding-bottom:0;
	margin-bottom:0
}
@media #{$small-only} {
	.section-brief-panel{@include panel($padding:$rem-base);margin-bottom:0}
	.section-brief-header{padding:0 rem-calc(16)}
}
.note{padding:rem-calc(24) 0 0;border-top:1px solid $secondary-color}
.note-first{padding:0;border-top:0}
.note-source-id{margin-bottom:($rem-base / 2)}
.note-source-name{
	font-size:rem-calc(14);
	color:$jumbo
}
.note-content{cursor: pointer}
.note h1{
	display:inline;
	font-size:$h3-font-size;
	font-weight:$font-weight-bold
}
.note h1:hover{color:$jet}
.note-figcaption, .note p, .note blockquote{@include font-serif-paragraphe}
.note-flex-video{@include flex-video-container();margin-bottom:0}
.note-container-img{
	width: 100%;max-width: 100%
}
.note-figcaption{min-height:rem-calc(48);font-size:rem-calc(14);line-height:rem-calc(20);padding:rem-calc(12) rem-calc(16) 0;font-style:italic;color:$aluminum}
@media #{$medium-up} {
	.note-figcaption{line-height:rem-calc(48);padding:rem-calc(0) rem-calc(24) 0;}
}

// 00. SECTION TWITTER
// - - - - - - - - - - - - - - - - - - - - - - - - -
.panel-twitter {
	@include panel($bg:$twitter,$adjust:true);
	border-bottom-width:rem-calc(2);
	border-top-width:0
}
.panel-twitter a {
  color:$white;
  font-weight:$font-weight-bold
}
.panel-twitter a:hover {color:scale-color($white, $lightness: -16%)}
@media #{$small-only} {
	.carte-twtr-text{
		display:block;
		margin-bottom:$rem-base
	}
}

// 00. SECTION CATEGORIE
// - - - - - - - - - - - - - - - - - - - - - - - - -
.carte-categorie {
  @include panel($padding:0);
  margin-bottom:0
}
@media #{$small-only} {
	.carte-categorie-article-prioritaire{height:rem-calc(224)}
}

// 00. ARTICLE BLOG + PAGE EDITORIALE
// - - - - - - - - - - - - - - - - - - - - - - - - -

// header
.header-article-bgimg{@include header-bgimg}
.header-article-bgimg-shadow{@include blend($padding:0)}
.header-article-bgimg-conteneur{
	height:($topbar-height * 6);
	display: table;
	width: 100%;
}
.header-article-bgimg-cellule{
	display: table-cell;
	vertical-align: bottom;
	padding-bottom: rem-calc(24);
}
.header-article-bgimg-cellule h1{@include header-liste-title}
.column-article-featured-image-caption{border-bottom:1px dotted $secondary-color}
.column-article-featured-image img {width:100%}
.column-article-featured-image-caption p{
	@include item-row;
	font-style: italic;
	color:$aluminum
}
.header-article-link {@include item-row}
.header-article-link a{@include header-liste-link($color:$primary-color)}
.article-meta-by-time{
	@include grid-column(3);
	@include header-liste-link;
	width:rem-calc(240)
}
.article-meta-by-time.mod-article-right-meta{
	@include grid-column(3);
	float: right!important;
	width:rem-calc(240);
	padding: rem-calc(0 0 0 24)
}
.article-meta-item-by{
	@include item-row($lineh:24);
	font-weight:$font-weight-bold
}
.article-meta-auteur{
	@include item-row;
	border-bottom:1px dotted $secondary-color
}
.article-meta-item-time{@include item-row}
.article-bgimg-meta-by-time{@include header-liste-link; margin-bottom:rem-calc(24);}
.row-article-featured-image {
  @include grid-row;
  .column-article-featured-image{
    @include grid-column(12);
	  padding:0!important
  }
}
.column-header-article{padding-top:rem-calc(48)}
.column-header-article.mod-header-article-no-margin-top{padding-top:rem-calc(0)}

// body
.row-body-article {
  @include grid-row;
  .column-body-article, .column-header-article, .column-article-featured-image-caption {
    @include grid-column($columns:12,$center:true,$collapse:false);
	  max-width:rem-calc(640);
	  float:none!important
  }
}
.row-body-article.item-contenu {padding-top:rem-calc(48)}

// main
.page-editoriale-intro{
	@include grid-column($columns:12,$center:true,$collapse:false);
	max-width: rem-calc(640)
}
.article-intro, .page-editoriale-intro p{font-style:italic;color:$black}
main.column-body-article p, main.column-body-article ul, main.column-body-article ol, main.column-body-article blockquote, .page-editoriale-intro p{
	@include font-serif-paragraphe
}
main.column-body-article h2, main.column-body-article h3,{
	margin-top: rem-calc(48);
	font-weight: $font-weight-bold;
}
.article-meta-footer, .article-via{
	@include item-row;
	display:block;
	margin-bottom:rem-calc(24);
	color:$aluminum;
	border-bottom:1px dotted $secondary-color
}
.article-via{
	margin-bottom:0;
	border-bottom:0
}
.article-partage{margin-bottom:rem-calc(24)}
.article-partage-facebook{@include button($bg:$facebook,$radius:2px); margin-bottom:0; color:$white!important}
.article-partage-twitter{@include button($bg:$twitter,$radius:2px); margin-bottom:0; color:$white!important}
@media #{$small-only} {
	.row-body-article {
		.column-body-article{
			padding-left:rem-calc(20);
  		padding-right:rem-calc(20);
		}
	}
  .column-header-article{
  	padding-top:rem-calc(48);
  	padding-left:rem-calc(20)!important;
  	padding-right:rem-calc(20)!important
  }
  .column-header-article.mod-header-article-video{
  	padding-top:rem-calc(0);
  }
  .article-meta-footer, .article-via{
		@include item-row;
		margin-bottom:rem-calc(24);
		line-height:rem-calc(24)!important;
		padding-bottom: $rem-base;
	}
	.column-article-featured-image-caption{
		padding: rem-calc(0 20);
	}
}
@media #{$medium-only} {
	.row-article-featured-image {
	  @include grid-row;
	  .column-article-featured-image{@include grid-column(12)}
	  max-width: rem-calc(1024)!important;
	  padding:0!important
	}
  .column-header-article {padding-top:rem-calc(48)}
  .column-header-article.mod-header-article-video {padding-top:rem-calc(0)}
}
@media #{$large-up} {
	.row-body-article {
	  @include grid-row;
	  .column-body-article {
	    @include grid-column($columns:9,$last-column:true,$collapse:true);
		  max-width: rem-calc(640);
		  float:right!important;
		  padding:0!important
	  };
	  .column-body-article.mod-article-left-body{
		  @include grid-column($columns:9,$last-column:false,$collapse:true);
		  max-width: rem-calc(640);
		  float:left!important;
	  };
	  .column-header-article, .column-article-featured-image-caption {
	    @include grid-column(12);
		  max-width: rem-calc(940);
		  padding-left: 0;
		  padding-right: 0;
	  }
	  .page-editoriale-intro{
			@include grid-column($columns:3,$collapse:true);
			width:rem-calc(240)
		}
	}
}

// 00. PAGE EDITO
// - - - - - - - - - - - - - - - - - - - - - - - - -

.row-body-page {
  @include grid-row;
  .column-body-page{
    @include grid-column($columns:12,$center:true,$collapse:true);
	  max-width:rem-calc(640);
  }
}
// 00. SECTION NEWSLETTER
// - - - - - - - - - - - - - - - - - - - - - - - - -
.section-carte-newsletter{
	margin-bottom:rem-calc(24);
	padding:rem-calc(24);
}
.section-carte-newsletter.is-header-liste{margin-bottom:0}
.section-carte-newsletter h1{
	margin-bottom:rem-calc(24);
	font-size: $h2-font-size;
}
.section-carte-newsletter input, .reveal-modal input{
	margin-bottom:0;
	border-bottom:1px solid $secondary-color;
	border-top:0;
	border-left:0;
	border-right:0;
	box-shadow:0 0 0
}
.reveal-modal input{
	margin-bottom:1rem
}
@media #{$small-only}{
	.section-carte-newsletter input{
		margin-bottom:rem-calc(16)
	}
}

// 00. SECTION REFERENCES ARTICLE
// - - - - - - - - - - - - - - - - - - - - - - - - -
.section-carte-reference{margin-bottom:($rem-base * 1.5)}
.reference{margin-bottom:($rem-base * 1.5)}
.reference-name{font-size:rem-calc(14)}

// 00. SECTION ENCYCLO
// - - - - - - - - - - - - - - - - - - - - - - - - -
.carte-encyclo{border-bottom-width:rem-calc(1)}
.carte-encyclo:hover{background-color: scale-color($white, $lightness: -5%);color:$oil}
.encyclo-titre{
	font-size:$h3-font-size;
	color:$oil;
	font-weight:$font-weight-normal
}
.encyclo-titre:hover{background-color: scale-color($white, $lightness: -5%);color:$oil}
.breadcrumbs.is-encyclo{padding-top:0}
.encyclo-title{margin:0}
.encyclo-title-def{width:100%}

// 00. SECTION COMMENTAIRES
// - - - - - - - - - - - - - - - - - - - - - - - - -
.carte-commentaire{border-bottom:1px solid $secondary-color;}

// 00. SECTION COLLECTIONS
// - - - - - - - - - - - - - - - - - - - - - - - - -
.collection-index-article{
	position: relative;
	width: 100%;
	min-height: rem-calc(192);
	padding-bottom: 31.2%;
	margin-bottom:($rem-base * 1.5);
	@include header-bgimg;
	border-radius: $global-radius;
}
.collection-index-article-content{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	padding: rem-calc(16)
}
.collection-index-article-content h1{
	font-size: $h3-font-size;
	line-height:($rem-base * 1.5);
	color:$white
}
.collection-index-article-content p{color:$white}
.collection-index-article-shadow{@include blend}
.collection-index-article-shadow:hover{background-color:rgba($black,.6)}

// 00. SECTION COLLECTION
// - - - - - - - - - - - - - - - - - - - - - - - - -
.header-collection{
	min-height:($topbar-height * 4);
	@include header-liste($bg:transparent)
}
.header-collection-bgimg{@include header-bgimg}
.header-collection-shadow{@include blend($padding:0)}
.header-collection h1{@include header-liste-title}
.header-collection p{color:$white;}
.header-collection-link a{@include header-liste-link($color:$white)}

// 00. SECTION JOBS
// - - - - - - - - - - - - - - - - - - - - - - - - -
.job--notification-header a{display:block;line-height:rem-calc(48);background-color:$primary-color;color:$white}
.job--notification-header a:hover{background-color: scale-color($primary-color, $lightness: -16%)}
.job--valeurs-promesses {margin-bottom:rem-calc(24)}
.job--valeurs-promesses h2{font-size:$h3-font-size;margin-bottom:0}
.job--valeurs-promesses p{@include font-sans-serif-paragraphe; color:$aluminum}

// offres d'emploi index
.job--offres-carte-index{@include panel($padding:16)}
.job--entreprise-logo.is-offre{width:rem-calc(64)!important;height:rem-calc(64)!important;margin:0 auto rem-calc(24);background-size: cover;
background-position: center}
.job--entreprise-logo{width:rem-calc(40)!important;height:rem-calc(40)!important;margin:0 auto;border-radius:50%}
.job--offre-item{min-height:rem-calc(72)}
.job--entreprise{width:100%}
.job--description{display:block;font-size:$rem-base;line-height:rem-calc(24);color:$aluminum}
@media #{$large-up}{
	.row-body-article.job-offre--contenu{padding-top:rem-calc(48)}
	.job--valeurs-promesses p{margin-bottom:0}
}
// offres in article
.job--in-article{padding-top:rem-calc(24)}
.job--in-article.mod-job-in-article-first-position{padding-top:rem-calc(0)}
.job--in-article h1{margin-bottom:rem-calc(8);font-size:rem-calc(12);font-weight:$font-weight-bold;color:$aluminum}
.job--in-article p{margin-bottom:rem-calc(8)}
.job--in-article-to-board{color:$tuatara}

// 00. SECTION VIDEO
// - - - - - - - - - - - - - - - - - - - - - - - - -
.videos-index-video-item{
	margin-bottom: rem-calc(24);
}
	.videos-index-video-thumbnail{
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 56.2%;
		border-radius: $global-radius;
		background-size: cover;
		background-position: center center;
		border: 1px solid $secondary-color;
	}
@media #{$small-only} {
	.videos-index-video-thumbnail{
		width: 100%;
		height: 0;
		padding-bottom: 56.2%
	}
}
.videos-relatives-container{
	margin-left: rem-calc(8);
}
	.videos-relatives-carte-article{
		padding: 0;
	}
		.videos-relatives-carte-article-thumbnail{
			border: 1px solid $secondary-color;
		}
.yt-subscribe{
	@include item-row;
	display:block;
	margin-bottom:rem-calc(24);
	border-bottom: 1px solid $secondary-color;
	text-align: center;
	line-height: rem-calc(48);
	color:$aluminum
}
.yt-subscribe.mod-videos-index{
	border-bottom: 0;
}
.yt-subscribe-cta{
	display: inline-block;
	margin: rem-calc(0 8 -14);
	vertical-align: middle;
}

// 00. SECTION CITATION
// - - - - - - - - - - - - - - - - - - - - - - - - - 
.index-apprendre-quote{
	margin-top: rem-calc(48);
	padding-bottom: rem-calc(24);
}
.index-quote{
	margin: 0;
	padding: rem-calc(48 12); 
	border-left: 0;
}
.index-quote.mod-index-apprendre-quote{
	padding: rem-calc(48 0 24);
}
	.index-quote p{
		@include font-serif-paragraphe ($fontsize: 24,$lineh: 30);
		color: $white;
	}
	@media #{$small-only} {
		.index-quote p{
		@include font-serif-paragraphe ($fontsize: 20,$lineh: 24);
	}
	}
	.index-quote-author, .index-quote-author-link{
		font-size: $rem-base;
		color: $white!important;
	}
	.index-quote-author-link:hover{
		color: $gainsboro!important;
	}

// 00. SECTION SWIPER MODULE - SCREENSHOT APP MOBILE
// - - - - - - - - - - - - - - - - - - - - - - - - - 
.swiper-container {
  width: 100%;
  height: rem-calc(546);
  margin: 0 auto;
}
	.swiper-slide {
	  width: 290px!important;
	  /* Center slide text vertically */
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	  -webkit-box-pack: center;
	  -ms-flex-pack: center;
	  -webkit-justify-content: center;
	  justify-content: center;
	  -webkit-box-align: center;
	  -ms-flex-align: center;
	  -webkit-align-items: center;
	  align-items: center;
	}
	.swiper-pagination-bullet-active{
		background: $primary-color!important;
	}

// 00. FOOTER
// - - - - - - - - - - - - - - - - - - - - - - - - -
footer{
	color: $aluminum;
	margin-top:rem-calc(24);
	padding: rem-calc(24) 0;
}
footer a{color:$primary-color;}
footer a:hover{color: scale-color($primary-color, $lightness: -16%)}

// 00. 404 ERROR
// - - - - - - - - - - - - - - - - - - - - - - - - -
.pagenotefounderror{background-color:$warning-color}
.pagenotefounderror h1{color:$white}