---
layout: "default"
title: "Bienvenue sur le Magazine du Webdesign"
intro: "Un lieu unique pour découvrir le meilleur des interfaces. En ce moment, on y parle [Web design inspiration](http://www.magazineduwebdesign.com/inspirations/ui-design/sites-web/), [UI animations](http://www.magazineduwebdesign.com/inspirations/ui-design/animations/), [conseils pour designer](http://www.magazineduwebdesign.com/conseils/guides/design/), [kit UI](http://www.magazineduwebdesign.com/ressources/kits-ui/), [livres](http://www.magazineduwebdesign.com/conseils/livres/), [vidéos](http://www.magazineduwebdesign.com/videos/) et [événements](http://www.magazineduwebdesign.com/evenements/) pour designers et développeurs."
description: "Le Magazine du Webdesign sélectionne le meilleur du design et du développement Web – Web design inspirations, ressources et guides pour designer et développeur."
coming-soon: "false"
---

{% include header.html %}

{% include components/content-header-list.html %}
<section>
	<div class="row">
		<div class="small-12 columns text-center">
			<h2>✨ Pour vous</h2>
		</div>
	</div>
	{% include custom/cartes/carte_items-lastest-news.html %}
	{% include custom/cartes/carte_ad_leaderboard.html %}
	<div class="row">
		<div class="small-12 columns text-center">
			<h2 class="section-carte-header-title-big">😻 Pixels à explorer</h2>
		</div>
	</div>

	{% include custom/cartes/carte_items-thn_ressources-outils_home.html param="ressources-outils-services-developpement" %}
	{% include custom/cartes/carte_items-thn_ressources-outils_home.html param="ressources-outils-services-design" %}
	{% include custom/cartes/carte_items-thn_ressources_home.html param="ressources-kits-ui" %}
	{% include custom/cartes/carte_ad_liste-index-large.html %}
	{% include custom/cartes/carte_items-thn_ressources_home.html param="ressources-icones" %}
	<article class="row section-index-wide-carte">
		<div class="small-12 columns">
			<a href="/collection/45-sites-Web-inspirants-d-agences-web-design/" title="15 designs de site web ecommerce plus cool que Tobias van Schneider">
				<div class="collection-index-article mod-collection-in-index-wide" data-interchange="[{{ 'web-design-inspiration-baillat.jpg' | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/small/' }}, (small)],[{{ 'inspiration-ui-design-site-web-polo-fangio-1.jpg' | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/medium/' }}, (medium)],[{{ 'inspiration-ui-design-site-web-polo-fangio-1.jpg' | prepend:'https://s3-eu-west-1.amazonaws.com/mdw-images/large/' }}, (large)]">
					<div class="shadow-img">
						<div class="collection-index-article-content">
							<h1 class="collection-index-article-content-title mod-collection-title-in-index-wide text-center">45 sites Web inspirants d'agences et de studios de design</h1>
						</div>
					</div>
				</div>
			</a>
		</div>
	</article>
	{% include custom/cartes/carte_items-thn_videos_home.html param="videos" %}
	{% include custom/cartes/carte_items-thn_ressources_home.html param="ressources-themes-wordpress" %}
	{% include custom/cartes/carte_nl-index-large.html %}
	{% include custom/cartes/carte_items-no-thn-stocks-photos.html %}
	{% include custom/cartes/carte_twtr_index-large.html %}
</section>

<!-- list all sections
================================================== -->
{% include custom/cartes/carte_cross-navigation-app.html %}
